<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/AA_data_exploration_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration Assessment

## **Objectives**
Here’s the mystery we’re going to solve: which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?

A borough is just a fancy word for the district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London (here's some info for the curious). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

## **1. Sourcing and Loading**

### 1.1 Importing Libraries

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1.2.  Loading the data

In [61]:
houseprice_xls = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

In [63]:
properties = pd.read_excel('https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls', sheet_name='Average price', index_col= None)
properties

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,2022-09-01,830627.92842,348544.55308,604970.15477,402778.1912,579715.65953,512519.58532,849266.39672,431568.03593,542899.43609,...,217808.64959,211252.87161,251188.33102,253335.76477,359751.53833,543870.19531,400485.40296,334462.17766,NaN,312512.97569
334,2022-10-01,885696.33847,353195.14125,598727.6565,407103.40353,576500.99942,517698.22668,838390.76911,433740.73082,540875.80509,...,218636.7305,212345.64996,251278.76691,255278.01139,359425.4612,538194.84084,400595.97809,335281.14758,NaN,312878.02395
335,2022-11-01,954661.97133,357675.7384,589432.211,406588.79277,570808.32592,516619.17767,836717.61972,432290.33094,541102.72477,...,220668.69197,213120.71483,253901.39741,255091.08649,364910.26901,540433.18365,401390.23209,336876.64716,NaN,314625.84973
336,2022-12-01,953204.66901,359579.90996,591520.97288,410458.95974,563864.18263,519752.41804,850933.51313,433313.06694,548638.29352,...,219627.69946,213059.01122,255487.92142,256305.58628,362194.34493,539351.14375,403105.8697,331065.54279,NaN,313893.77267
337,2023-01-01,885406.47515,353635.45461,594529.67878,401801.51546,558238.93628,519294.0781,840254.34677,434426.23548,546164.5939,...,214430.59548,207634.72067,251177.24024,256693.67143,358113.58287,533985.89338,398367.70265,329690.82293,NaN,310158.62883

In [65]:
properties.shape

(338, 49)

## **2. Cleaning, transforming, and visualizing**

### 2.2. Cleaning the data

In [75]:
# Transpose the DataFrame
properties_T = properties.transpose()

# Check the row indexes
print(properties_T.index)

# Reset the index
properties_reset = properties_T.reset_index()

# Assign the values of the first row to the column headings
properties_reset.columns = properties_reset.iloc[0]

# Remove the first row
properties = properties_reset[1:]

Index(['borough', 'City of London', 'Barking & Dagenham', 'Barnet', 'Bexley',
       'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow',
       'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark',
       'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth',
       'Westminster', 'Unnamed: 34', 'Inner London', 'Outer London',
       'Unnamed: 37', 'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER',
       'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON',
       'SOUTH EAST', 'SOUTH WEST', 'Unnamed: 47', 'England'],
      dtype='object', name=0)

In [85]:
properties = properties.rename(columns={'Unnamed: 0': 'borough', 'Date': 'date'})
properties.head(10)

,borough,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,813979.74214,797892.55047,821514.79383,806856.05306,834332.03537,830627.92842,885696.33847,954661.97133,953204.66901,885406.47515
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,332604.43094,335021.08059,344835.81396,348109.0198,349807.27867,348544.55308,353195.14125,357675.7384,359579.90996,353635.45461
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,579950.33189,584662.31887,591029.86082,593474.16293,602160.5051,604970.15477,598727.6565,589432.211,591520.97288,594529.67878
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,384327.79155,386009.08336,389711.51594,395133.58979,400870.79852,402778.1912,407103.40353,406588.79277,410458.95974,401801.51546
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,518862.05779,528460.43896,531851.10266,548766.79416,559694.43572,579715.65953,576500.99942,570808.32592,563864.18263,558238.93628
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,486216.65363,490401.65768,500384.62433,503879.15903,511457.75191,512519.58532,517698.22668,516619.17767,519752.41804,519294.0781
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,879687.14239,852891.0364,835332.32524,844936.90678,854686.03613,849266.39672,838390.76911,836717.61972,850933.51313,840254.34677
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,412059.83866,414423.39049,414709.74768,418188.91886,426034.1741,431568.03593,433740.73082,432290.33094,433313.06694,434426.23548
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,511708.51961,516267.81921,526228.95905,537670.69169,542364.99333,542899.43609,540875.80509,541102.72477,548638.29352,546164.5939
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,439959.49854,445652.58013,445950.25995,446702.59613,451545.1731,455587.51839,463046.58357,463994.37022,467917.50301,463926.00966

In [83]:
properties_melt = pd.melt(properties, id_vars=['borough'], var_name='date', value_name='average_price')
properties_melt

                  borough       date average_price
0          City of London        NaT     E09000001
1      Barking & Dagenham        NaT     E09000002
2                  Barnet        NaT     E09000003
3                  Bexley        NaT     E09000004
4                   Brent        NaT     E09000005
...                   ...        ...           ...
16219              LONDON 2023-01-01  533985.89338
16220          SOUTH EAST 2023-01-01  398367.70265
16221          SOUTH WEST 2023-01-01  329690.82293
16222         Unnamed: 47 2023-01-01           NaN
16223             England 2023-01-01  310158.62883

[16224 rows x 3 columns]

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [ ]:
df_avg_price.isnull().sum()

In [ ]:
properties.info()

In [57]:
df_avg_price.head()

,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,813979.74214,797892.55047,821514.79383,806856.05306,834332.03537,830627.92842,885696.33847,954661.97133,953204.66901,885406.47515
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,332604.43094,335021.08059,344835.81396,348109.0198,349807.27867,348544.55308,353195.14125,357675.7384,359579.90996,353635.45461
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,579950.33189,584662.31887,591029.86082,593474.16293,602160.5051,604970.15477,598727.6565,589432.211,591520.97288,594529.67878
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,384327.79155,386009.08336,389711.51594,395133.58979,400870.79852,402778.1912,407103.40353,406588.79277,410458.95974,401801.51546
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,518862.05779,528460.43896,531851.10266,548766.79416,559694.43572,579715.65953,576500.99942,570808.32592,563864.18263,558238.93628

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [58]:
df_avg_price = df_avg_price.rename(columns={'Unnamed: 0': 'borough', 'Date': 'date', 'Average Price': 'average_price'})
df_avg_price

,borough,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,813979.74214,797892.55047,821514.79383,806856.05306,834332.03537,830627.92842,885696.33847,954661.97133,953204.66901,885406.47515
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,332604.43094,335021.08059,344835.81396,348109.0198,349807.27867,348544.55308,353195.14125,357675.7384,359579.90996,353635.45461
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,579950.33189,584662.31887,591029.86082,593474.16293,602160.5051,604970.15477,598727.6565,589432.211,591520.97288,594529.67878
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,384327.79155,386009.08336,389711.51594,395133.58979,400870.79852,402778.1912,407103.40353,406588.79277,410458.95974,401801.51546
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,518862.05779,528460.43896,531851.10266,548766.79416,559694.43572,579715.65953,576500.99942,570808.32592,563864.18263,558238.93628
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,486216.65363,490401.65768,500384.62433,503879.15903,511457.75191,512519.58532,517698.22668,516619.17767,519752.41804,519294.0781
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,879687.14239,852891.0364,835332.32524,844936.90678,854686.03613,849266.39672,838390.76911,836717.61972,850933.51313,840254.34677
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,412059.83866,414423.39049,414709.74768,418188.91886,426034.1741,431568.03593,433740.73082,432290.33094,433313.06694,434426.23548
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,511708.51961,516267.81921,526228.95905,537670.69169,542364.99333,542899.43609,540875.80509,541102.72477,548638.29352,546164.5939
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,439959.49854,445652.58013,445950.25995,446702.59613,451545.1731,455587.51839,463046.58357,463994.37022,467917.50301,463926.00966
11,Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,...,413093.93395,423002.93826,429540.86797,430964.48581,431356.48512,439016.60975,443108.39599,446242.56501,441714.6369,445079.52636
12,Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,...,604269.75365,594533.94122,612875.2108,630355.99711,648080.20942,649926.15814,652438.25673,653250.73479,638950.52894,635884.82732
13,Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,...,742294.21847,743928.94243,761047.31674,785468.24238,803908.95858,808978.52723,786156.30905,749282.65836,729454.00784,749382.83875
14,Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,...,576916.14073,582306.10714,585793.73316,591530.82018,596277.88065,612664.17561,613214.89212,620471.51886,612926.13432,613401.27824
15,Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,...,497390.86898,500741.51588,513079.66585,528845.98517,534870.6227,537016.36992,533676.30119,531427.18804,531009.18727,528213.05091
16,Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,...,414477.69908,418679.47367,420367.2113,420801.67853,423022.12634,428860.37502,431094.00884,436804.19415,440074.88105,434331.32418
17,Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,...,445750.78995,446482.65418,451600.68145,456479.84788,461601.15494,466942.96884,474323.83965,478674.56512,474514.77439,467411.02097
18,Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,...,427563.03418,432274.76695,447077.16068,450372.7051,452402.9727,456800.25016,458509.92166,464304.17813,458401.18796,469970.51378
19,Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,...,717190.30623,728697.6293,715544.79565,708925.87824,722131.24685,739531.79976,731348.73041,710460.91332,686826.41055,670999.29758
20,Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,...,1505901.4473,1494382.1524,1494061.7089,1493467.1296,1484858.2836,1487832.738,1349324.2963,1327185.3229,1234714.0652,1278199.5459
21,Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,...,520559.68803,529777.56477,531696.53516,549612.99781,552608.31093,563293.52183,568145.64372,568215.12078,568698.34292,570688.05798
22,Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,...,540994.18659,537730.47555,543948.95675,551053.30293,557871.18832,559830.57979,556101.70603,552534.61649,551279.02623,554374.26488
23,Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,...,446001.21538,445065.73568,452070.44289,461467.0629,471520.9948,469226.21519,465183.40505,464090.53481,469765.19068,462198.27328
24,Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,...,557889.74166,564595.4339,569444.93435,578627.40851,584285.22579,586157.37438,579801.55061,584590.35972,582000.68538,573718.52016
25,Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,...,395229.21959,403279.09175,407345.49979,417361.48192,416478.71378,418317.98051,422434.41803,426663.64756,428935.86703,432094.58419
26,Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,...,468829.23484,458333.91481,464109.31848,470653.96605,486226.36816,485741.20816,484881.00455,485860.00994,487311.15437,488376.29552
27,Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,...,755048.71632,750671.36024,758681.36288,746859.11823,766645.43329,767330.02914,768711.82459,752207.33261,746978.97835,756557.13355
28,Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,...,529325.80788,528328.45068,541996.393,551128.16488,554436.39353,556437.95396,554366.83024,561692.5959,555702.73184,558387.32722
29,Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,...,421430.83716,425756.66201,432717.63431,437858.3147,441306.70865,444471.74656,442442.05566,446250.23283,444011.91083,445260.37881
30,Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,...,466233.38019,471186.96298,473350.69008,476595.20612,473773.57779,481701.75522,487646.66692,492628.34419,497535.11994,488832.80329
31,Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,...,480045.15456,484948.93842,496414.58533,509491.58383,521506.71292,522386.14021,526278.95493,517764.58026,515696.06822,512507.86867
32,Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,...,634339.07945,629541.55503,629981.36654,634244.84839,651746.77718,660104.15683,654962.82151,645197.66612,640134.6848,641738.4697
33,Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,...,1017366.67,979674.36916,981904.63971,984438.12778,996438.60371,965077.12817,948243.68571,934799.86763,927774.27061,905401.3991
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,...,613710.22206,611339.33996,616007.84081,623703.42358,632105.82522,635645.7247,629544.53415,625919.94994,620693.52601,619248.24627
36,Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,...,469997.34555,473581.67044,479650.38171,484931.23711,491419.02107,495296.18482,497114.50286,496863.30214,497109.20568,495736.62763
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,...,151800.63236,152582.41885,154083.54606,159707.36268,160767.53244,162285.85212,163747.78866,163267.49538,162422.27705,163371.3288
39,NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,...,203740.03071,206986.38019,208710.4835,213796.29479,215737.94763,217808.64959,218636.7305,220668.69197,219627.69946,214430.59548
40,YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,...,197839.88115,202620.06078,204004.76234,207192.79671,209571.13905,211252.87161,212345.64996,213120.71483,213059.01122,207634.72067
41,EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,...,237127.76895,240289.15291,243813.63347,244804.74079,250155.82932,251188.33102,251278.76691,253901.39741,255487.92142,251177.24024
42,WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,...,239340.93452,243529.57846,243799.6474,250767.64978,251658.43702,253335.76477,255278.01139,255091.08649,256305.58628,256693.67143
43,EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,...,341534.9877,346897.49832,348762.70602,353003.34398,357310.31168,359751.53833,359425.4612,364910.26901,362194.34493,358113.58287
44,LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,...,522010.71359,522995.84527,532488.05208,540237.73404,544399.70104,543870.19531,538194.84084,540433.18365,539351.14375,533985.89338
45,SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,...,379388.29867,384424.87041,387833.66022,392877.55421,398117.72865,400485.40296,400595.97809,401390.23209,403105.8697,398367.70265
46,SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,...,315657.16356,321343.71248,320280.13777,327916.1104,333284.19639,334462.17766,335281.14758,336876.64716,331065.54279,329690.82293
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,...,295293.95036,299504.08322,301774.28615,307142.34871,310740.33933,312512.97569,312878.02395,314625.84973,313893.77267,310158.62883

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [59]:
df_avg_price = pd.melt(df_avg_price, id_vars=['borough'], var_name='date', value_name='average_price')
df_avg_price

                  borough       date average_price
0          City of London        NaT     E09000001
1      Barking & Dagenham        NaT     E09000002
2                  Barnet        NaT     E09000003
3                  Bexley        NaT     E09000004
4                   Brent        NaT     E09000005
...                   ...        ...           ...
16219              LONDON 2023-01-01  533985.89338
16220          SOUTH EAST 2023-01-01  398367.70265
16221          SOUTH WEST 2023-01-01  329690.82293
16222         Unnamed: 47 2023-01-01           NaN
16223             England 2023-01-01  310158.62883

[16224 rows x 3 columns]

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!