<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/Handling_with_Variable__Type__Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling with Variable Type Assignment - Arif Aygun

### 1. Determine the types of the below-given variables:

- Age -----------> numeric variable (continous, ratio)
- Salary --------> numeric variable (continous, ratio)
- Income --------> numeric variable (continous, ratio)
- Customer type -> categorical variable, (nominal)
- Stock price----> numeric variable (continous, ratio)

### 2. Using the movie data, we have studied in this lesson. Complete the following tasks:

- Select a continuous and a categorical variable from the movie dataset and discuss the variable type of this variable. Discuss further in detail the type of selected continuous and categorical variables.


- Categorize a variable of your choice and assign a name to it


- Count the number of rows for each category

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline 

import seaborn as sns

from scipy import stats

In [ ]:
movies = pd.read_csv(r"C:\Users\AAygun\Documents\GitHub\Data Sets\Magnimind\movies.csv")
movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

#### Select a continuous and a categorical variable from the movie dataset and discuss the variable type of this variable. Discuss further in detail the type of selected continuous and categorical variables.

- Continuous variable: "Runtime (Minutes)"

- Categorical variable: "Director"

##### Continuous variable: "Runtime (Minutes)"

The "Runtime" variable in the "movies" dataset represents the length of the movie in minutes. This variable is a continuous variable because it can take on any numerical value within a specific range and is often measured on an interval or ratio scale. The Runtime variable is an interval scale variable, meaning that the difference between any two values is meaningful, but there is no true zero point. For example, a movie with a runtime of zero minutes would be nonsensical. The runtime of a movie is an important characteristic that affects the audience's experience and the movie's success, as longer movies may have different audience expectations and require different pacing and storytelling techniques than shorter ones.

###### Categorical variable: "Genre"

The "Genre" variable in the "movies" dataset represents the category or type of the movie, such as "Action", "Comedy", or "Drama". This variable is a categorical variable because it falls into specific categories or groups, and the categories do not have an inherent order or numerical value associated with them. The Genre variable is a nominal scale variable, meaning that there is no inherent order or ranking between the categories, and each category is equally important. The genre of a movie can be a significant predictor of the audience's preferences and the movie's overall success.

In summary, the "Runtime" variable is an example of a continuous variable, while the "Genre" variable is an example of a nominal categorical variable. Understanding the type of variables is important because it affects the type of statistical analysis that can be performed on the data. Continuous variables can be analyzed using techniques such as correlation and regression analysis, while categorical variables can be analyzed using techniques such as contingency tables and chi-square tests. Additionally, the nominal scale of the "Genre" variable means that each category is equally important, and there is no inherent order or ranking between them.

#### Categorize a variable of your choice and assign a name to it

I will categorize the variable "Genre" from the movies dataset and assign it the name "Movie Category".

The "Movie Category" variable is a categorical variable that classifies movies into specific genres, such as action, drama, comedy, horror, romance, or science fiction. This variable is not measured on a numerical scale and is not continuous. The Movie Category variable is a nominal scale variable, meaning that there is no inherent order or ranking between the categories.

The Movie Category variable is important in the movie industry because it helps filmmakers, producers, and distributors to identify target audiences, and it also provides a way for moviegoers to search for movies that match their interests. Moreover, the Movie Category variable can be used to analyze the success of different genres and to identify trends in movie preferences.

As a result, the "Movie Category" variable is a categorical variable that is important in the movie industry and can help in identifying target audiences, searching for movies, and analyzing trends in movie preferences.

#### c- Count the number of rows for each category

In [ ]:
df = pd.DataFrame(movies)

rows = len(df.axes[0])

print("Number of Rows: ", rows)

Number of Rows:  1000

### 3. Is it possible to convert categorical variable into numerical one? If so, how can you make that?

Yes, it' possible

In [ ]:
from pandas import DataFrame

# Create a DataFrame with 10 rows that hold 4 columns
sets = DataFrame({'code': [1,2,3,4,5,6,7,8,9,0], 

'priority':['high','low','low','high','medium','high','medium','low','high','medium'],

'gender':['M','M','M','F','M','M','F','F','M','F'],

'age':[12,23,21,34,21,23,21,34,56,32]})

print(sets) # Actual DataFrame
print("-----------------------------")
print(sets.dtypes) # Display data types of each column

   code priority gender  age
0     1     high      M   12
1     2      low      M   23
2     3      low      M   21
3     4     high      F   34
4     5   medium      M   21
5     6     high      M   23
6     7   medium      F   21
7     8      low      F   34
8     9     high      M   56
9     0   medium      F   32
-----------------------------
code         int64
priority    object
gender      object
age          int64
dtype: object

##### Replacing values in the gender column using replace() method.

In [ ]:
from pandas import DataFrame

# Create a DataFrame with 10 rows that hold 4 columns
sets = DataFrame({'code': [1,2,3,4,5,6,7,8,9,0],

'priority':['high','low','low','high','medium','high','medium','low','high','medium'],

'gender':['M','M','M','F','M','M','F','F','M','F'],

'age':[12,23,21,34,21,23,21,34,56,32]})

# Convert categorical values to Numeric values in the gender column
sets['gender']=sets['gender'].replace(['M', 'F'],[1, 2])

print(sets)

   code priority  gender  age
0     1     high       1   12
1     2      low       1   23
2     3      low       1   21
3     4     high       2   34
4     5   medium       1   21
5     6     high       1   23
6     7   medium       2   21
7     8      low       2   34
8     9     high       1   56
9     0   medium       2   32

We are replacing ‘M’ with 1 and ‘F’ with 2 and storing the column values again in the gender column.

We can see that the gender column holds values within 1 or 2.

### 4. While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

- the number of students in a high school
- the number of employees in a department
- the number of customers that came in last month
- the number of products on your shelves
- the number of groceries customers are purchasing each day
- the number of materials that were damaged during shipping
- the number of computers each department has
- the number of managers at the company
- the number of languages each employee speaks

### 5. While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

- While measuring time we think that it is hour, month, year, so it will be attribute data but in actually it is continuous data because it can be break into minutes, seconds like that. But we can convert it into attribute data.


- Another confusing dataset when we are talking about money, when we withdraw money from atm it comes like 1000, 2000, 250, 2475 but if we see our bank balance in our records online then we see the figures like 200.35, so it is continuous data because it has several infinite values so it is continuous data.


- Another confusing dataset is percentage data or we can say that derived data, how we will consider it continuous or attribute. It depends on source data what it is actually according to that % data is decided. For example number of students taking this class divided by total number of graduate students is attribute data because a student can not be 3.5, 4.5


- Another confusion about measuring in this example, imagine a young child is sick, as apparent first thing we do is to touch his forehead to feel if it is warm or not then it is attribute data but if we measure it by thermometer then it is continuous data.

#OFFICE HOUR SOLUTION

##Solution 2

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
from pandas.io.formats import style
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import warnings

from scipy.stats.mstats import winsorize
from sqlalchemy import create_engine

warnings.filterwarnings('ignore')
sns.set(style='whitegrid')
pd.options.display.float_format = '{:2f}'.format
plt.rcParams['figure.dpi'] = 100

In [11]:
def file_locator(file_name):

  import os
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

In [12]:
file_path = file_locator('movies.csv')

df = pd.read_csv(file_path)
df.head(n=2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.100000,757074,333.130000,76.000000
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.000000,485820,126.460000,65.000000

In [13]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 12 entries, Rank to Metascore
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [15]:
#df.describe(include ='0')
df.describe(include='object')

,Title,Genre,Description,Director,Actors
count,1000,1000,1000,1000,1000
unique,999,207,1000,644,996
top,The Host,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,Ridley Scott,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw..."
freq,2,50,1,8,2

### a. Select a continuous and a categorical variable from the movie dataset and discuss the variable type of this variable.

In [19]:
variable_type = pd.Series(['continuous numerical - ordinal',
                           'string variable - nominal',
                           'categorical - nominal',
                           'string variable - nominal',
                           'categorical - nominal',
                           'categorical - nominal',
                           'numerical discrete - interval',
                           'discrete numerical - ratio',
                           'dicrete numerical - ordinal',
                           'continonus numerical - ordinal',
                           'continuous numerical - ratio',
                           'discrete numerical - ordinal'], index = df.dtypes.index)

In [20]:
df_dtype = pd.concat([df.dtypes, df.nunique(), round(df.nunique()*100/len(df)), variable_type], axis=1)
df_dtype.columns = ['data type', 'No. of categories', 'categories/sample ratio %', 'variable_type']
df_dtype

,data type,No. of categories,categories/sample ratio %,variable_type
Rank,int64,1000,100.000000,continuous numerical - ordinal
Title,object,999,100.000000,string variable - nominal
Genre,object,207,21.000000,categorical - nominal
Description,object,1000,100.000000,string variable - nominal
Director,object,644,64.000000,categorical - nominal
Actors,object,996,100.000000,categorical - nominal
Year,int64,11,1.000000,numerical discrete - interval
Runtime (Minutes),int64,94,9.000000,discrete numerical - ratio
Rating,float64,55,6.000000,dicrete numerical - ordinal
Votes,int64,997,100.000000,continonus numerical - ordinal
Revenue (Millions),float64,814,81.000000,continuous numerical - ratio
Metascore,float64,84,8.000000,discrete numerical - ordinal