<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/Missing_Values_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Missing Values Assignment - Arif Aygun

In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed, state-level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

To complete this assignment, submit a link to a Jupyter Notebook containing your solutions to the following tasks:

### 1- Determine all the variable types and find the fraction of the missing values for each variable. Answer the following questions as you work through this challenge, and then paste a link to your Notebook.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from scipy import stats

In [ ]:
states_df = pd.read_csv(r"/Users/arifaygun/Documents/GitHub/Data Sets/Magnimind/states_all.csv")

In [ ]:
states_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [ ]:
states_df.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [ ]:
states_df.info

<bound method DataFrame.info of              PRIMARY_KEY          STATE  YEAR  ENROLL  TOTAL_REVENUE  \
0           1992_ALABAMA        ALABAMA  1992     NaN      2678885.0
1            1992_ALASKA         ALASKA  1992     NaN      1049591.0
2           1992_ARIZONA        ARIZONA  1992     NaN      3258079.0
3          1992_ARKANSAS       ARKANSAS  1992     NaN      1711959.0
4        1992_CALIFORNIA     CALIFORNIA  1992     NaN     26260025.0
...                  ...            ...   ...     ...            ...
1710       2019_VIRGINIA       VIRGINIA  2019     NaN            NaN
1711     2019_WASHINGTON     WASHINGTON  2019     NaN            NaN
1712  2019_WEST_VIRGINIA  WEST_VIRGINIA  2019     NaN            NaN
1713      2019_WISCONSIN      WISCONSIN  2019     NaN            NaN
1714        2019_WYOMING        WYOMING  2019     NaN            NaN

      FEDERAL_REVENUE  STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  \
0            304177.0      1659028.0       715680.0          2653798.0
1            106780.0       720711.0       222100.0           972488.0
2            297888.0      1369815.0      1590376.0          3401580.0
3            178571.0       958785.0       574603.0          1743022.0
4           2072470.0     16546514.0      7641041.0         27138832.0
...               ...            ...            ...                ...
1710              NaN            NaN            NaN                NaN
1711              NaN            NaN            NaN                NaN
1712              NaN            NaN            NaN                NaN
1713              NaN            NaN            NaN                NaN
1714              NaN            NaN            NaN                NaN

      INSTRUCTION_EXPENDITURE  ...  GRADES_4_G  GRADES_8_G  GRADES_12_G  \
0                   1481703.0  ...     57948.0     58025.0      41167.0
1                    498362.0  ...      9748.0      8789.0       6714.0
2                   1435908.0  ...     55433.0     49081.0      37410.0
3                    964323.0  ...     34632.0     36011.0      27651.0
4                  14358922.0  ...    418418.0    363296.0     270675.0
...                       ...  ...         ...         ...          ...
1710                      NaN  ...         NaN         NaN          NaN
1711                      NaN  ...         NaN         NaN          NaN
1712                      NaN  ...         NaN         NaN          NaN
1713                      NaN  ...         NaN         NaN          NaN
1714                      NaN  ...         NaN         NaN          NaN

      GRADES_1_8_G  GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  \
0              NaN            NaN      731634.0             208.0
1              NaN            NaN      122487.0               NaN
2              NaN            NaN      673477.0             215.0
3              NaN            NaN      441490.0             210.0
4              NaN            NaN     5254844.0             208.0
...            ...            ...           ...               ...
1710           NaN            NaN           NaN             247.0
1711           NaN            NaN           NaN             240.0
1712           NaN            NaN           NaN             231.0
1713           NaN            NaN           NaN             242.0
1714           NaN            NaN           NaN             246.0

      AVG_MATH_8_SCORE  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0                252.0                207.0                  NaN
1                  NaN                  NaN                  NaN
2                265.0                209.0                  NaN
3                256.0                211.0                  NaN
4                261.0                202.0                  NaN
...                ...                  ...                  ...
1710             287.0                224.0                262.0
1711             286.0                220.0                266.0
1712             272.0                213.0                256.0
1713             289.0                220.0                267.0
1714             286.0                227.0                265.0

[1715 rows x 25 columns]>

In [ ]:
states_df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1715.000000,1.224000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.224000e+03,...,1632.000000,1632.000000,1632.000000,1.020000e+03,1.071000e+03,1.632000e+03,565.000000,602.000000,650.000000,562.000000
mean,2002.075219,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,69166.507966,68106.537377,58420.870711,5.779547e+05,2.820691e+05,9.139695e+05,236.327434,278.280731,218.806154,263.558719
std,9.568621,1.066514e+06,1.175962e+07,1.146992e+06,5.549735e+06,5.489562e+06,1.199279e+07,6.300569e+06,3.357214e+06,5.347893e+05,...,79957.990356,77965.847263,67438.530709,6.757837e+05,3.307098e+05,1.055893e+06,9.285505,10.343482,7.681805,6.612601
min,1986.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,4577.000000,3371.000000,2572.000000,3.769800e+04,1.353000e+04,6.844900e+04,192.000000,231.000000,179.000000,236.000000
25%,1994.000000,2.645145e+05,2.189504e+06,1.899575e+05,1.165776e+06,7.151210e+05,2.170404e+06,1.171336e+06,6.380760e+05,1.034492e+05,...,18971.500000,19594.250000,16076.500000,1.649250e+05,8.060800e+04,2.480832e+05,232.000000,272.000000,215.000000,260.000000
50%,2002.000000,6.499335e+05,5.085826e+06,4.035480e+05,2.537754e+06,2.058996e+06,5.242672e+06,2.658253e+06,1.525471e+06,2.717040e+05,...,49087.000000,47880.000000,39408.000000,4.051115e+05,1.869190e+05,6.458050e+05,238.000000,280.500000,220.000000,265.000000
75%,2010.000000,1.010532e+06,1.084516e+07,8.279320e+05,5.055548e+06,4.755293e+06,1.074420e+07,5.561959e+06,3.222924e+06,5.172222e+05,...,78504.250000,78976.000000,69397.250000,6.439752e+05,3.223280e+05,1.043420e+06,242.000000,286.000000,224.000000,268.000000
max,2019.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,6.441557e+06,253.000000,301.000000,237.000000,280.000000

In [ ]:
states_df.isnull().sum()*100/states_df.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [ ]:
(states_df.isnull().sum()*100/states_df.shape[0]).sort_values(ascending=False)

AVG_READING_8_SCORE             67.230321
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
ENROLL                          28.629738
OTHER_EXPENDITURE               28.629738
SUPPORT_SERVICES_EXPENDITURE    25.655977
CAPITAL_OUTLAY_EXPENDITURE      25.655977
INSTRUCTION_EXPENDITURE         25.655977
TOTAL_EXPENDITURE               25.655977
LOCAL_REVENUE                   25.655977
STATE_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
TOTAL_REVENUE                   25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_ALL_G                     4.839650
STATE                            0.000000
YEAR                             0.000000
PRIMARY_KEY                      0.000000
dtype: float64

### 2- Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

##### The variables 'YEAR', 'PRIMARY_KEY' and with missing values over 60% will be dropped.
##### The rest of the variables will be filled.

In [ ]:
year_zero_df = states_df.copy()

In [ ]:
year_zero_df.drop(columns=['PRIMARY_KEY','YEAR', 'AVG_MATH_4_SCORE',
                           'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE',
                           'AVG_READING_8_SCORE'], inplace=True)

In [ ]:
fill_df = year_zero_df.fillna(year_zero_df.mean(numeric_only=True))
numeric_cols = year_zero_df.select_dtypes(include='number').columns
fill_df = year_zero_df.fillna(year_zero_df[numeric_cols].mean())
fill_df

,STATE,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G
0,ALABAMA,917541.566176,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,7.350360e+05,429950.933824,1.740530e+05,8224.000000,55460.00000,57948.000000,58025.000000,41167.000000,577954.717647,282069.084967,7.316340e+05
1,ALASKA,917541.566176,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,3.509020e+05,429950.933824,3.745100e+04,2371.000000,10152.00000,9748.000000,8789.000000,6714.000000,577954.717647,282069.084967,1.224870e+05
2,ARIZONA,917541.566176,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,1.007732e+06,429950.933824,6.091140e+05,2544.000000,53497.00000,55433.000000,49081.000000,37410.000000,577954.717647,282069.084967,6.734770e+05
3,ARKANSAS,917541.566176,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,4.834880e+05,429950.933824,1.452120e+05,808.000000,33511.00000,34632.000000,36011.000000,27651.000000,577954.717647,282069.084967,4.414900e+05
4,CALIFORNIA,917541.566176,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,8.520926e+06,429950.933824,2.044688e+06,59067.000000,431763.00000,418418.000000,363296.000000,270675.000000,577954.717647,282069.084967,5.254844e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,VIRGINIA,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1711,WASHINGTON,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1712,WEST_VIRGINIA,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1713,WISCONSIN,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1714,WYOMING,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05

In [ ]:
fill_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATE                         1715 non-null   object
 1   ENROLL                        1715 non-null   float64
 2   TOTAL_REVENUE                 1715 non-null   float64
 3   FEDERAL_REVENUE               1715 non-null   float64
 4   STATE_REVENUE                 1715 non-null   float64
 5   LOCAL_REVENUE                 1715 non-null   float64
 6   TOTAL_EXPENDITURE             1715 non-null   float64
 7   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 8   SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 9   OTHER_EXPENDITURE             1715 non-null   float64
 10  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 11  GRADES_PK_G                   1715 non-null   float64
 12  GRADES_KG_G                   1715 non-null   float64
 13  GRADES_4_G                    1715 non-null   float64
 14  GRADES_8_G                    1715 non-null   float64
 15  GRADES_12_G                   1715 non-null   float64
 16  GRADES_1_8_G                  1715 non-null   float64
 17  GRADES_9_12_G                 1715 non-null   float64
 18  GRADES_ALL_G                  1715 non-null   float64
dtypes: float64(18), object(1)
memory usage: 254.7+ KB

In [ ]:
fill_df.isnull().sum()*100/fill_df.isnull().count()

STATE                           0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
dtype: float64

### 3- Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [ ]:

fill_by_year = states_df.copy()

In [ ]:
for a in list(fill_by_year.columns)[3:]:
    fill_by_year[a] = fill_by_year.groupby(['YEAR'])[a].transform(lambda x: x.fillna(x.mean()))

In [ ]:
fill_by_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1248 non-null   float64
 4   TOTAL_REVENUE                 1301 non-null   float64
 5   FEDERAL_REVENUE               1301 non-null   float64
 6   STATE_REVENUE                 1301 non-null   float64
 7   LOCAL_REVENUE                 1301 non-null   float64
 8   TOTAL_EXPENDITURE             1301 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1301 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1301 non-null   float64
 11  OTHER_EXPENDITURE             1248 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1301 non-null   float64
 13  GRADES_PK_G                   1662 non-null   float64
 14  GRADES_KG_G                   1662 non-null   float64
 15  GRADES_4_G                    1662 non-null   float64
 16  GRADES_8_G                    1662 non-null   float64
 17  GRADES_12_G                   1662 non-null   float64
 18  GRADES_1_8_G                  1040 non-null   float64
 19  GRADES_9_12_G                 1093 non-null   float64
 20  GRADES_ALL_G                  1662 non-null   float64
 21  AVG_MATH_4_SCORE              689 non-null    float64
 22  AVG_MATH_8_SCORE              689 non-null    float64
 23  AVG_READING_4_SCORE           742 non-null    float64
 24  AVG_READING_8_SCORE           689 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [ ]:
fill_by_year.isnull().sum()*100/fill_by_year.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          27.230321
TOTAL_REVENUE                   24.139942
FEDERAL_REVENUE                 24.139942
STATE_REVENUE                   24.139942
LOCAL_REVENUE                   24.139942
TOTAL_EXPENDITURE               24.139942
INSTRUCTION_EXPENDITURE         24.139942
SUPPORT_SERVICES_EXPENDITURE    24.139942
OTHER_EXPENDITURE               27.230321
CAPITAL_OUTLAY_EXPENDITURE      24.139942
GRADES_PK_G                      3.090379
GRADES_KG_G                      3.090379
GRADES_4_G                       3.090379
GRADES_8_G                       3.090379
GRADES_12_G                      3.090379
GRADES_1_8_G                    39.358601
GRADES_9_12_G                   36.268222
GRADES_ALL_G                     3.090379
AVG_MATH_4_SCORE                59.825073
AVG_MATH_8_SCORE                59.825073
AVG_READING_4_SCORE             56.734694
AVG_READING_8_SCORE             59.825073
dtype: float64

In [ ]:
interpolate_df = states_df.interpolate(method ='linear', limit_direction ='both')

In [ ]:
interpolate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1715 non-null   float64
 4   TOTAL_REVENUE                 1715 non-null   float64
 5   FEDERAL_REVENUE               1715 non-null   float64
 6   STATE_REVENUE                 1715 non-null   float64
 7   LOCAL_REVENUE                 1715 non-null   float64
 8   TOTAL_EXPENDITURE             1715 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 11  OTHER_EXPENDITURE             1715 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 13  GRADES_PK_G                   1715 non-null   float64
 14  GRADES_KG_G                   1715 non-null   float64
 15  GRADES_4_G                    1715 non-null   float64
 16  GRADES_8_G                    1715 non-null   float64
 17  GRADES_12_G                   1715 non-null   float64
 18  GRADES_1_8_G                  1715 non-null   float64
 19  GRADES_9_12_G                 1715 non-null   float64
 20  GRADES_ALL_G                  1715 non-null   float64
 21  AVG_MATH_4_SCORE              1715 non-null   float64
 22  AVG_MATH_8_SCORE              1715 non-null   float64
 23  AVG_READING_4_SCORE           1715 non-null   float64
 24  AVG_READING_8_SCORE           1715 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [ ]:
interpolate_df.isnull().sum()*100/interpolate_df.isnull().count()

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

### 5- Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

- In the second question, we combined an imputation technique and a removing of some columns with high % of missing values. We got very general results that may not be accurate without a division by years. As well, we got an error because we have non-numeric variable "STATE" that can not be deleted. Changing "STATE" variable to a numeric would make the DataFrame very wide and difficult to work with.


- In the third question, we used imputation technique but grouped data by yeat that makes the estimates more accurate.


- In the second question, we used an interpolation method that seemed to be the most suitable for this DataFrame.

# OFFICE HOUR SOLUTIONS

In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed, state-level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

To complete this assignment, submit a link to a Jupyter Notebook containing your solutions to the following tasks:

Determine all the variable types and find the fraction of the missing values for each variable. Answer the following questions as you work through this challenge, and then paste a link to your Notebook.
Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.
This time, fill in the missing values using interpolation (extrapolation).
Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
for Dir, Folders, Files in os.walk(os.getcwd()):
  for File in Files:
    if File == 'states_all.csv':
      Path = os.path.join(Dir, File)
      print(Path)

/content/drive/Othercomputers/My MacBook Pro/GitHub/Data Sets/Magnimind/states_all.csv
/content/drive/Othercomputers/My MacBook Pro/GitHub/Magnimind-Jan2023-Assignments/states_all.csv
/content/drive/Othercomputers/My MacBook Pro/GitHub/Magnimind-Assignments/states_all.csv

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(Path)
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [4]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Columns: 25 entries, PRIMARY_KEY to AVG_READING_8_SCORE
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [6]:
df_datatype = pd.concat([df.dtypes, df.nunique(),
                         round(df.nunique()*100/len(df),2),
                         df.isnull().sum(),
                         round(df.isnull().sum()*100/len(df),2)],
                         axis=1)

df_datatype.columns= ['data type', 'No. of categories', 'No. of categories %', 'missing values', 'missing values %']

df_datatype.sort_values(by= 'missing values %', ascending=False, inplace=True)

In [7]:
df_datatype

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.27,1153,67.23
AVG_MATH_4_SCORE,float64,50,2.92,1150,67.06
AVG_MATH_8_SCORE,float64,57,3.32,1113,64.90
AVG_READING_4_SCORE,float64,43,2.51,1065,62.10
GRADES_1_8_G,float64,1020,59.48,695,40.52
GRADES_9_12_G,float64,1070,62.39,644,37.55
ENROLL,float64,1224,71.37,491,28.63
OTHER_EXPENDITURE,float64,1222,71.25,491,28.63
SUPPORT_SERVICES_EXPENDITURE,float64,1275,74.34,440,25.66
CAPITAL_OUTLAY_EXPENDITURE,float64,1275,74.34,440,25.66
INSTRUCTION_EXPENDITURE,float64,1275,74.34,440,25.66
TOTAL_EXPENDITURE,float64,1275,74.34,440,25.66
LOCAL_REVENUE,float64,1275,74.34,440,25.66
STATE_REVENUE,float64,1251,72.94,440,25.66
FEDERAL_REVENUE,float64,1275,74.34,440,25.66
TOTAL_REVENUE,float64,1274,74.29,440,25.66
GRADES_PK_G,float64,1483,86.47,173,10.09
GRADES_KG_G,float64,1613,94.05,83,4.84
GRADES_4_G,float64,1612,93.99,83,4.84
GRADES_8_G,float64,1620,94.46,83,4.84
GRADES_12_G,float64,1608,93.76,83,4.84
GRADES_ALL_G,float64,1629,94.99,83,4.84
STATE,object,53,3.09,0,0.00
YEAR,int64,33,1.92,0,0.00
PRIMARY_KEY,object,1715,100.00,0,0.00

In [8]:
df_datatype = df_datatype.loc[df_datatype['missing values']!=0]
df_datatype

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.27,1153,67.23
AVG_MATH_4_SCORE,float64,50,2.92,1150,67.06
AVG_MATH_8_SCORE,float64,57,3.32,1113,64.90
AVG_READING_4_SCORE,float64,43,2.51,1065,62.10
GRADES_1_8_G,float64,1020,59.48,695,40.52
GRADES_9_12_G,float64,1070,62.39,644,37.55
ENROLL,float64,1224,71.37,491,28.63
OTHER_EXPENDITURE,float64,1222,71.25,491,28.63
SUPPORT_SERVICES_EXPENDITURE,float64,1275,74.34,440,25.66
CAPITAL_OUTLAY_EXPENDITURE,float64,1275,74.34,440,25.66
INSTRUCTION_EXPENDITURE,float64,1275,74.34,440,25.66
TOTAL_EXPENDITURE,float64,1275,74.34,440,25.66
LOCAL_REVENUE,float64,1275,74.34,440,25.66
STATE_REVENUE,float64,1251,72.94,440,25.66
FEDERAL_REVENUE,float64,1275,74.34,440,25.66
TOTAL_REVENUE,float64,1274,74.29,440,25.66
GRADES_PK_G,float64,1483,86.47,173,10.09
GRADES_KG_G,float64,1613,94.05,83,4.84
GRADES_4_G,float64,1612,93.99,83,4.84
GRADES_8_G,float64,1620,94.46,83,4.84
GRADES_12_G,float64,1608,93.76,83,4.84
GRADES_ALL_G,float64,1629,94.99,83,4.84

In [9]:
df_datatype[df_datatype.index == 'AVG_READING_8_SCORE']['data type']

AVG_READING_8_SCORE    float64
Name: data type, dtype: object

In [11]:
import numpy as np
#drop those variable with more than 50% missing values
df_datatype.iloc[np.where(df_datatype['missing values %'] > 50)]

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.27,1153,67.23
AVG_MATH_4_SCORE,float64,50,2.92,1150,67.06
AVG_MATH_8_SCORE,float64,57,3.32,1113,64.90
AVG_READING_4_SCORE,float64,43,2.51,1065,62.10