<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/Missing_Values_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Missing Values Assignment - Arif Aygun

In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed, state-level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

To complete this assignment, submit a link to a Jupyter Notebook containing your solutions to the following tasks:

### 1- Determine all the variable types and find the fraction of the missing values for each variable. Answer the following questions as you work through this challenge, and then paste a link to your Notebook.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from scipy import stats

In [ ]:
states_df = pd.read_csv(r"/Users/arifaygun/Documents/GitHub/Data Sets/Magnimind/states_all.csv")

In [ ]:
states_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [ ]:
states_df.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [ ]:
states_df.info

<bound method DataFrame.info of              PRIMARY_KEY          STATE  YEAR  ENROLL  TOTAL_REVENUE  \
0           1992_ALABAMA        ALABAMA  1992     NaN      2678885.0
1            1992_ALASKA         ALASKA  1992     NaN      1049591.0
2           1992_ARIZONA        ARIZONA  1992     NaN      3258079.0
3          1992_ARKANSAS       ARKANSAS  1992     NaN      1711959.0
4        1992_CALIFORNIA     CALIFORNIA  1992     NaN     26260025.0
...                  ...            ...   ...     ...            ...
1710       2019_VIRGINIA       VIRGINIA  2019     NaN            NaN
1711     2019_WASHINGTON     WASHINGTON  2019     NaN            NaN
1712  2019_WEST_VIRGINIA  WEST_VIRGINIA  2019     NaN            NaN
1713      2019_WISCONSIN      WISCONSIN  2019     NaN            NaN
1714        2019_WYOMING        WYOMING  2019     NaN            NaN

      FEDERAL_REVENUE  STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  \
0            304177.0      1659028.0       715680.0          2653798.0
1            106780.0       720711.0       222100.0           972488.0
2            297888.0      1369815.0      1590376.0          3401580.0
3            178571.0       958785.0       574603.0          1743022.0
4           2072470.0     16546514.0      7641041.0         27138832.0
...               ...            ...            ...                ...
1710              NaN            NaN            NaN                NaN
1711              NaN            NaN            NaN                NaN
1712              NaN            NaN            NaN                NaN
1713              NaN            NaN            NaN                NaN
1714              NaN            NaN            NaN                NaN

      INSTRUCTION_EXPENDITURE  ...  GRADES_4_G  GRADES_8_G  GRADES_12_G  \
0                   1481703.0  ...     57948.0     58025.0      41167.0
1                    498362.0  ...      9748.0      8789.0       6714.0
2                   1435908.0  ...     55433.0     49081.0      37410.0
3                    964323.0  ...     34632.0     36011.0      27651.0
4                  14358922.0  ...    418418.0    363296.0     270675.0
...                       ...  ...         ...         ...          ...
1710                      NaN  ...         NaN         NaN          NaN
1711                      NaN  ...         NaN         NaN          NaN
1712                      NaN  ...         NaN         NaN          NaN
1713                      NaN  ...         NaN         NaN          NaN
1714                      NaN  ...         NaN         NaN          NaN

      GRADES_1_8_G  GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  \
0              NaN            NaN      731634.0             208.0
1              NaN            NaN      122487.0               NaN
2              NaN            NaN      673477.0             215.0
3              NaN            NaN      441490.0             210.0
4              NaN            NaN     5254844.0             208.0
...            ...            ...           ...               ...
1710           NaN            NaN           NaN             247.0
1711           NaN            NaN           NaN             240.0
1712           NaN            NaN           NaN             231.0
1713           NaN            NaN           NaN             242.0
1714           NaN            NaN           NaN             246.0

      AVG_MATH_8_SCORE  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0                252.0                207.0                  NaN
1                  NaN                  NaN                  NaN
2                265.0                209.0                  NaN
3                256.0                211.0                  NaN
4                261.0                202.0                  NaN
...                ...                  ...                  ...
1710             287.0                224.0                262.0
1711             286.0                220.0                266.0
1712             272.0                213.0                256.0
1713             289.0                220.0                267.0
1714             286.0                227.0                265.0

[1715 rows x 25 columns]>

In [ ]:
states_df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1715.000000,1.224000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.224000e+03,...,1632.000000,1632.000000,1632.000000,1.020000e+03,1.071000e+03,1.632000e+03,565.000000,602.000000,650.000000,562.000000
mean,2002.075219,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,69166.507966,68106.537377,58420.870711,5.779547e+05,2.820691e+05,9.139695e+05,236.327434,278.280731,218.806154,263.558719
std,9.568621,1.066514e+06,1.175962e+07,1.146992e+06,5.549735e+06,5.489562e+06,1.199279e+07,6.300569e+06,3.357214e+06,5.347893e+05,...,79957.990356,77965.847263,67438.530709,6.757837e+05,3.307098e+05,1.055893e+06,9.285505,10.343482,7.681805,6.612601
min,1986.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,4577.000000,3371.000000,2572.000000,3.769800e+04,1.353000e+04,6.844900e+04,192.000000,231.000000,179.000000,236.000000
25%,1994.000000,2.645145e+05,2.189504e+06,1.899575e+05,1.165776e+06,7.151210e+05,2.170404e+06,1.171336e+06,6.380760e+05,1.034492e+05,...,18971.500000,19594.250000,16076.500000,1.649250e+05,8.060800e+04,2.480832e+05,232.000000,272.000000,215.000000,260.000000
50%,2002.000000,6.499335e+05,5.085826e+06,4.035480e+05,2.537754e+06,2.058996e+06,5.242672e+06,2.658253e+06,1.525471e+06,2.717040e+05,...,49087.000000,47880.000000,39408.000000,4.051115e+05,1.869190e+05,6.458050e+05,238.000000,280.500000,220.000000,265.000000
75%,2010.000000,1.010532e+06,1.084516e+07,8.279320e+05,5.055548e+06,4.755293e+06,1.074420e+07,5.561959e+06,3.222924e+06,5.172222e+05,...,78504.250000,78976.000000,69397.250000,6.439752e+05,3.223280e+05,1.043420e+06,242.000000,286.000000,224.000000,268.000000
max,2019.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,6.441557e+06,253.000000,301.000000,237.000000,280.000000

In [ ]:
states_df.isnull().sum()*100/states_df.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [ ]:
(states_df.isnull().sum()*100/states_df.shape[0]).sort_values(ascending=False)

AVG_READING_8_SCORE             67.230321
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
ENROLL                          28.629738
OTHER_EXPENDITURE               28.629738
SUPPORT_SERVICES_EXPENDITURE    25.655977
CAPITAL_OUTLAY_EXPENDITURE      25.655977
INSTRUCTION_EXPENDITURE         25.655977
TOTAL_EXPENDITURE               25.655977
LOCAL_REVENUE                   25.655977
STATE_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
TOTAL_REVENUE                   25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_ALL_G                     4.839650
STATE                            0.000000
YEAR                             0.000000
PRIMARY_KEY                      0.000000
dtype: float64

### 2- Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

##### The variables 'YEAR', 'PRIMARY_KEY' and with missing values over 60% will be dropped.
##### The rest of the variables will be filled.

In [ ]:
year_zero_df = states_df.copy()

In [ ]:
year_zero_df.drop(columns=['PRIMARY_KEY','YEAR', 'AVG_MATH_4_SCORE',
                           'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE',
                           'AVG_READING_8_SCORE'], inplace=True)

In [ ]:
fill_df = year_zero_df.fillna(year_zero_df.mean(numeric_only=True))
numeric_cols = year_zero_df.select_dtypes(include='number').columns
fill_df = year_zero_df.fillna(year_zero_df[numeric_cols].mean())
fill_df

,STATE,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G
0,ALABAMA,917541.566176,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,7.350360e+05,429950.933824,1.740530e+05,8224.000000,55460.00000,57948.000000,58025.000000,41167.000000,577954.717647,282069.084967,7.316340e+05
1,ALASKA,917541.566176,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,3.509020e+05,429950.933824,3.745100e+04,2371.000000,10152.00000,9748.000000,8789.000000,6714.000000,577954.717647,282069.084967,1.224870e+05
2,ARIZONA,917541.566176,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,1.007732e+06,429950.933824,6.091140e+05,2544.000000,53497.00000,55433.000000,49081.000000,37410.000000,577954.717647,282069.084967,6.734770e+05
3,ARKANSAS,917541.566176,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,4.834880e+05,429950.933824,1.452120e+05,808.000000,33511.00000,34632.000000,36011.000000,27651.000000,577954.717647,282069.084967,4.414900e+05
4,CALIFORNIA,917541.566176,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,8.520926e+06,429950.933824,2.044688e+06,59067.000000,431763.00000,418418.000000,363296.000000,270675.000000,577954.717647,282069.084967,5.254844e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,VIRGINIA,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1711,WASHINGTON,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1712,WEST_VIRGINIA,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1713,WISCONSIN,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1714,WYOMING,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05

In [ ]:
fill_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATE                         1715 non-null   object
 1   ENROLL                        1715 non-null   float64
 2   TOTAL_REVENUE                 1715 non-null   float64
 3   FEDERAL_REVENUE               1715 non-null   float64
 4   STATE_REVENUE                 1715 non-null   float64
 5   LOCAL_REVENUE                 1715 non-null   float64
 6   TOTAL_EXPENDITURE             1715 non-null   float64
 7   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 8   SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 9   OTHER_EXPENDITURE             1715 non-null   float64
 10  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 11  GRADES_PK_G                   1715 non-null   float64
 12  GRADES_KG_G                   1715 non-null   float64
 13  GRADES_4_G                    1715 non-null   float64
 14  GRADES_8_G                    1715 non-null   float64
 15  GRADES_12_G                   1715 non-null   float64
 16  GRADES_1_8_G                  1715 non-null   float64
 17  GRADES_9_12_G                 1715 non-null   float64
 18  GRADES_ALL_G                  1715 non-null   float64
dtypes: float64(18), object(1)
memory usage: 254.7+ KB

In [ ]:
fill_df.isnull().sum()*100/fill_df.isnull().count()

STATE                           0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
dtype: float64

### 3- Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [ ]:

fill_by_year = states_df.copy()

In [ ]:
for a in list(fill_by_year.columns)[3:]:
    fill_by_year[a] = fill_by_year.groupby(['YEAR'])[a].transform(lambda x: x.fillna(x.mean()))

In [ ]:
fill_by_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1248 non-null   float64
 4   TOTAL_REVENUE                 1301 non-null   float64
 5   FEDERAL_REVENUE               1301 non-null   float64
 6   STATE_REVENUE                 1301 non-null   float64
 7   LOCAL_REVENUE                 1301 non-null   float64
 8   TOTAL_EXPENDITURE             1301 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1301 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1301 non-null   float64
 11  OTHER_EXPENDITURE             1248 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1301 non-null   float64
 13  GRADES_PK_G                   1662 non-null   float64
 14  GRADES_KG_G                   1662 non-null   float64
 15  GRADES_4_G                    1662 non-null   float64
 16  GRADES_8_G                    1662 non-null   float64
 17  GRADES_12_G                   1662 non-null   float64
 18  GRADES_1_8_G                  1040 non-null   float64
 19  GRADES_9_12_G                 1093 non-null   float64
 20  GRADES_ALL_G                  1662 non-null   float64
 21  AVG_MATH_4_SCORE              689 non-null    float64
 22  AVG_MATH_8_SCORE              689 non-null    float64
 23  AVG_READING_4_SCORE           742 non-null    float64
 24  AVG_READING_8_SCORE           689 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [ ]:
fill_by_year.isnull().sum()*100/fill_by_year.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          27.230321
TOTAL_REVENUE                   24.139942
FEDERAL_REVENUE                 24.139942
STATE_REVENUE                   24.139942
LOCAL_REVENUE                   24.139942
TOTAL_EXPENDITURE               24.139942
INSTRUCTION_EXPENDITURE         24.139942
SUPPORT_SERVICES_EXPENDITURE    24.139942
OTHER_EXPENDITURE               27.230321
CAPITAL_OUTLAY_EXPENDITURE      24.139942
GRADES_PK_G                      3.090379
GRADES_KG_G                      3.090379
GRADES_4_G                       3.090379
GRADES_8_G                       3.090379
GRADES_12_G                      3.090379
GRADES_1_8_G                    39.358601
GRADES_9_12_G                   36.268222
GRADES_ALL_G                     3.090379
AVG_MATH_4_SCORE                59.825073
AVG_MATH_8_SCORE                59.825073
AVG_READING_4_SCORE             56.734694
AVG_READING_8_SCORE             59.825073
dtype: float64

In [ ]:
interpolate_df = states_df.interpolate(method ='linear', limit_direction ='both')

In [ ]:
interpolate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1715 non-null   float64
 4   TOTAL_REVENUE                 1715 non-null   float64
 5   FEDERAL_REVENUE               1715 non-null   float64
 6   STATE_REVENUE                 1715 non-null   float64
 7   LOCAL_REVENUE                 1715 non-null   float64
 8   TOTAL_EXPENDITURE             1715 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 11  OTHER_EXPENDITURE             1715 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 13  GRADES_PK_G                   1715 non-null   float64
 14  GRADES_KG_G                   1715 non-null   float64
 15  GRADES_4_G                    1715 non-null   float64
 16  GRADES_8_G                    1715 non-null   float64
 17  GRADES_12_G                   1715 non-null   float64
 18  GRADES_1_8_G                  1715 non-null   float64
 19  GRADES_9_12_G                 1715 non-null   float64
 20  GRADES_ALL_G                  1715 non-null   float64
 21  AVG_MATH_4_SCORE              1715 non-null   float64
 22  AVG_MATH_8_SCORE              1715 non-null   float64
 23  AVG_READING_4_SCORE           1715 non-null   float64
 24  AVG_READING_8_SCORE           1715 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [ ]:
interpolate_df.isnull().sum()*100/interpolate_df.isnull().count()

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

### 5- Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

- In the second question, we combined an imputation technique and a removing of some columns with high % of missing values. We got very general results that may not be accurate without a division by years. As well, we got an error because we have non-numeric variable "STATE" that can not be deleted. Changing "STATE" variable to a numeric would make the DataFrame very wide and difficult to work with.


- In the third question, we used imputation technique but grouped data by yeat that makes the estimates more accurate.


- In the second question, we used an interpolation method that seemed to be the most suitable for this DataFrame.

# OFFICE HOUR SOLUTIONS

In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed, state-level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

To complete this assignment, submit a link to a Jupyter Notebook containing your solutions to the following tasks:

Determine all the variable types and find the fraction of the missing values for each variable. Answer the following questions as you work through this challenge, and then paste a link to your Notebook.
Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.
This time, fill in the missing values using interpolation (extrapolation).
Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
for Dir, Folders, Files in os.walk(os.getcwd()):
  for File in Files:
    if File == 'states_all.csv':
      Path = os.path.join(Dir, File)
      print(Path)

/content/drive/Othercomputers/My MacBook Pro/GitHub/Data Sets/Magnimind/states_all.csv
/content/drive/Othercomputers/My MacBook Pro/GitHub/Magnimind-Jan2023-Assignments/states_all.csv
/content/drive/Othercomputers/My MacBook Pro/GitHub/Magnimind-Assignments/states_all.csv

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(Path)
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [4]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Columns: 25 entries, PRIMARY_KEY to AVG_READING_8_SCORE
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [6]:
df_datatype = pd.concat([df.dtypes, df.nunique(),
                         round(df.nunique()*100/len(df),2),
                         df.isnull().sum(),
                         round(df.isnull().sum()*100/len(df),2)],
                         axis=1)

df_datatype.columns= ['data type', 'No. of categories', 'No. of categories %', 'missing values', 'missing values %']

df_datatype.sort_values(by= 'missing values %', ascending=False, inplace=True)

In [7]:
df_datatype

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.27,1153,67.23
AVG_MATH_4_SCORE,float64,50,2.92,1150,67.06
AVG_MATH_8_SCORE,float64,57,3.32,1113,64.90
AVG_READING_4_SCORE,float64,43,2.51,1065,62.10
GRADES_1_8_G,float64,1020,59.48,695,40.52
GRADES_9_12_G,float64,1070,62.39,644,37.55
ENROLL,float64,1224,71.37,491,28.63
OTHER_EXPENDITURE,float64,1222,71.25,491,28.63
SUPPORT_SERVICES_EXPENDITURE,float64,1275,74.34,440,25.66
CAPITAL_OUTLAY_EXPENDITURE,float64,1275,74.34,440,25.66
INSTRUCTION_EXPENDITURE,float64,1275,74.34,440,25.66
TOTAL_EXPENDITURE,float64,1275,74.34,440,25.66
LOCAL_REVENUE,float64,1275,74.34,440,25.66
STATE_REVENUE,float64,1251,72.94,440,25.66
FEDERAL_REVENUE,float64,1275,74.34,440,25.66
TOTAL_REVENUE,float64,1274,74.29,440,25.66
GRADES_PK_G,float64,1483,86.47,173,10.09
GRADES_KG_G,float64,1613,94.05,83,4.84
GRADES_4_G,float64,1612,93.99,83,4.84
GRADES_8_G,float64,1620,94.46,83,4.84
GRADES_12_G,float64,1608,93.76,83,4.84
GRADES_ALL_G,float64,1629,94.99,83,4.84
STATE,object,53,3.09,0,0.00
YEAR,int64,33,1.92,0,0.00
PRIMARY_KEY,object,1715,100.00,0,0.00

In [8]:
df_datatype = df_datatype.loc[df_datatype['missing values']!=0]
df_datatype

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.27,1153,67.23
AVG_MATH_4_SCORE,float64,50,2.92,1150,67.06
AVG_MATH_8_SCORE,float64,57,3.32,1113,64.90
AVG_READING_4_SCORE,float64,43,2.51,1065,62.10
GRADES_1_8_G,float64,1020,59.48,695,40.52
GRADES_9_12_G,float64,1070,62.39,644,37.55
ENROLL,float64,1224,71.37,491,28.63
OTHER_EXPENDITURE,float64,1222,71.25,491,28.63
SUPPORT_SERVICES_EXPENDITURE,float64,1275,74.34,440,25.66
CAPITAL_OUTLAY_EXPENDITURE,float64,1275,74.34,440,25.66
INSTRUCTION_EXPENDITURE,float64,1275,74.34,440,25.66
TOTAL_EXPENDITURE,float64,1275,74.34,440,25.66
LOCAL_REVENUE,float64,1275,74.34,440,25.66
STATE_REVENUE,float64,1251,72.94,440,25.66
FEDERAL_REVENUE,float64,1275,74.34,440,25.66
TOTAL_REVENUE,float64,1274,74.29,440,25.66
GRADES_PK_G,float64,1483,86.47,173,10.09
GRADES_KG_G,float64,1613,94.05,83,4.84
GRADES_4_G,float64,1612,93.99,83,4.84
GRADES_8_G,float64,1620,94.46,83,4.84
GRADES_12_G,float64,1608,93.76,83,4.84
GRADES_ALL_G,float64,1629,94.99,83,4.84

In [9]:
df_datatype[df_datatype.index == 'AVG_READING_8_SCORE']['data type']

AVG_READING_8_SCORE    float64
Name: data type, dtype: object

### 2.
Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

In [11]:
import numpy as np
#drop those variable with more than 50% missing values
df_datatype.iloc[np.where(df_datatype['missing values %'] > 50)]

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.27,1153,67.23
AVG_MATH_4_SCORE,float64,50,2.92,1150,67.06
AVG_MATH_8_SCORE,float64,57,3.32,1113,64.90
AVG_READING_4_SCORE,float64,43,2.51,1065,62.10

In [14]:
columns_to_drop = df_datatype.iloc[np.where(df_datatype['missing values %'] > 50)].index

In [15]:
df.columns

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G',
       'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G',
       'GRADES_9_12_G', 'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE',
       'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE'],
      dtype='object')

### 3.
Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [16]:
df_time_series = df.copy(deep=True)

In [17]:
df_time_series.groupby('YEAR')['ENROLL'].unique()

YEAR
1986                                                [nan]
1987                                                [nan]
1988                                                [nan]
1989                                                [nan]
1990                                                [nan]
1991                                                [nan]
1992                                                [nan]
1993    [727716.0, 121156.0, 676297.0, 311432.0, 51297...
1994    [730004.0, 123868.0, 708482.0, 312695.0, 41204...
1995    [727480.0, 125421.0, 735018.0, 447757.0, 52994...
1996    [735912.0, 126189.0, 764681.0, 452907.0, 54604...
1997    [737386.0, 128143.0, 783552.0, 457349.0, 55958...
1998    [739321.0, 130633.0, 794331.0, 456355.0, 57272...
1999    [737639.0, 133508.0, 814157.0, 451981.0, 58392...
2000    [730184.0, 132822.0, 814807.0, 450751.0, 59419...
2001    [728532.0, 131985.0, 834387.0, 449693.0, 60450...
2002    [726367.0, 133010.0, 859588.0, 449161.0, 61369...
2003    [727900.0, 133303.0, 875111.0, 450158.0, 62265...
2004    [730418.0, 133153.0, 895927.0, 453491.0, 62845...
2005    [729342.0, 132568.0, 919875.0, 461667.0, 63070...
2006    [743265.0, 132893.0, 947266.0, 472609.0, 62959...
2007    [743273.0, 132197.0, 969875.0, 474532.0, 62886...
2008    [742919.0, 130624.0, 987332.0, 476110.0, 62584...
2009    [745668.0, 130236.0, 981303.0, 474423.0, 62341...
2010    [748889.0, 131265.0, 963517.0, 474897.0, 62139...
2011    [746933.0, 131704.0, 946571.0, 475551.0, 62026...
2012    [744621.0, 130771.0, 942738.0, 475671.0, 62030...
2013    [744548.0, 131091.0, 941726.0, 477716.0, 62087...
2014    [740081.0, 130539.0, 943937.0, 479881.0, 62246...
2015    [734974.0, 130755.0, 944978.0, 479682.0, 62265...
2016    [734652.0, 132477.0, 938274.0, 479177.0, 62170...
2017                                                [nan]
2019                                                [nan]
Name: ENROLL, dtype: object

The pivot_table() fumctions accepts a Pandas dataframe as an input whereas the crosstab() function accepts both Pandas dataframes, and NumPy arrays. The crosstab() function can be used to view normalized data. The pivot_table() function does not contain any default functionality for data normalization.

In [18]:
pd.set_option('Display.max_column', None, 'Display.max_row', None)

In [34]:
#original data frame
df.head(10)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,NaN,174053.0,8224.0,55460.0,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,NaN,37451.0,2371.0,10152.0,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,NaN,609114.0,2544.0,53497.0,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,NaN,145212.0,808.0,33511.0,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,NaN,2044688.0,59067.0,431763.0,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN
5,1992_COLORADO,COLORADO,1992,NaN,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,1035970.0,NaN,364760.0,7410.0,47588.0,50648.0,45025.0,34533.0,NaN,NaN,612635.0,221.0,272.0,217.0,NaN
6,1992_CONNECTICUT,CONNECTICUT,1992,NaN,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,1142600.0,NaN,48542.0,5731.0,41319.0,38058.0,33691.0,28366.0,NaN,NaN,488476.0,227.0,274.0,222.0,NaN
7,1992_DELAWARE,DELAWARE,1992,NaN,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,194915.0,NaN,30595.0,463.0,8025.0,8272.0,8012.0,6129.0,NaN,NaN,104321.0,218.0,263.0,213.0,NaN
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,NaN,709480.0,64749.0,0.0,644731.0,742893.0,329160.0,316679.0,NaN,47272.0,4818.0,6667.0,5832.0,5000.0,3433.0,NaN,NaN,80937.0,193.0,235.0,188.0,NaN
9,1992_FLORIDA,FLORIDA,1992,NaN,11506299.0,788420.0,5683949.0,5033930.0,11305642.0,5166374.0,3410440.0,NaN,1667826.0,31464.0,161701.0,164416.0,142372.0,100835.0,NaN,NaN,1981407.0,214.0,260.0,208.0,NaN

In [20]:
df_grouped_by_year = pd.pivot_table(data = df_time_series, index= 'YEAR', values=df_datatype.index, aggfunc=[np.median, len], dropna=True )
df_grouped_by_year

               median                                       \
     AVG_MATH_4_SCORE AVG_MATH_8_SCORE AVG_READING_4_SCORE
YEAR
1986              NaN              NaN                 NaN
1987              NaN              NaN                 NaN
1988              NaN              NaN                 NaN
1989              NaN              NaN                 NaN
1990            213.0            263.0                 NaN
1991              NaN              NaN                 NaN
1992            219.0            267.0               217.0
1993              NaN              NaN                 NaN
1994              NaN              NaN               213.0
1995              NaN              NaN                 NaN
1996            224.0            270.0                 NaN
1997              NaN              NaN                 NaN
1998              NaN              NaN               215.5
1999              NaN              NaN                 NaN
2000            225.0            273.0               213.0
2001              NaN              NaN                 NaN
2002              NaN              NaN               220.0
2003            236.0            279.0               219.0
2004              NaN              NaN                 NaN
2005            239.0            281.0               220.0
2006              NaN              NaN                 NaN
2007            240.0            283.0               222.0
2008              NaN              NaN                 NaN
2009            240.0            284.0               221.0
2010              NaN              NaN                 NaN
2011            241.0            283.0               221.0
2012              NaN              NaN                 NaN
2013            242.0            285.0               223.0
2014              NaN              NaN                 NaN
2015            240.0            283.0               223.0
2016              NaN              NaN                 NaN
2017            240.0            282.0               222.0
2019            240.0            282.0               220.0

                                                                               \
     AVG_READING_8_SCORE CAPITAL_OUTLAY_EXPENDITURE    ENROLL FEDERAL_REVENUE
YEAR
1986                 NaN                        NaN       NaN             NaN
1987                 NaN                        NaN       NaN             NaN
1988                 NaN                        NaN       NaN             NaN
1989                 NaN                        NaN       NaN             NaN
1990                 NaN                        NaN       NaN             NaN
1991                 NaN                        NaN       NaN             NaN
1992               260.0                   194081.0       NaN        211627.0
1993                 NaN                   196098.0  509814.0        196584.0
1994               260.0                   223352.0  518425.0        224106.0
1995                 NaN                   243365.0  638880.0        248319.0
1996                 NaN                   318829.0  635678.0        270455.0
1997                 NaN                   369529.0  631592.0        278209.0
1998               262.0                   340415.0  645232.0        313550.0
1999                 NaN                   448757.0  652731.0        323924.0
2000                 NaN                   428541.0  646467.0        354829.0
2001                 NaN                   419442.0  643730.0        385896.0
2002               264.5                   542302.0  654363.0        438583.0
2003               264.0                   469251.0  660782.0        482904.0
2004                 NaN                   533020.0  663886.0        516520.0
2005               264.0                   496778.0  674502.0        552628.0
2006                 NaN                   592789.0  648313.0        580810.0
2007               264.0                   647628.0  646360.0        574090.0
2008                 NaN                   760566.0  662971.0        629423.0
2009               265.0                   784529.0  662774.0        675576.0
2010                 NaN                   747498.0  663802.0        945973.0
2011               266.0                   661195.0  665109.0        969288.0
2012                 NaN                   666528.0  665478.0        773014.0
2013               267.0                   616590.0  671445.0        707522.0
2014                 NaN                   620745.0  670069.0        681230.0
2015               267.0                   606254.0  671715.0        688990.0
2016                 NaN                   686104.0  672777.0        690724.0
2017               267.0                        NaN       NaN             NaN
2019               263.0                        NaN       NaN             NaN

                                                                   \
     GRADES_12_G GRADES_1_8_G GRADES_4_G GRADES_8_G GRADES_9_12_G
YEAR
1986     36222.0          NaN    41114.0    40066.0           NaN
1987     38596.0          NaN    43254.0    40269.0           NaN
1988     37538.0          NaN    43540.0    39317.0           NaN
1989     35618.0          NaN    45931.0    40762.0           NaN
1990     34645.0          NaN    47341.0    42319.0           NaN
1991     34638.0          NaN    49387.0    43176.0           NaN
1992     34533.0          NaN    49666.0    45025.0           NaN
1993     34744.0          NaN    48242.0    47665.0           NaN
1994     35464.0          NaN    48233.0    49332.0           NaN
1995     35480.0          NaN    47407.0    50091.0           NaN
1996     36113.0          NaN    47018.0    49641.0           NaN
1997     37568.0     397019.0    47241.0    50385.0      186592.0
1998     38769.0     393530.0    48707.0    49580.0      186742.0
1999     39111.0     391065.0    49323.0    48427.0      183055.0
2000     39409.0     401331.0    50899.0    48938.0      184185.0
2001     38379.0     391238.0    49288.0    47019.0      179275.0
2002     38902.0     394286.0    48636.0    48934.0      182479.0
2003     38834.0     394228.0    47890.0    50186.0      183599.0
2004     39200.0     394933.0    47872.0    51172.0      187435.0
2005     39157.0     395406.0    47639.0    50701.0      176683.0
2006     40267.0     396829.0    47975.0    50323.0      183735.0
2007     40927.0     401215.0    49250.0    49723.0      181719.0
2008     43189.0     402718.0    49875.0    49668.0      180660.0
2009     43097.0     405017.0    51027.0    49298.0      181032.0
2010     43723.0     404656.0    51189.0    48525.0      184292.0
2011     43928.0     407678.0    49894.0    50043.0      184588.0
2012     44032.0     410084.0    50583.0    50259.0      186111.0
2013     43732.0     405262.0    49770.0    50203.0      188181.0
2014     43862.0     412196.0    50300.0    51246.0      194791.0
2015     44659.0     410676.0    51339.0    49774.0      198577.0
2016     45277.0     409754.0    52802.0    50098.0      198579.0
2017     46516.0          NaN    52970.0    50627.0      198841.0
2019         NaN          NaN        NaN        NaN           NaN

                                                                   \
     GRADES_ALL_G GRADES_KG_G GRADES_PK_G INSTRUCTION_EXPENDITURE
YEAR
1986     558415.0     43759.0      1474.5                     NaN
1987     572421.0     47065.0      1620.0                     NaN
1988     574890.0     46599.0      1747.0                     NaN
1989     578580.0     45412.0      1929.0                     NaN
1990     579087.0     45904.0      1991.0                     NaN
1991     593030.0     45509.0      2614.0                     NaN
1992     612635.0     45010.0      4504.0               1481703.0
1993     625062.0     44864.0      5151.5               1564558.0
1994     640521.0     46355.0      5013.5               1646310.0
1995     645586.0     45038.0      5428.5               1789292.0
1996     652816.0     47374.0      5043.0               1879638.0
1997     659273.0     48324.0      5264.5               1992346.0
1998     655687.0     46900.0      5689.5               2091741.0
1999     648180.0     46274.0      5815.5               2236724.0
2000     665850.0     47277.0      6739.5               2426139.0
2001     654363.0     45781.0      7492.5               2538936.0
2002     660782.0     46666.0      7865.0               2659448.0
2003     663369.0     48182.0      8598.0               2810907.0
2004     674796.0     49027.0      8132.0               2875595.0
2005     654526.0     50266.0      9979.0               3053380.0
2006     675851.0     50639.0     10953.0               3167501.0
2007     666225.0     49986.0     12795.0               3430268.0
2008     670030.0     50643.0     13686.0               3745507.0
2009     680089.0     51276.0     13933.0               3836398.0
2010     673128.0     52114.0     14660.0               3797945.0
2011     681987.0     53053.0     14568.0               3689782.0
2012     685167.0     55115.0     15781.0               3697663.0
2013     681848.0     54923.0     15472.0               3747993.0
2014     688640.0     55134.0     16206.0               3824295.0
2015     692878.0     53462.0     16083.0               3817479.0
2016     693903.0     52194.0     18659.0               3872250.0
2017     695092.0     51920.0     18734.0                     NaN
2019          NaN         NaN         NaN                     NaN

                                                    \
     LOCAL_REVENUE OTHER_EXPENDITURE STATE_REVENUE
YEAR
1986           NaN               NaN           NaN
1987           NaN               NaN           NaN
1988           NaN               NaN           NaN
1989           NaN               NaN           NaN
1990           NaN               NaN           NaN
1991           NaN               NaN           NaN
1992     1220524.0               NaN     1342539.0
1993     1266342.0          143312.0     1415407.0
1994     1423503.0          150749.0     1478372.0
1995     1548260.0          204052.0     1622686.0
1996     1433214.0          212389.0     1822648.0
1997     1540184.0          226505.0     1907516.0
1998     1636157.0          240608.0     2053438.0
1999     1744025.0          245363.0     2259753.0
2000     1726234.0          260900.0     2361704.0
2001     1884913.0          269157.0     2425436.0
2002     1965680.0          278099.0     2536111.0
2003     1956277.0          284796.0     2638985.0
2004     2089445.0          329243.0     2740918.0
2005     2222269.0          336579.0     2886076.0
2006     2342964.0          338521.0     3087795.0
2007     2524723.0          371495.0     3299175.0
2008     2639815.0          389371.0     3487063.0
2009     2755824.0          408292.0     3606594.0
2010     2798622.0          400773.0     3348043.0
2011     2964028.0          367172.0     3269321.0
2012     3069526.0          353940.0     3588546.0
2013     2703800.0          365228.0     3693829.0
2014     2753227.0          373620.0     3902923.0
2015     2856603.0          397263.0     4075118.0
2016     2974057.0          399899.0     4097696.0
2017           NaN               NaN           NaN
2019           NaN               NaN           NaN

                                                                   \
     SUPPORT_SERVICES_EXPENDITURE TOTAL_EXPENDITURE TOTAL_REVENUE
YEAR
1986                          NaN               NaN           NaN
1987                          NaN               NaN           NaN
1988                          NaN               NaN           NaN
1989                          NaN               NaN           NaN
1990                          NaN               NaN           NaN
1991                          NaN               NaN           NaN
1992                     800570.0         2898210.0     2773959.0
1993                     818922.0         2994038.0     3031112.0
1994                     961618.0         3113755.0     3061865.0
1995                    1020793.0         3353363.0     3389646.0
1996                    1104418.0         3572283.0     3594408.0
1997                    1133417.0         3921465.0     3874045.0
1998                    1183620.0         4241163.0     4109130.0
1999                    1306221.0         4610436.0     4365352.0
2000                    1384760.0         4807097.0     4690418.0
2001                    1457593.0         4939894.0     4832946.0
2002                    1536497.0         5147821.0     5128559.0
2003                    1546156.0         5298932.0     5196054.0
2004                    1580654.0         5450269.0     5356113.0
2005                    1744013.0         5904664.0     5889966.0
2006                    1962367.0         6112978.0     6364028.0
2007                    2140586.0         6657341.0     7048732.0
2008                    2344416.0         7599993.0     7726213.0
2009                    2331552.0         7815467.0     7186390.0
2010                    2308399.0         7647571.0     7281058.0
2011                    2295909.0         7411768.0     7376725.0
2012                    2320305.0         7444529.0     7192430.0
2013                    2323851.0         7487741.0     7216175.0
2014                    2390530.0         7587737.0     7357267.0
2015                    2417226.0         7554887.0     7548871.0
2016                    2439634.0         7786281.0     7745928.0
2017                          NaN               NaN           NaN
2019                          NaN               NaN           NaN

                  len                                       \
     AVG_MATH_4_SCORE AVG_MATH_8_SCORE AVG_READING_4_SCORE
YEAR
1986               51               51                  51
1987               51               51                  51
1988               51               51                  51
1989               51               51                  51
1990               53               53                  53
1991               51               51                  51
1992               53               53                  53
1993               51               51                  51
1994               53               53                  53
1995               51               51                  51
1996               53               53                  53
1997               51               51                  51
1998               53               53                  53
1999               51               51                  51
2000               53               53                  53
2001               51               51                  51
2002               53               53                  53
2003               53               53                  53
2004               51               51                  51
2005               53               53                  53
2006               51               51                  51
2007               53               53                  53
2008               51               51                  51
2009               53               53                  53
2010               51               51                  51
2011               53               53                  53
2012               51               51                  51
2013               53               53                  53
2014               51               51                  51
2015               53               53                  53
2016               51               51                  51
2017               53               53                  53
2019               53               53                  53

                                                                            \
     AVG_READING_8_SCORE CAPITAL_OUTLAY_EXPENDITURE ENROLL FEDERAL_REVENUE
YEAR
1986                  51                         51     51              51
1987                  51                         51     51              51
1988                  51                         51     51              51
1989                  51                         51     51              51
1990                  53                         53     53              53
1991                  51                         51     51              51
1992                  53                         53     53              53
1993                  51                         51     51              51
1994                  53                         53     53              53
1995                  51                         51     51              51
1996                  53                         53     53              53
1997                  51                         51     51              51
1998                  53                         53     53              53
1999                  51                         51     51              51
2000                  53                         53     53              53
2001                  51                         51     51              51
2002                  53                         53     53              53
2003                  53                         53     53              53
2004                  51                         51     51              51
2005                  53                         53     53              53
2006                  51                         51     51              51
2007                  53                         53     53              53
2008                  51                         51     51              51
2009                  53                         53     53              53
2010                  51                         51     51              51
2011                  53                         53     53              53
2012                  51                         51     51              51
2013                  53                         53     53              53
2014                  51                         51     51              51
2015                  53                         53     53              53
2016                  51                         51     51              51
2017                  53                         53     53              53
2019                  53                         53     53              53

                                                                   \
     GRADES_12_G GRADES_1_8_G GRADES_4_G GRADES_8_G GRADES_9_12_G
YEAR
1986          51           51         51         51            51
1987          51           51         51         51            51
1988          51           51         51         51            51
1989          51           51         51         51            51
1990          53           53         53         53            53
1991          51           51         51         51            51
1992          53           53         53         53            53
1993          51           51         51         51            51
1994          53           53         53         53            53
1995          51           51         51         51            51
1996          53           53         53         53            53
1997          51           51         51         51            51
1998          53           53         53         53            53
1999          51           51         51         51            51
2000          53           53         53         53            53
2001          51           51         51         51            51
2002          53           53         53         53            53
2003          53           53         53         53            53
2004          51           51         51         51            51
2005          53           53         53         53            53
2006          51           51         51         51            51
2007          53           53         53         53            53
2008          51           51         51         51            51
2009          53           53         53         53            53

In [21]:
df_grouped_by_year.columns

MultiIndex([('median',             'AVG_MATH_4_SCORE'),
            ('median',             'AVG_MATH_8_SCORE'),
            ('median',          'AVG_READING_4_SCORE'),
            ('median',          'AVG_READING_8_SCORE'),
            ('median',   'CAPITAL_OUTLAY_EXPENDITURE'),
            ('median',                       'ENROLL'),
            ('median',              'FEDERAL_REVENUE'),
            ('median',                  'GRADES_12_G'),
            ('median',                 'GRADES_1_8_G'),
            ('median',                   'GRADES_4_G'),
            ('median',                   'GRADES_8_G'),
            ('median',                'GRADES_9_12_G'),
            ('median',                 'GRADES_ALL_G'),
            ('median',                  'GRADES_KG_G'),
            ('median',                  'GRADES_PK_G'),
            ('median',      'INSTRUCTION_EXPENDITURE'),
            ('median',                'LOCAL_REVENUE'),
            ('median',            'OTHER_EXPENDITURE'),
            ('median',                'STATE_REVENUE'),
            ('median', 'SUPPORT_SERVICES_EXPENDITURE'),
            ('median',            'TOTAL_EXPENDITURE'),
            ('median',                'TOTAL_REVENUE'),
            (   'len',             'AVG_MATH_4_SCORE'),
            (   'len',             'AVG_MATH_8_SCORE'),
            (   'len',          'AVG_READING_4_SCORE'),
            (   'len',          'AVG_READING_8_SCORE'),
            (   'len',   'CAPITAL_OUTLAY_EXPENDITURE'),
            (   'len',                       'ENROLL'),
            (   'len',              'FEDERAL_REVENUE'),
            (   'len',                  'GRADES_12_G'),
            (   'len',                 'GRADES_1_8_G'),
            (   'len',                   'GRADES_4_G'),
            (   'len',                   'GRADES_8_G'),
            (   'len',                'GRADES_9_12_G'),
            (   'len',                 'GRADES_ALL_G'),
            (   'len',                  'GRADES_KG_G'),
            (   'len',                  'GRADES_PK_G'),
            (   'len',      'INSTRUCTION_EXPENDITURE'),
            (   'len',                'LOCAL_REVENUE'),
            (   'len',            'OTHER_EXPENDITURE'),
            (   'len',                'STATE_REVENUE'),
            (   'len', 'SUPPORT_SERVICES_EXPENDITURE'),
            (   'len',            'TOTAL_EXPENDITURE'),
            (   'len',                'TOTAL_REVENUE')],
           )

In [24]:
#df_grouped_by_year.loc[2009, 'CAPITAL_OUTLAY_EXPENDITURE']

In [30]:
for col in df.columns:
  if col in df_datatype.index: 
    for y in df_grouped_by_year.index:
      df_time_series.loc[df_time_series.YEAR==y, col] = df_time_series.loc[df_time_series.YEAR==y, col].fillna(df_grouped_by_year.loc[y,('median', col)])

In [31]:
#for col in df.columns:
 # if df[col].isnull().sum!=0:
  #  values = {i:df_grouped_by_year.loc[i,col] for i in df_grouped_by_year.index}
   # df_time_series[col] = df_time_series[col].filna(value=values, axis,0)
    #values = {i:df_grouped_by_year.loc[i,col] for i in df_grouped_by_year.index}
     #df_time_series[col] = df_time_series[col].filna(value=values, axis,0)

In [35]:
df_time_series.loc[df_time_series['YEAR'] == 1992]

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,NaN,174053.0,8224.0,55460.0,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,260.0
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,NaN,37451.0,2371.0,10152.0,9748.0,8789.0,6714.0,NaN,NaN,122487.0,219.0,267.0,217.0,260.0
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,NaN,609114.0,2544.0,53497.0,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,260.0
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,NaN,145212.0,808.0,33511.0,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,260.0
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,NaN,2044688.0,59067.0,431763.0,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,260.0
5,1992_COLORADO,COLORADO,1992,NaN,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,1035970.0,NaN,364760.0,7410.0,47588.0,50648.0,45025.0,34533.0,NaN,NaN,612635.0,221.0,272.0,217.0,260.0
6,1992_CONNECTICUT,CONNECTICUT,1992,NaN,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,1142600.0,NaN,48542.0,5731.0,41319.0,38058.0,33691.0,28366.0,NaN,NaN,488476.0,227.0,274.0,222.0,260.0
7,1992_DELAWARE,DELAWARE,1992,NaN,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,194915.0,NaN,30595.0,463.0,8025.0,8272.0,8012.0,6129.0,NaN,NaN,104321.0,218.0,263.0,213.0,260.0
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,NaN,709480.0,64749.0,0.0,644731.0,742893.0,329160.0,316679.0,NaN,47272.0,4818.0,6667.0,5832.0,5000.0,3433.0,NaN,NaN,80937.0,193.0,235.0,188.0,260.0
9,1992_FLORIDA,FLORIDA,1992,NaN,11506299.0,788420.0,5683949.0,5033930.0,11305642.0,5166374.0,3410440.0,NaN,1667826.0,31464.0,161701.0,164416.0,142372.0,100835.0,NaN,NaN,1981407.0,214.0,260.0,208.0,260.0
10,1992_GEORGIA,GEORGIA,1992,NaN,5536901.0,398701.0,2798674.0,2339526.0,5535942.0,3043984.0,1559059.0,NaN,526644.0,3303.0,100745.0,99648.0,92374.0,63646.0,NaN,NaN,1207186.0,216.0,259.0,212.0,260.0
11,1992_HAWAII,HAWAII,1992,NaN,996809.0,71273.0,903443.0,22093.0,1040121.0,536115.0,291376.0,NaN,126212.0,525.0,14440.0,13754.0,11750.0,9051.0,NaN,NaN,177448.0,214.0,257.0,203.0,260.0
12,1992_IDAHO,IDAHO,1992,NaN,859329.0,69138.0,531912.0,258279.0,886161.0,473505.0,246320.0,NaN,111353.0,1231.0,16018.0,18607.0,18880.0,14593.0,NaN,NaN,231668.0,222.0,275.0,219.0,260.0
13,1992_ILLINOIS,ILLINOIS,1992,NaN,9748650.0,597077.0,3073178.0,6078395.0,9850560.0,5010400.0,3148849.0,NaN,727858.0,39682.0,139237.0,133120.0,134317.0,106475.0,NaN,NaN,1873567.0,219.0,267.0,217.0,260.0
14,1992_INDIANA,INDIANA,1992,NaN,5060274.0,257044.0,2578149.0,2225081.0,5182754.0,2598925.0,1478639.0,NaN,536404.0,3225.0,66065.0,73760.0,75477.0,62234.0,NaN,NaN,960630.0,221.0,270.0,221.0,260.0
15,1992_IOWA,IOWA,1992,NaN,2663934.0,125665.0,1176205.0,1362064.0,2795774.0,1446478.0,800570.0,NaN,222086.0,4592.0,36428.0,37692.0,36892.0,33057.0,NaN,NaN,494839.0,230.0,283.0,225.0,260.0
16,1992_KANSAS,KANSAS,1992,NaN,2245348.0,121625.0,903199.0,1220524.0,2234915.0,1165749.0,708572.0,NaN,157705.0,2391.0,34826.0,36013.0,33288.0,26706.0,NaN,NaN,451536.0,219.0,267.0,217.0,260.0
17,1992_KENTUCKY,KENTUCKY,1992,NaN,2642902.0,289902.0,1643109.0,709891.0,2518082.0,1343438.0,817871.0,NaN,136694.0,14564.0,46140.0,49666.0,49993.0,38029.0,NaN,NaN,655041.0,215.0,262.0,213.0,260.0
18,1992_LOUISIANA,LOUISIANA,1992,NaN,3341253.0,367822.0,1848734.0,1124697.0,3362853.0,1888349.0,986486.0,NaN,135305.0,11439.0,61244.0,61125.0,55942.0,38368.0,NaN,NaN,797985.0,204.0,250.0,204.0,260.0
19,1992_MAINE,MAINE,1992,NaN,1206819.0,73160.0,511654.0,622005.0,1228869.0,685350.0,317880.0,NaN,97128.0,1273.0,17367.0,17154.0,15969.0,13882.0,NaN,NaN,216453.0,232.0,279.0,227.0,260.0
20,1992_MARYLAND,MARYLAND,1992,NaN,4658498.0,228336.0,1778834.0,2651328.0,4698374.0,2628891.0,1461083.0,NaN,340298.0,16081.0,59641.0,60287.0,52815.0,40426.0,NaN,NaN,751850.0,217.0,265.0,211.0,260.0
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,NaN,5517659.0,273946.0,1439051.0,3804662.0,5245560.0,2751871.0,1523068.0,NaN,167247.0,10722.0,75159.0,66822.0,60702.0,52425.0,NaN,NaN,859948.0,227.0,273.0,226.0,260.0
22,1992_MICHIGAN,MICHIGAN,1992,NaN,9963137.0,537917.0,2539380.0,6885840.0,10170688.0,4681327.0,3321276.0,NaN,825552.0,10541.0,135457.0,118963.0,114282.0,90655.0,NaN,NaN,1603610.0,220.0,267.0,216.0,260.0
23,1992_MINNESOTA,MINNESOTA,1992,NaN,4684684.0,194092.0,2380754.0,2109838.0,4981125.0,2534882.0,1343203.0,NaN,463724.0,6394.0,61966.0,62606.0,59810.0,53813.0,NaN,NaN,793724.0,228.0,282.0,221.0,260.0
24,1992_MISSISSIPPI,MISSISSIPPI,1992,NaN,1684706.0,277706.0,901199.0,505801.0,1691990.0,956104.0,445364.0,NaN,131795.0,818.0,36423.0,39839.0,38132.0,26328.0,NaN,NaN,506668.0,202.0,246.0,199.0,260.0
25,1992_MISSOURI,MISSOURI,1992,NaN,4043682.0,255194.0,1903124.0,1885364.0,4197600.0,2168135.0,1221397.0,NaN,474552.0,18948.0,65108.0,67098.0,64546.0,50534.0,NaN,NaN,859357.0,222.0,271.0,220.0,260.0
26,1992_MONTANA,MONTANA,1992,NaN,828983.0,69947.0,337455.0,421581.0,781009.0,412219.0,241644.0,NaN,64263.0,554.0,11894.0,12839.0,12124.0,10019.0,NaN,NaN,160011.0,219.0,267.0,217.0,260.0
27,1992_NEBRASKA,NEBRASKA,1992,NaN,1542413.0,85423.0,492256.0,964734.0,1534046.0,909159.0,394690.0,NaN,132183.0,3134.0,21873.0,22133.0,21379.0,18999.0,NaN,NaN,282414.0,225.0,278.0,221.0,260.0
28,1992_NEVADA,NEVADA,1992,NaN,1097076.0,45018.0,724032.0,328026.0,1251651.0,572623.0,334685.0,NaN,249189.0,1038.0,17839.0,18487.0,16250.0,12242.0,NaN,NaN,222974.0,219.0,267.0,217.0,260.0
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,NaN,1063391.0,31020.0,86296.0,946075.0,1066647.0,581123.0,310285.0,NaN,63554.0,1005.0,7994.0,15611.0,13537.0,10752.0,NaN,NaN,181247.0,230.0,278.0,228.0,260.0
30,1992_NEW_JERSEY,NEW_JERSEY,1992,NaN,10814689.0,416063.0,4504718.0,5893908.0,10452340.0,6042936.0,2911782.0,NaN,474259.0,9123.0,87427.0,82909.0,77779.0,67353.0,NaN,NaN,1130560.0,227.0,272.0,223.0,260.0
31,1992_NEW_MEXICO,NEW_MEXICO,1992,NaN,1330091.0,161520.0,990653.0,177918.0,1339829.0,683253.0,432392.0,NaN,139206.0,2072.0,23723.0,24447.0,21690.0,16027.0,NaN,NaN,315668.0,213.0,260.0,211.0,260.0
32,1992_NEW_YORK,NEW_YORK,1992,NaN,21630179.0,1172030.0,8697663.0,11760486.0,22815611.0,13288972.0,6132532.0,NaN,1640971.0,31290.0,201674.0,197698.0,184815.0,142822.0,NaN,NaN,2689686.0,218.0,266.0,215.0,260.0
33,1992_NORTH_CAROLINA,NORTH_CAROLINA,1992,NaN,5236099.0,389145.0,3283378.0,1563576.0,5418687.0,2847638.0,1422278.0,NaN,774194.0,6119.0,89809.0,85244.0,84291.0,63427.0,NaN,NaN,1114083.0,213.0,258.0,212.0,260.0
34,1992_NORTH_DAKOTA,NORTH_DAKOTA,1992,NaN,559481.0,51476.0,242693.0,265312.0,553732.0,315009.0,152340.0,NaN,34904.0,640.0,8847.0,9570.0,9102.0,8014.0,NaN,NaN,118734.0,229.0,283.0,226.0,260.0
35,1992_OHIO,OHIO,1992,NaN,9285961.0,472604.0,3631703.0,5181654.0,9483822.0,5172782.0,2961942.0,NaN,742377.0,9900.0,138911.0,137839.0,137075.0,116085.0,NaN,NaN,1795199.0,219.0,268.0,217.0,260.0
36,1992_OKLAHOMA,OKLAHOMA,1992,NaN,2396705.0,211627.0,1470516.0,714562.0,2515272.0,1283577.0,779828.0,NaN,194081.0,4859.0,45010.0,48793.0,44163.0,33346.0,NaN,NaN,597096.0,220.0,268.0,220.0,260.0
37,1992_OREGON,OREGON,1992,NaN,2773959.0,163544.0,788309.0,1822106.0,2898210.0,1556770.0,967075.0,NaN,230464.0,771.0,37519.0,41443.0,39610.0,31920.0,NaN,NaN,510122.0,219.0,267.0,217.0,260.0
38,1992_PENNSYLVANIA,PENNSYLVANIA,1992,NaN,11257252.0,658139.0,4227323.0,6371790.0,11539253.0,6075381.0,3329224.0,NaN,964457.0,4416.0,129233.0,131248.0,126293.0,108244.0,NaN,NaN,1717613.0,224.0,271.0,221.0,260.0
39,1992_RHODE_ISLAND,RHODE_ISLAND,1992,NaN,883073.0,43545.0,329810.0,509718.0,863404.0,556787.0,265279.0,NaN,14685.0,498.0,10883.0,11129.0,10204.0,8244.0,NaN,NaN,143798.0,215.0,266.0,217.0,260.0
40,1992_SOUTH_CAROLINA,SOUTH_CAROLINA,1992,NaN,2842626.0,249903.0,1350148.0,1242575.0,2922293.0,1544232.0,768292.0,NaN,261644.0,7045.0,44501.0,51081.0,49562.0,34615.0,NaN,NaN,640464.0,212.0,261.0,210.0,260.0
41,1992_SOUTH_DAKOTA,SOUTH_DAKOTA,1992,NaN,551668.0,60671.0,147834.0,343163.0,593126.0,320561.0,169697.0,NaN,65568.0,705.0,10266.0,10645.0,10498.0,8259.0,NaN,NaN,134573.0,219.0,267.0,217.0,260.0
42,1992_TENNESSEE,TENNESSEE,1992,NaN,3080490.0,308571.0,1305381.0,1466538.0,3132516.0,1830264.0,799825.0,NaN,232437.0,9613.0,64463.0,65195.0,63358.0,49639.0,NaN,NaN,855231.0,211.0,259.0,212.0,260.0
43,1992_TEXAS,TEXAS,1992,NaN,16264180.0,1160185.0,6706959.0,8397036.0,16119084.0,7961379.0,4613884.0,NaN,1833239.0,113197.0,262483.0,282693.0,261053.0,180206.0,NaN,NaN,3541769.0,218.0,265.0,213.0,260.0
44,1992_UTAH,UTAH,1992,NaN,1555799.0,105349.0,872510.0,577940.0,1547980.0,841552.0,396073.0,NaN,155425.0,2611.0,32652.0,35956.0,36813.0,28775.0,NaN,NaN,463870.0,224.0,274.0,220.0,260.0
45,1992_VERMONT,VERMONT,1992,NaN,812377.0,31757.0,204163.0,576457.0,800377.0,386699.0,205777.0,NaN,25781.0,1780.0,7978.0,8329.0,7227.0,5573.0,NaN,NaN,98558.0,219.0,267.0,217.0,260.0
46,1992_VIRGINIA,VIRGINIA,1992,NaN,5631293.0,313971.0,2180133.0,3137189.0,5744469.0,2982862.0,1758078.0,NaN,523409.0,1976.0,82456.0,79821.0,76775.0,60854.0,NaN,NaN,1031925.0,221.0,268.0,221.0,260.0
47,1992_WASHINGTON,WASHINGTON,1992,NaN,4870832.0,263053.0,3467779.0,1140000.0,5360834.0,2587181.0,1518521.0,NaN,855759.0,5075.0,68562.0,74098.0,67285.0,53986.0,NaN,NaN,896475.0,219.0,267.0,217.0,260.0
48,1992_WEST_VIRGINIA,WEST_VIRGINIA,1992,NaN,1585099.0,130117.0,1021803.0,433179.0,1587968.0,835186.0,465429.0,NaN,156015.0,2308.0,22081.0,23556.0,24791.0,21844.0,NaN,NaN,318296.0,215.0,259.0,216.0,260.0
49,1992_WISCONSIN,WISCONSIN,1992,NaN,4993909.0,217723.0,2205439.0,2570747.0,5181471.0,2914442.0,1490415.0,NaN,416449.0,16227.0,61568.0,63365.0,60783.0,55543.0,NaN,NaN,829415.0,229.0,278.0,224.0,260.0
50,1992_WYOMING,WYOMING,1992,NaN,629748.0,31714.0,314216.0,283818.0,624941.0,339953.0,185930.0,NaN,60815.0,4504.0,7184.0,8049.0,8078.0,6613.0,NaN,NaN,100313.0,225.0,275.0,223.0,260.0
1634,1992_DODEA,DODEA,1992,NaN,2773959.0,211627.0,1342539.0,1220524.0,2898210.0,1481703.0,800570.0,NaN,194081.0,4504.0,45010.0,49666.0,45025.0,34533.0,NaN,NaN,612635.0,219.0,267.0,217.0,260.0
1635,1992_NATIONAL,NATIONAL,1992,NaN,2773959.0,211627.0,1342539.0,1220524.0,2898210.0,1481703.0,800570.0,NaN,194081.0,4504.0,45010.0,49666.0,45025.0,34533.0,NaN,NaN,612635.0,220.0,268.0,217.0,260.0

In [36]:
df_time_series_modified = df_time_series.dropna()

In [37]:
df_time_series_impute_median = df_time_series.copy(deep=True)
for col in df.columns:
  if col in df_datatype.index:
    df_time_series_impute_median[col] = df_time_series_impute_median[col].fillna(df_time_series_impute_median[col].median())

In [38]:
df.groupby('YEAR').head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,NaN,174053.0,8224.0,55460.0,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,NaN,37451.0,2371.0,10152.0,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,NaN,609114.0,2544.0,53497.0,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,NaN,145212.0,808.0,33511.0,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,NaN,2044688.0,59067.0,431763.0,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN
51,1993_ALABAMA,ALABAMA,1993,727716.0,2827391.0,331409.0,1729295.0,766687.0,2833433.0,1564558.0,794146.0,237222.0,204207.0,8264.0,56598.0,57497.0,60004.0,39900.0,NaN,NaN,734288.0,NaN,NaN,NaN,NaN
52,1993_ALASKA,ALASKA,1993,121156.0,1191398.0,176150.0,775829.0,239419.0,1126398.0,494917.0,433788.0,36291.0,135791.0,2787.0,10329.0,10156.0,9160.0,6975.0,NaN,NaN,125948.0,NaN,NaN,NaN,NaN
53,1993_ARIZONA,ARIZONA,1993,676297.0,3427976.0,318465.0,1415407.0,1694104.0,3623946.0,1578889.0,1000914.0,164083.0,680139.0,3164.0,57656.0,57701.0,53500.0,37614.0,NaN,NaN,709453.0,NaN,NaN,NaN,NaN
54,1993_ARKANSAS,ARKANSAS,1993,311432.0,1346909.0,128196.0,771079.0,447634.0,1376067.0,782791.0,386526.0,68617.0,97824.0,1248.0,34337.0,34255.0,36471.0,27169.0,NaN,NaN,444271.0,NaN,NaN,NaN,NaN
55,1993_CALIFORNIA,CALIFORNIA,1993,5129788.0,28043338.0,2151157.0,17064146.0,8828035.0,28110986.0,15281147.0,8914559.0,1608514.0,1944760.0,59954.0,444104.0,420233.0,380223.0,277271.0,NaN,NaN,5327231.0,NaN,NaN,NaN,NaN
102,1994_ALABAMA,ALABAMA,1994,730004.0,2970223.0,331823.0,1850894.0,787506.0,3103266.0,1697593.0,826442.0,306977.0,231508.0,9051.0,57723.0,56773.0,59165.0,41730.0,NaN,NaN,736531.0,NaN,NaN,208.0,NaN
103,1994_ALASKA,ALASKA,1994,123868.0,1052282.0,134168.0,668229.0,249885.0,1116160.0,516242.0,446458.0,36589.0,98486.0,2593.0,10309.0,10318.0,9503.0,7057.0,NaN,NaN,127057.0,NaN,NaN,NaN,NaN
104,1994_ARIZONA,ARIZONA,1994,708482.0,3566586.0,348847.0,1478372.0,1739367.0,3803379.0,1652311.0,1054136.0,183778.0,696618.0,3540.0,59545.0,60032.0,55334.0,40119.0,NaN,NaN,737424.0,NaN,NaN,206.0,NaN
105,1994_ARKANSAS,ARKANSAS,1994,312695.0,1393287.0,132108.0,810396.0,450783.0,1445984.0,816270.0,403608.0,75434.0,105349.0,1652.0,35620.0,34488.0,36437.0,27161.0,NaN,NaN,447565.0,NaN,NaN,209.0,NaN
106,1994_CALIFORNIA,CALIFORNIA,1994,4120498.0,23440845.0,2095878.0,13175550.0,8169417.0,23012688.0,12443864.0,6754346.0,1615630.0,1916061.0,66450.0,448237.0,426919.0,388561.0,285132.0,NaN,NaN,5407475.0,NaN,NaN,197.0,NaN
153,1995_ALABAMA,ALABAMA,1995,727480.0,3367437.0,328957.0,2161366.0,877114.0,3353363.0,1851700.0,888983.0,326956.0,243365.0,9324.0,59739.0,56486.0,59914.0,40981.0,NaN,NaN,746149.0,NaN,NaN,NaN,NaN
154,1995_ALASKA,ALASKA,1995,125421.0,1117068.0,123037.0,710028.0,284003.0,1203817.0,515914.0,469085.0,37579.0,159146.0,2419.0,10567.0,10222.0,9573.0,7111.0,NaN,NaN,127618.0,NaN,NaN,NaN,NaN
155,1995_ARIZONA,ARIZONA,1995,735018.0,3815218.0,376437.0,1669173.0,1769608.0,4056279.0,1772388.0,1131046.0,226507.0,710135.0,4027.0,61420.0,60202.0,56407.0,39197.0,NaN,NaN,743566.0,NaN,NaN,NaN,NaN
156,1995_ARKANSAS,ARKANSAS,1995,447757.0,2057550.0,197556.0,1244457.0,615537.0,2155067.0,1211057.0,598109.0,119934.0,160693.0,1525.0,36731.0,33955.0,36696.0,27083.0,NaN,NaN,453257.0,NaN,NaN,NaN,NaN
157,1995_CALIFORNIA,CALIFORNIA,1995,5299405.0,29512214.0,2612241.0,15541486.0,11358487.0,30097549.0,16146416.0,8603751.0,2181053.0,2669270.0,69182.0,472334.0,428553.0,399039.0,287428.0,NaN,NaN,5536406.0,NaN,NaN,NaN,NaN
204,1996_ALABAMA,ALABAMA,1996,735912.0,3365113.0,334858.0,2138717.0,891538.0,3572283.0,1987018.0,935115.0,322883.0,286699.0,9633.0,60949.0,57098.0,58305.0,42510.0,NaN,NaN,747932.0,NaN,NaN,NaN,NaN
205,1996_ALASKA,ALASKA,1996,126189.0,1120346.0,123505.0,706116.0,290725.0,1240031.0,636959.0,365085.0,38996.0,179297.0,2186.0,10451.0,10055.0,9627.0,7370.0,NaN,NaN,129919.0,NaN,NaN,NaN,NaN
206,1996_ARIZONA,ARIZONA,1996,764681.0,4143304.0,378917.0,1798363.0,1966024.0,4391555.0,1860007.0,1193260.0,220650.0,877190.0,4495.0,64613.0,62793.0,60514.0,42041.0,NaN,NaN,799250.0,NaN,NaN,NaN,NaN
207,1996_ARKANSAS,ARKANSAS,1996,452907.0,2183384.0,192152.0,1296247.0,694985.0,2297381.0,1264275.0,636106.0,127007.0,203555.0,1980.0,36442.0,33855.0,37064.0,27613.0,NaN,NaN,457349.0,NaN,NaN,NaN,NaN
208,1996_CALIFORNIA,CALIFORNIA,1996,5460484.0,31282981.0,2603882.0,17061474.0,11617625.0,31561692.0,16880730.0,9222569.0,2362407.0,2580639.0,73233.0,469965.0,435217.0,406456.0,298669.0,NaN,NaN,5686198.0,NaN,NaN,NaN,NaN
255,1997_ALABAMA,ALABAMA,1997,737386.0,3981788.0,376200.0,2498847.0,1106741.0,3963624.0,2095904.0,1075352.0,323955.0,420070.0,9886.0,58326.0,57431.0,58210.0,44272.0,472847.0,208148.0,749207.0,NaN,NaN,NaN,NaN
256,1997_ALASKA,ALASKA,1997,128143.0,1131950.0,145563.0,692364.0,294023.0,1237103.0,651935.0,372788.0,40973.0,152330.0,2183.0,10249.0,10473.0,9954.0,7771.0,83217.0,36474.0,132123.0,NaN,NaN,NaN,NaN
257,1997_ARIZONA,ARIZONA,1997,783552.0,4343262.0,405291.0,1907516.0,2030455.0,4432360.0,1977550.0,1252277.0,265183.0,678793.0,4674.0,63857.0,65170.0,60138.0,44259.0,522450.0,217764.0,814113.0,NaN,NaN,NaN,NaN
258,1997_ARKANSAS,ARKANSAS,1997,457349.0,2355859.0,218137.0,1387107.0,750615.0,2379496.0,1291727.0,667439.0,158337.0,192204.0,1672.0,35761.0,34067.0,36229.0,29204.0,282911.0,133449.0,456497.0,NaN,NaN,NaN,NaN
259,1997_CALIFORNIA,CALIFORNIA,1997,5595836.0,35614934.0,2850766.0,20560730.0,12203438.0,33862281.0,18160435.0,10040400.0,1792979.0,3088674.0,76584.0,463684.0,451069.0,412604.0,317595.0,3591033.0,1578929.0,5803887.0,NaN,NaN,NaN,NaN
306,1998_ALABAMA,ALABAMA,1998,739321.0,4140537.0,374153.0,2589819.0,1176565.0,4245033.0,2218693.0,1155492.0,357731.0,458351.0,10341.0,58055.0,58610.0,57105.0,43957.0,473954.0,205630.0,747980.0,NaN,NaN,211.0,255.0
307,1998_ALASKA,ALASKA,1998,130633.0,1206195.0,157335.0,745814.0,303046.0,1222893.0,680848.0,376448.0,42456.0,104903.0,2017.0,9838.0,10555.0,10497.0,8403.0,85124.0,38394.0,135373.0,NaN,NaN,NaN,NaN
308,1998_ARIZONA,ARIZONA,1998,794331.0,4675296.0,470398.0,2000801.0,2204097.0,4726098.0,2091741.0,1315931.0,279785.0,759108.0,5209.0,65312.0,67764.0,63943.0,45813.0,543670.0,224867.0,848262.0,NaN,NaN,206.0,260.0
309,1998_ARKANSAS,ARKANSAS,1998,456355.0,2567380.0,226475.0,1505419.0,835486.0,2536027.0,1367612.0,731619.0,170279.0,192590.0,1390.0,34120.0,35034.0,35936.0,29123.0,282517.0,132507.0,452256.0,NaN,NaN,209.0,256.0
310,1998_CALIFORNIA,CALIFORNIA,1998,5727224.0,39183018.0,3149260.0,22840500.0,13193258.0,38087666.0,20083913.0,10939061.0,1862674.0,4335730.0,81926.0,459262.0,462241.0,424768.0,334852.0,3666271.0,1627284.0,5926037.0,NaN,NaN,202.0,252.0
357,1999_ALABAMA,ALABAMA,1999,737639.0,4471546.0,393095.0,2752653.0,1325798.0,4622810.0,2399626.0,1208081.0,441314.0,515798.0,10548.0,56120.0,60012.0,56201.0,42576.0,472019.0,202045.0,740732.0,NaN,NaN,NaN,NaN
358,1999_ALASKA,ALASKA,1999,133508.0,1243227.0,187153.0,740163.0,315911.0,1289988.0,705069.0,403903.0,42897.0,119079.0,1344.0,9583.0,10926.0,10575.0,8381.0,84674.0,38790.0,134391.0,NaN,NaN,NaN,NaN
359,1999_ARIZONA,ARIZONA,1999,814157.0,5085826.0,495708.0,2259753.0,2330365.0,5072471.0,2272859.0,1426620.0,264903.0,871345.0,1772.0,67051.0,70418.0,65338.0,47907.0,551623.0,228813.0,852612.0,NaN,NaN,NaN,NaN
360,1999_ARKANSAS,ARKANSAS,1999,451981.0,2684966.0,232382.0,2001992.0,450592.0,2650808.0,1424443.0,767854.0,177666.0,196954.0,1425.0,34218.0,35707.0,35403.0,29316.0,281082.0,132893.0,451034.0,NaN,NaN,NaN,NaN
361,1999_CALIFORNIA,CALIFORNIA,1999,5839207.0,41393435.0,3599923.0,23695095.0,14098417.0,40834643.0,21110543.0,11539910.0,1954362.0,4738866.0,85992.0,459771.0,489356.0,431730.0,347914.0,3734997.0,1675778.0,6038590.0,NaN,NaN,NaN,NaN
408,2000_ALABAMA,ALABAMA,2000,730184.0,4885917.0,425978.0,3003814.0,1456125.0,5003267.0,2551713.0,1319053.0,395909.0,663903.0,10836.0,55112.0,59749.0,56951.0,42512.0,472686.0,201358.0,739992.0,217.0,264.0,NaN,NaN
409,2000_ALASKA,ALASKA,2000,132822.0,1313510.0,199520.0,774194.0,339796.0,1386904.0,717725.0,417637.0,46782.0,184546.0,1210.0,9677.0,10646.0,10377.0,8335.0,83555.0,38914.0,133356.0,NaN,NaN,NaN,NaN
410,2000_ARIZONA,ARIZONA,2000,814807.0,5479168.0,534619.0,2481089.0,2463460.0,5397194.0,2488932.0,1573568.0,270671.0,768425.0,2037.0,68347.0,72295.0,65526.0,49501.0,567626.0,236933.0,877696.0,219.0,269.0,NaN,NaN
411,2000_ARKANSAS,ARKANSAS,2000,450751.0,2844855.0,254735.0,2126099.0,464021.0,2683400.0,1531232.0,804253.0,138220.0,146666.0,2001.0,33941.0,35724.0,34873.0,28918.0,281091.0,131511.0,449959.0,216.0,257.0,NaN,NaN
412,2000_CALIFORNIA,CALIFORNIA,2000,5941946.0,46628207.0,4024940.0,26877920.0,15725347.0,45829753.0,23514388.0,12429070.0,2269603.0,5849441.0,89919.0,459771.0,489043.0,441877.0,357789.0,3804640.0,1707952.0,6140814.0,213.0,260.0,NaN,NaN
459,2001_ALABAMA,ALABAMA,2001,728532.0,4832946.0,466150.0,2879636.0,1487160.0,5086045.0,2656393.0,1374265.0,426481.0,540284.0,11841.0,54148.0,58929.0,56591.0,42909.0,469591.0,201610.0,737190.0,NaN,NaN,NaN,NaN
460,2001_ALASKA,ALASKA,2001,131985.0,1325498.0,229297.0,732985.0,363216.0,1402839.0,701053.0,479510.0,48312.0,150279.0,1253.0,10095.0,10718.0,10702.0,8340.0,83540.0,39461.0,134358.0,NaN,NaN,NaN,NaN
461,2001_ARIZONA,ARIZONA,2001,834387.0,5916342.0,580043.0,2729793.0,2606506.0,5858385.0,2538936.0,1701945.0,269157.0,1035457.0,6624.0,72119.0,74270.0,69643.0,52162.0,585206.0,249920.0,922180.0,NaN,NaN,NaN,NaN
462,2001_ARKANSAS,ARKANSAS,2001,449693.0,2974588.0,274406.0,2135281.0,564901.0,2951677.0,1616883.0,877225.0,153300.0,235346.0,1623.0,34981.0,35216.0,35372.0,28849.0,280237.0,131418.0,449805.0,NaN,NaN,NaN,NaN
463,2001_CALIFORNIA,CALIFORNIA,2001,6045030.0,53288943.0,4280358.0,31374889.0,17633696.0,52082540.0,26641811.0,14127664.0,2570224.0,6755895.0,100351.0,457165.0,485301.0,461133.0,365907.0,3871843.0,1745295.0,6247726.0,NaN,NaN,NaN,NaN
510,2002_ALABAMA,ALABAMA,2002,726367.0,5128559.0,508425.0,3010983.0,1609151.0,5147821.0,2720735.0,1414594.0,418949.0,496146.0,9715.0,55499.0,58690.0,57576.0,45521.0,467993.0,206159.0,739366.0,NaN,NaN,207.0,253.0
511,2002_ALASKA,ALASKA,2002,133010.0,1377767.0,249222.0,773418.0,355127.0,1523327.0,747223.0,485124.0,50601.0,215409.0,1391.0,10069.0,10084.0,10840.0,8810.0,82920.0,39984.0,134364.0,NaN,NaN,NaN,NaN
512,2002_ARIZONA,ARIZONA,2002,859588.0,6192222.0,619869.0,2825228.0,2747125.0,6018188.0,2659448.0,1833852.0,286945.0,966925.0,7533.0,71357.0,71139.0,69841.0,60820.0,576817.0,276984.0,937755.0,NaN,NaN,205.0,257.0
513,2002_ARKANSAS,ARKANSAS,2002,449161.0,3147921.0,331069.0,2334551.0,482301.0,3087453.0,1697645.0,910208.0,165003.0,239177.0,1938.0,35283.0,33835.0,36102.0,29277.0,280571.0,131716.0,450985.0,NaN,NaN,213.0,260.0
514,2002_CALIFORNIA,CALIFORNIA,2002,6136915.0,54727056.0,5084409.0,31005317.0,18637330.0,56464225.0,28593157.0,15568570.0,2882414.0,6998522.0,109264.0,456940.0,491510.0,473553.0,385181.0,3917027.0,1807054.0,6353667.0,NaN,NaN,206.0,250.0
561,2003_ALABAMA,ALABAMA,2003,727900.0,5196054.0,567704.0,2966981.0,1661369.0,5298932.0,2817111.0,1521462.0,424662.0,432279.0,1852.0,56541.0,57323.0,59663.0,42005.0,466920.0,205907.0,731220.0,223.0,262.0,207.0,253.0
562,2003_ALASKA,ALASKA,2003,133303.0,1425948.0,259423.0,813371.0,353154.0,1610289.0,763525.0,514052.0,55715.0,247005.0,1883.0,9475.0,10115.0,11140.0,8651.0,82337.0,40238.0,133933.0,233.0,279.0,212.0,256.0
563,2003_ARIZONA,ARIZONA,2003,875111.0,6529894.0,740579.0,2912629.0,2876686.0,6210287.0,2810907.0,1964229.0,303924.0,864642.0,9376.0,76365.0,76207.0,76376.0,68815.0,613442.0,307272.0,1012068.0,229.0,271.0,209.0,255.0
564,2003_ARKANSAS,ARKANSAS,2003,450158.0,3241275.0,379947.0,2394336.0,466992.0,3242799.0,1768713.0,972598.0,170767.0,247245.0,2573.0,36391.0,34070.0,37004.0,28840.0,281834.0,132712.0,454523.0,229.0,266.0,214.0,258.0
565,2003_CALIFORNIA,CALIFORNIA,2003,6226552.0,59815855.0,5795655.0,33617766.0,20402434.0,59749885.0,29561563.0,17030335.0,2995767.0,7341541.0,114939.0,456941.0,493415.0,500143.0,395194.0,3929869.0,1854518.0,6413867.0,227.0,267.0,206.0,251.0
612,2004_ALABAMA,ALABAMA,2004,730418.0,5356113.0,625666.0,2971520.0,1758927.0,5450269.0,2875595.0,1580654.0,433522.0,449619.0,1994.0,56964.0,56182.0,59286.0,42672.0,462799.0,208383.0,730140.0,NaN,NaN,NaN,NaN
613,2004_ALASKA,ALASKA,2004,133153.0,1477152.0,286447.0,809810.0,380895.0,1647250.0,775069.0,527349.0,54475.0,255826.0,1760.0,9870.0,9674.0,10857.0,8766.0,80351.0,40989.0,132970.0,NaN,NaN,NaN,NaN
614,2004_ARIZONA,ARIZONA,2004,895927.0,7117923.0,835464.0,3181009.0,3101450.0,6731212.0,3224647.0,2115629.0,332228.0,829146.0,9730.0,80614.0,77110.0,78595.0,71035.0,627544.0,320690.0,1043298.0,NaN,NaN,NaN,NaN
615,2004_ARKANSAS,ARKANSAS,2004,453491.0,3385818.0,423001.0,2430731.0,532086.0,3539569.0,1863515.0,1036279.0,182711.0,362154.0,7688.0,36967.0,33884.0,37369.0,28640.0,282856.0,134641.0,463115.0,NaN,NaN,NaN,NaN
616,2004_CALIFORNIA,CALIFORNIA,2004,6284502.0,60162326.0,6634068.0,31756690.0,21771568.0,62647953.0,29624968.0,17338877.0,3048006.0,9242549.0,119410.0,455155.0,488045.0,498806.0,409576.0,3897579.0,1915361.0,6441557.0,NaN,NaN,NaN,NaN
663,2005_ALABAMA,ALABAMA,2005,729342.0,5889966.0,665924.0,3247562.0,1976480.0,5904664.0,3053380.0,1744013.0,462605.0,511944.0,2623.0,58692.0,55919.0,59643.0,43452.0,466164.0,212414.0,741761.0,225.0,262.0,208.0,252.0
664,2005_ALASKA,ALASKA,2005,132568.0,1599739.0,302846.0,878731.0,418162.0,1751718.0,829666.0,559084.0,55782.0,268700.0,1914.0,9934.0,9495.0,10793.0,9578.0,79377.0,42063.0,133288.0,236.0,279.0,211.0,259.0
665,2005_ARIZONA,ARIZONA,2005,919875.0,7550109.0,897553.0,3320196.0,3332360.0,7136794.0,3423716.0,2264931.0,351097.0,861286.0,9979.0,83529.0,80458.0,80683.0,79180.0,645851.0,354901.0,1094454.0,230.0,274.0,207.0,255.0
666,2005_ARKANSAS,ARKANSAS,2005,461667.0,3978240.0,447012.0,2995788.0,535440.0,3999608.0,2118580.0,1173643.0,200865.0,393713.0,10372.0,38070.0,34951.0,37279.0,29351.0,286781.0,138237.0,474206.0,236.0,272.0,217.0,258.0
667,2005_CALIFORNIA,CALIFORNIA,2005,6307022.0,62171797.0,7148863.0,34912166.0,20110768.0,66196072.0,31070450.0,18046385.0,3132465.0,10223657.0,125099.0,458440.0,477828.0,489560.0,423241.0,3848455.0,1953077.0,6437202.0,230.0,269.0,207.0,250.0
714,2006_ALABAMA,ALABAMA,2006,743265.0,6364028.0,730112.0,3540436.0,2093480.0,6591429.0,3326656.0,1983482.0,485936.0,666550.0,3872.0,58209.0,56720.0,59573.0,44471.0,466583.0,214968.0,743632.0,NaN,NaN,NaN,NaN
715,2006_ALASKA,ALASKA,2006,132893.0,1625138.0,289855.0,918976.0,416307.0,1817656.0,871434.0,601197.0,58037.0,236931.0,1832.0,9795.0,9589.0,10155.0,10039.0,78540.0,42441.0,132608.0,NaN,NaN,NaN,NaN
716,2006_ARIZONA,ARIZONA,2006,947266.0,8084068.0,963600.0,3635388.0,3485080.0,7934177.0,3733989.0,2436340.0,392902.0,1143569.0,14905.0,85388.0,81388.0,80769.0,71388.0,659167.0,308576.0,1068249.0,NaN,NaN,NaN,NaN
717,2006_ARKANSAS,ARKANSAS,2006,472609.0,4247664.0,482038.0,3108910.0,656716.0,4343877.0,2265821.0,1297593.0,211065.0,449548.0,10895.0,38058.0,35581.0,36026.0,29617.0,287207.0,139689.0,476409.0,NaN,NaN,NaN,NaN
718,2006_CALIFORNIA,CALIFORNIA,2006,6295994.0,66302860.0,7421482.0,37439651.0,21441727.0,68722432.0,32387671.0,19079354.0,3259244.0,10047331.0,119824.0,454605.0,470542.0,491871.0,443253.0,3830950.0,1993972.0,6406750.0,NaN,NaN,NaN,NaN
765,2007_ALABAMA,ALABAMA,2007,743273.0,7069040.0,689072.0,4070949.0,2309019.0,7196459.0,3653466.0,2174210.0,546077.0,687816.0,3592.0,55972.0,57795.0,58792.0,46200.0,466414.0,216941.0,742919.0,229.0,266.0,216.0,252.0
766,2007_ALASKA,ALASKA,2007,132197.0,1800616.0,282270.0,1052357.0,465989.0,1938755.0,927307.0,645857.0,60699.0,257723.0,1679.0,9625.0,9420.0,9953.0,10092.0,77676.0,42049.0,131029.0,237.0,283.0,214.0,259.0
767,2007_ARIZONA,ARIZONA,2007,969875.0,8724434.0,953861.0,4204089.0,3566484.0,8709531.0,3977800.0,2656438.0,403069.0,1436673.0,15854.0,86742.0,82876.0,81196.0,76275.0,668290.0,316376.0,1087447.0,232.0,276.0,210.0,255.0
768,2007_ARKANSAS,ARKANSAS,2007,474532.0,4415981.0,483689.0,3319030.0,613262.0,4779308.0,2337748.0,1378576.0,450454.0,470562.0,12795.0,38192.0,35710.0,35944.0,30708.0,288518.0,138921.0,479016.0,238.0,274.0,217.0,258.0
769,2007_CALIFORNIA,CALIFORNIA,2007,6288686.0,72516936.0,7200298.0,42333637.0,22983001.0,73225422.0,34685013.0,20655194.0,3467540.0,10058842.0,68002.0,454743.0,467305.0,490054.0,468281.0,3801685.0,2011865.0,6343471.0,230.0,270.0,209.0,251.0
816,2008_ALABAMA,ALABAMA,2008,742919.0,7726213.0,711391.0,4649053.0,2365769.0,7847387.0,3947003.0,2373070.0,564746.0,816799.0,6470.0,56205.0,58593.0,57809.0,46763.0,465403.0,217590.0,745668.0,NaN,NaN,NaN,NaN
817,2008_ALASKA,ALASKA,2008,130624.0,2188587.0,303399.0,1419318.0,465870.0,2274819.0,1113396.0,740000.0,65654.0,307512.0,1905.0,9744.0,9756.0,9673.0,9787.0,77614.0,41399.0,130662.0,NaN,NaN,NaN,NaN
818,2008_ARIZONA,ARIZONA,2008,987332.0,9272152.0,989340.0,4458836.0,3823976.0,9581201.0,4251747.0,2878922.0,443634.0,1571620.0,16748.0,87229.0,83793.0,81576.0,76735.0,667539.0,316048.0,1087817.0,NaN,NaN,NaN,NaN
819,2008_ARKANSAS,ARKANSAS,2008,476110.0,4608356.0,488378.0,3487063.0,632915.0,4720720.0,2388502.0,1462092.0,248189.0,463449.0,13254.0,37997.0,36345.0,35387.0,30256.0,289953.0,137196.0,478965.0,NaN,NaN,NaN,NaN
820,2008_CALIFORNIA,CALIFORNIA,2008,6258421.0,74626928.0,7227456.0,43187637.0,24211835.0,76618865.0,36542347.0,22310865.0,3692956.0,9388155.0,70497.0,461063.0,463904.0,486390.0,476156.0,3770281.0,2013687.0,6322528.0,NaN,NaN,NaN,NaN
867,2009_ALABAMA,ALABAMA,2009,745668.0,7186390.0,728795.0,4161103.0,2296492.0,7815467.0,3836398.0,2331552.0,561019.0,924956.0,7774.0,57019.0,59512.0,57027.0,48164.0,464601.0,219495.0,748889.0,228.0,269.0,216.0,255.0
868,2009_ALASKA,ALASKA,2009,130236.0,2158970.0,312667.0,1357747.0,488556.0,2396412.0,1129756.0,832783.0,70835.0,303165.0,2475.0,9804.0,10046.0,9626.0,9779.0,78545.0,40837.0,131661.0,237.0,283.0,211.0,259.0
869,2009_ARIZONA,ARIZONA,2009,981303.0,8802515.0,1044140.0,3806064.0,3952311.0,9580393.0,4296503.0,2983729.0,455403.0,1312659.0,9175.0,84191.0,83686.0,82163.0,79283.0,666897.0,317397.0,1077831.0,230.0,277.0,210.0,258.0
870,2009_ARKANSAS,ARKANSAS,2009,474423.0,4753142.0,534510.0,3530487.0,688145.0,5017352.0,2417974.0,1492691.0,533057.0,409763.0,13504.0,38115.0,36479.0,35715.0,30567.0,292256.0,136213.0,480559.0,238.0,276.0,216.0,258.0
871,2009_CALIFORNIA,CALIFORNIA,2009,6234155.0,73958896.0,9745250.0,40084244.0,24129402.0,74766086.0,35617964.0,21693675.0,3759373.0,8881265.0,71783.0,471058.0,465866.0,472856.0,478503.0,3717166.0,1997064.0,6263438.0,232.0,270.0,210.0,253.0
918,2010_ALABAMA,ALABAMA,2010,748889.0,7281058.0,1134111.0,3800128.0,2346819.0,7647571.0,3900492.0,2308399.0,555539.0,729720.0,8179.0,57665.0,59117.0,57992.0,49719.0,467768.0,221940.0,755552.0,NaN,NaN,NaN,NaN
919,2010_ALASKA,ALASKA,2010,131265.0,2230338.0,366970.0,1356673.0,506695.0,2371251.0,1151630.0,856333.0,71634.0,229874.0,2990.0,10120.0,9917.0,9622.0,9643.0,78880.0,40114.0,132104.0,NaN,NaN,NaN,NaN
920,2010_ARIZONA,ARIZONA,2010,963517.0,8828122.0,1579806.0,3139588.0,4108728.0,8812967.0,4223152.0,2949514.0,400773.0,713810.0,8554.0,82860.0,82862.0,80636.0,81326.0,660440.0,319747.0,1071751.0,NaN,NaN,NaN,NaN