<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/Numpy_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Assignment - Arif Aygun

In [ ]:
import numpy as np
import pandas as pd

### 1- Create three lists representing house features, each list containing ten values. The first one for the house's size in square meters, the second one for rooms and last for price. Then, create an array combining these lists.

In [ ]:

sizes = [140, 110, 2250, 160, 120, 220, 180, 1900, 80, 100] # List of house sizes in square meters

rooms = [5, 2, 4, 7, 5, 5, 3, 4, 4, 6] # List of number of rooms in the house

prices = [225000, 132000, 213000, 200000, 95000, 77000, 190000, 280000, 390000, 320000] # List of house prices in dollars

In [ ]:
house_data = np.array([sizes, rooms, prices]) # combining three list into a single array
house_data

Representing of house features is not good to study and uderstand in this array form.

### 2- Transpose the array you have created, so that every line can represent features of one house.

In [ ]:
house_data = house_data.T# Transposing the array

print(house_data) # Printing the transposed array; each row represents a single house

In this transposed array, each row represents the features of a single house.

- First column representing its size in square meters.
- Second column representing the number of rooms.
- Third column representing its price in dollars.

House features are in a two dimensional array where each row represents a single house, and the columns represent the house's size, number of rooms, and price.

The form of data is better now. Using the T method to transpose the array so that the rows and columns are in the correct order.

### 3- Display the shape of the array and explain what it means.

In [ ]:
print(house_data.shape)

The shape of the house_data array is (10, 3).

This means that the array has 10 rows and 3 columns.
Particularly, the array contains data for 10 houses, and each house is represented by 3 features (size in square meters, number of rooms, price in thousands of dollars)

- The first number (10) represents the number of rows in the array which is also the number of houses in our data.
- The second number (3) represents the number of columns in the array, which is the number of features for each house.

Now, to knowe the shape of an array can be useful. It can help us to understand the structure of our data and to perform indexing, slicing, and reshaping.

### 4- Load the Earthquakes dataset. Export the dataset to an array as you covered in the previous lesson.

In [ ]:
earthquakes=pd.read_csv(r"C:\Users\AAygun\Documents\GitHub\Data Sets\Magnimind\earthquakes1970-2014.csv")
earthquakes

In [ ]:
earthquakes.shape

### 5- Slice first 20 rows and column numbers 3, 5, 6, 7, 12. Then, assign the array you sliced to a variable.

In [ ]:
sliced_arrays = earthquakes.loc[:20,['Longitude', 'Magnitude', 'MagType', 'NbStations', 'EventID']]
sliced_arrays

### 6- Display the row numbers where last values are equal to 4.5 or higher.

In [ ]:
sliced_arrays[sliced_arrays['EventID'] >= 4.5].index

### 7- Assign 1 to first row.

In [ ]:
sliced_arrays.loc[0] = 1
sliced_arrays

### 8- Save the final state of the array to disk. You are going to use this in the next assignment.

In [ ]:
pd.DataFrame(sliced_arrays).to_csv("new_earthquakes.csv")

### 9- Load the array you saved in the previous lesson from the disk.

In [ ]:
load_array = pd.read_csv("new_earthquakes.csv")
load_array

### 10- Display the mean and the standard deviation for each column.

In [ ]:
load_array.std()

### 11- Subtract 1, 25, 25, 10, 4 from columns in order. (Remember it can be dobe in one line of code.)

In [ ]:
load_array['Longitude'] -= 1
load_array['Magnitude'] -= 25
load_array['NbStations'] -= 25
load_array['NbStations'] -= 10
load_array['EventID'] -= 4
load_array

### 12- Multiply each element by 2. (Remember it can be done in one line of code.)

In [ ]:
multiplied_array = load_array * 2
multiplied_array

# **OFFICE HOUR SOLUTIONS**

Solution:1

In [ ]:
import numpy as np

In [ ]:
#Creating 10 houses with random size of minimum 100 m-squared to 500 m-squared
House_size = np.random.randint(100,500,10,dtype=int) #randint support integers only
House_size = sorted(House_size, reverse=True)

#Creating the number of rooms randomly, minimum 1 room to maximum 2 rooms.
House_rooms = np.random.choice(range(1,3), size=10, replace=True)
House_rooms = sorted(House_rooms, reverse=True)

#Creating the price randomly between $300_000 to $1_000_000
House_price = np.random.choice(range(300_000, 1_000_000), size=10,replace=True)
House_price = sorted(House_price, reverse=True)

#Combining the above arrays into a single array
House_features = np.array([House_size, House_rooms, House_price])
House_features

In [ ]:
House_features.shape

Solution:2

In [ ]:
House_features = House_features.transpose()

In [ ]:
House_features.shape

Solution:3

In [ ]:
print("""
The House_features array has {rows} rows that represents number of houses,\nand {columns} columns which represents number of features for each house""". format(rows= House_features.shape[0], columns= House_features.shape[1]))

Solution:3

In [1]:
#from google.colab import drive
#drive.mounth('content/drive')

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
for Dir, Folders, Files in os.walk(os.getcwd()):
  for File in Files:
    if File == 'earthquakes1970-2014.csv':
      Path = os.path.join(Dir, File)
      print(Path)

/content/drive/MyDrive/Colab Datasets/earthquakes1970-2014.csv
/content/drive/Othercomputers/My MacBook Pro/GitHub/Data Sets/Magnimind/earthquakes1970-2014.csv
/content/drive/Othercomputers/My MacBook Pro/GitHub/Magnimind Eski Projeler/Romuald Francis Yang repos/Magnimind DS/datasets/earthquakes1970-2014.csv

Path is a data address path

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv(Path)
df.head()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
0,1970/01/04 17:00:40.20,24.139,102.503,31.0,7.5,Ms,90.0,NaN,NaN,0.0,NEI,1.970010e+09
1,1970/01/06 05:35:51.80,-9.628,151.458,8.0,6.2,Ms,85.0,NaN,NaN,0.0,NEI,1.970011e+09
2,1970/01/08 17:12:39.10,-34.741,178.568,179.0,6.1,Mb,59.0,NaN,NaN,0.0,NEI,1.970011e+09
3,1970/01/10 12:07:08.60,6.825,126.737,73.0,6.1,Mb,91.0,NaN,NaN,0.0,NEI,1.970011e+09
4,1970/01/16 08:05:39.00,60.280,-152.660,85.0,6.0,ML,0.0,NaN,NaN,NaN,AK,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5304 entries, 0 to 5303
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DateTime    5304 non-null   object
 1   Latitude    5304 non-null   float64
 2   Longitude   5304 non-null   float64
 3   Depth       5304 non-null   float64
 4   Magnitude   5304 non-null   float64
 5   MagType     5304 non-null   object
 6   NbStations  5250 non-null   float64
 7   Gap         172 non-null    float64
 8   Distance    170 non-null    float64
 9   RMS         5264 non-null   float64
 10  Source      5304 non-null   object
 11  EventID     5242 non-null   float64
dtypes: float64(9), object(3)
memory usage: 497.4+ KB

In [9]:
#Converting dataframe to an array
np.array(df)

#Converting dataframe to an array
df_array = df.to_numpy()

#shape of the array
df_array.shape

#slicing
df_array_sliced = df_array[:20, [2,4,5,6,11]]
np.where(df_array_sliced[:,1]>=6.5)
np.where(df_array_sliced[:,1]>=4.5)

#replacing values
#replacing a single value at the given row and column
df_array_sliced[0,1]=1

#replacing values of the whole row
df_array_sliced[0]=1

#display the array
display(df_array_sliced)
display(pd.DataFrame(df_array_sliced))

df_array_sliced = np.asarray(np.delete(df_array_sliced, 2, axis=1), dtype=float)

#the following code will remove with null value
df_array_sliced_numeric[~np.isnan(df_array_sliced_numeric).any(axis=1)] - [1,25,10,4]
df_array_sliced_numeric[~np.isnan(df_array_sliced_numeric).any(axis=1)]*4

array([[1, 1, 1, 1, 1],
       [151.458, 6.2, 'Ms', 85.0, 1970010640.0],
       [178.568, 6.1, 'Mb', 59.0, 1970010840.0],
       [126.736999999999, 6.1, 'Mb', 91.0, 1970011040.0],
       [-152.66, 6.0, 'ML', 0.0, nan],
       [-177.348999999999, 6.5, 'Mb', 175.0, 1970012040.0],
       [142.966, 6.4, 'Ms', 199.0, 1970012040.0],
       [-104.298, 6.6, 'Ms', 140.0, 1970012140.0],
       [166.37, 6.4, 'Ms', 91.0, 1970012640.0],
       [-99.48399999999991, 6.5, 'Ms', 100.0, 1970020440.0],
       [122.117, 6.6, 'Ms', 94.0, 1970020540.0],
       [100.775, 6.1, 'Ms', 57.0, 1970020640.0],
       [103.031, 6.0, 'Ms', 94.0, 1970022440.0],
       [-179.5898, 6.0, 'ML', 0.0, nan],
       [-175.039999999999, 6.1, 'ML', 0.0, nan],
       [143.706999999999, 6.2, 'Ms', 82.0, 1970030440.0],
       [168.603, 6.5, 'Ms', 61.0, 1970030940.0],
       [148.87, 6.0, 'Mb', 65.0, 1970031040.0],
       [-153.97, 6.5, 'ML', 0.0, nan],
       [-69.49899999999991, 6.0, 'Mb', 118.0, 1970031540.0]], dtype=object)

           0    1   2      3             4
0          1    1   1      1             1
1    151.458  6.2  Ms   85.0  1970010640.0
2    178.568  6.1  Mb   59.0  1970010840.0
3    126.737  6.1  Mb   91.0  1970011040.0
4    -152.66  6.0  ML    0.0           NaN
5   -177.349  6.5  Mb  175.0  1970012040.0
6    142.966  6.4  Ms  199.0  1970012040.0
7   -104.298  6.6  Ms  140.0  1970012140.0
8     166.37  6.4  Ms   91.0  1970012640.0
9    -99.484  6.5  Ms  100.0  1970020440.0
10   122.117  6.6  Ms   94.0  1970020540.0
11   100.775  6.1  Ms   57.0  1970020640.0
12   103.031  6.0  Ms   94.0  1970022440.0
13 -179.5898  6.0  ML    0.0           NaN
14   -175.04  6.1  ML    0.0           NaN
15   143.707  6.2  Ms   82.0  1970030440.0
16   168.603  6.5  Ms   61.0  1970030940.0
17    148.87  6.0  Mb   65.0  1970031040.0
18   -153.97  6.5  ML    0.0           NaN
19   -69.499  6.0  Mb  118.0  1970031540.0

NameError: ignored