<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/Office_Hour_Data_Exploration_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2. Using the movie data, we have studied in this lesson. Complete the following tasks:

- Select a continuous and a categorical variable from the movie dataset and discuss the variable type of this variable. Discuss further in detail the type of selected continuous and categorical variables.
- Categorize a variable of your choice and assign a name to it
- Count the number of rows for each category

In [46]:
from pandas.io.formats import style
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import warnings

from scipy.stats.mstats import winsorize
from sqlalchemy import create_engine

warnings.filterwarnings('ignore')
sns.set(style='whitegrid')
pd.options.display.float_format = '{:2f}'.format
plt.rcParams['figure.dpi'] = 100

In [47]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('movies.csv')
df = pd.read_csv(file_path)
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.100000,757074,333.130000,76.000000
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.000000,485820,126.460000,65.000000
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.300000,157606,138.120000,62.000000
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.200000,60545,270.320000,59.000000
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.200000,393727,325.020000,40.000000

In [49]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 12 entries, Rank to Metascore
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [50]:
#df.describe(include ='0')
df.describe(include='object')

,Title,Genre,Description,Director,Actors
count,1000,1000,1000,1000,1000
unique,999,207,1000,644,996
top,The Host,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,Ridley Scott,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw..."
freq,2,50,1,8,2

### a. Select a continuous and a categorical variable from the movie dataset and discuss the variable type of this variable.

In [51]:
variable_type = pd.Series(['continuous numerical - ordinal',
                           'string variable - nominal',
                           'categorical - nominal',
                           'string variable - nominal',
                           'categorical - nominal',
                           'categorical - nominal',
                           'numerical discrete - interval',
                           'discrete numerical - ratio',
                           'dicrete numerical - ordinal',
                           'continonus numerical - ordinal',
                           'continuous numerical - ratio',
                           'discrete numerical - ordinal'], index = df.dtypes.index)

In [52]:
df_dtype = pd.concat([df.dtypes, df.nunique(), round(df.nunique()*100/len(df)), variable_type], axis=1)
df_dtype.columns = ['data type', 'No. of categories', 'categories/sample ratio %', 'variable_type']
df_dtype

,data type,No. of categories,categories/sample ratio %,variable_type
Rank,int64,1000,100.000000,continuous numerical - ordinal
Title,object,999,100.000000,string variable - nominal
Genre,object,207,21.000000,categorical - nominal
Description,object,1000,100.000000,string variable - nominal
Director,object,644,64.000000,categorical - nominal
Actors,object,996,100.000000,categorical - nominal
Year,int64,11,1.000000,numerical discrete - interval
Runtime (Minutes),int64,94,9.000000,discrete numerical - ratio
Rating,float64,55,6.000000,dicrete numerical - ordinal
Votes,int64,997,100.000000,continonus numerical - ordinal
Revenue (Millions),float64,814,81.000000,continuous numerical - ratio
Metascore,float64,84,8.000000,discrete numerical - ordinal

### b. Categorize a variable of your choice and assign a name to it

In [53]:
df['Revenue Category'] = pd.cut(df['Revenue (Millions)'], bins=3, right=True, labels=['low', 'medium', 'high'])
#df['Revenue (Millions)'].value_counts(bins=3)
df['Revenue Category']

0      medium
1         low
2         low
3         low
4      medium
        ...
995       NaN
996       low
997       low
998       NaN
999       low
Name: Revenue Category, Length: 1000, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [55]:
# example with range
binned_range = pd.cut(range(1,1000), bins=3, right=True, labels=['low', 'medium', 'high'])
binned_range

['low', 'low', 'low', 'low', 'low', ..., 'high', 'high', 'high', 'high', 'high']
Length: 999
Categories (3, object): ['low' < 'medium' < 'high']

### c.Count the number of rows for each category

In [56]:
df['Revenue Category'].value_counts()

low       835
medium     34
high        3
Name: Revenue Category, dtype: int64

Metascore and Rating can be converted to discrete numerical

## 3. Is it possible to convert categorical variable into numerical one? If so, how can you make that?

In [61]:
d = dict(enumerate(df.Genre.astype('category').cat.categories))
df['Genre_discrete'] = df.Genre.astype('category').cat.codes

In [65]:
d

{0: 'Action',
 1: 'Action,Adventure',
 2: 'Action,Adventure,Biography',
 3: 'Action,Adventure,Comedy',
 4: 'Action,Adventure,Crime',
 5: 'Action,Adventure,Drama',
 6: 'Action,Adventure,Family',
 7: 'Action,Adventure,Fantasy',
 8: 'Action,Adventure,Horror',
 9: 'Action,Adventure,Mystery',
 10: 'Action,Adventure,Romance',
 11: 'Action,Adventure,Sci-Fi',
 12: 'Action,Adventure,Thriller',
 13: 'Action,Adventure,Western',
 14: 'Action,Biography,Crime',
 15: 'Action,Biography,Drama',
 16: 'Action,Comedy',
 17: 'Action,Comedy,Crime',
 18: 'Action,Comedy,Drama',
 19: 'Action,Comedy,Family',
 20: 'Action,Comedy,Fantasy',
 21: 'Action,Comedy,Horror',
 22: 'Action,Comedy,Mystery',
 23: 'Action,Comedy,Romance',
 24: 'Action,Comedy,Sci-Fi',
 25: 'Action,Comedy,Sport',
 26: 'Action,Crime,Drama',
 27: 'Action,Crime,Fantasy',
 28: 'Action,Crime,Mystery',
 29: 'Action,Crime,Sci-Fi',
 30: 'Action,Crime,Sport',
 31: 'Action,Crime,Thriller',
 32: 'Action,Drama,Family',
 33: 'Action,Drama,Fantasy',
 34: 'Action,Drama,History',
 35: 'Action,Drama,Horror',
 36: 'Action,Drama,Mystery',
 37: 'Action,Drama,Romance',
 38: 'Action,Drama,Sci-Fi',
 39: 'Action,Drama,Sport',
 40: 'Action,Drama,Thriller',
 41: 'Action,Drama,War',
 42: 'Action,Fantasy',
 43: 'Action,Fantasy,Horror',
 44: 'Action,Fantasy,Thriller',
 45: 'Action,Fantasy,War',
 46: 'Action,Horror',
 47: 'Action,Horror,Mystery',
 48: 'Action,Horror,Romance',
 49: 'Action,Horror,Sci-Fi',
 50: 'Action,Horror,Thriller',
 51: 'Action,Mystery,Sci-Fi',
 52: 'Action,Mystery,Thriller',
 53: 'Action,Sci-Fi',
 54: 'Action,Sci-Fi,Thriller',
 55: 'Action,Thriller',
 56: 'Action,Thriller,War',
 57: 'Adventure',
 58: 'Adventure,Biography',
 59: 'Adventure,Biography,Crime',
 60: 'Adventure,Biography,Drama',
 61: 'Adventure,Comedy',
 62: 'Adventure,Comedy,Drama',
 63: 'Adventure,Comedy,Family',
 64: 'Adventure,Comedy,Fantasy',
 65: 'Adventure,Comedy,Horror',
 66: 'Adventure,Comedy,Romance',
 67: 'Adventure,Comedy,Sci-Fi',
 68: 'Adventure,Crime,Mystery',
 69: 'Adventure,Drama',
 70: 'Adventure,Drama,Family',
 71: 'Adventure,Drama,Fantasy',
 72: 'Adventure,Drama,History',
 73: 'Adventure,Drama,Horror',
 74: 'Adventure,Drama,Romance',
 75: 'Adventure,Drama,Sci-Fi',
 76: 'Adventure,Drama,Thriller',
 77: 'Adventure,Drama,War',
 78: 'Adventure,Drama,Western',
 79: 'Adventure,Family',
 80: 'Adventure,Family,Fantasy',
 81: 'Adventure,Fantasy',
 82: 'Adventure,Fantasy,Mystery',
 83: 'Adventure,Horror',
 84: 'Adventure,Horror,Mystery',
 85: 'Adventure,Mystery,Sci-Fi',
 86: 'Adventure,Sci-Fi,Thriller',
 87: 'Animation,Action,Adventure',
 88: 'Animation,Action,Comedy',
 89: 'Animation,Adventure,Comedy',
 90: 'Animation,Adventure,Family',
 91: 'Animation,Comedy,Drama',
 92: 'Animation,Comedy,Family',
 93: 'Animation,Drama,Fantasy',
 94: 'Animation,Drama,Romance',
 95: 'Animation,Family,Fantasy',
 96: 'Animation,Fantasy',
 97: 'Biography,Comedy,Crime',
 98: 'Biography,Comedy,Drama',
 99: 'Biography,Crime,Drama',
 100: 'Biography,Drama',
 101: 'Biography,Drama,Family',
 102: 'Biography,Drama,History',
 103: 'Biography,Drama,Mystery',
 104: 'Biography,Drama,Romance',
 105: 'Biography,Drama,Sport',
 106: 'Biography,Drama,Thriller',
 107: 'Biography,History,Thriller',
 108: 'Comedy',
 109: 'Comedy,Crime',
 110: 'Comedy,Crime,Drama',
 111: 'Comedy,Crime,Thriller',
 112: 'Comedy,Drama',
 113: 'Comedy,Drama,Family',
 114: 'Comedy,Drama,Fantasy',
 115: 'Comedy,Drama,Horror',
 116: 'Comedy,Drama,Music',
 117: 'Comedy,Drama,Musical',
 118: 'Comedy,Drama,Romance',
 119: 'Comedy,Drama,Thriller',
 120: 'Comedy,Family',
 121: 'Comedy,Family,Fantasy',
 122: 'Comedy,Family,Musical',
 123: 'Comedy,Family,Romance',
 124: 'Comedy,Fantasy',
 125: 'Comedy,Fantasy,Horror',
 126: 'Comedy,Fantasy,Romance',
 127: 'Comedy,Horror',
 128: 'Comedy,Horror,Romance',
 129: 'Comedy,Horror,Sci-Fi',
 130: 'Comedy,Horror,Thriller',
 131: 'Comedy,Music',
 132: 'Comedy,Music,Romance',
 133: 'Comedy,Mystery',
 134: 'Comedy,Romance',
 135: 'Comedy,Romance,Sport',
 136: 'Comedy,Romance,Western',
 137: 'Comedy,Sci-Fi',
 138: 'Comedy,Western',
 139: 'Crime,Drama',
 140: 'Crime,Drama,Fantasy',
 141: 'Crime,Drama,History',
 142: 'Crime,Drama,Horror',
 143: 'Crime,Drama,Music',
 144: 'Crime,Drama,Mystery',
 145: 'Crime,Drama,Thriller',
 146: 'Crime,Horror,Thriller',
 147: 'Crime,Mystery,Thriller',
 148: 'Crime,Thriller',
 149: 'Drama',
 150: 'Drama,Family',
 151: 'Drama,Family,Fantasy',
 152: 'Drama,Family,Music',
 153: 'Drama,Fantasy',
 154: 'Drama,Fantasy,Horror',
 155: 'Drama,Fantasy,Music',
 156: 'Drama,Fantasy,Musical',
 157: 'Drama,Fantasy,Mystery',
 158: 'Drama,Fantasy,Romance',
 159: 'Drama,Fantasy,Thriller',
 160: 'Drama,Fantasy,War',
 161: 'Drama,History',
 162: 'Drama,History,Thriller',
 163: 'Drama,History,War',
 164: 'Drama,Horror',
 165: 'Drama,Horror,Musical',
 166: 'Drama,Horror,Mystery',
 167: 'Drama,Horror,Sci-Fi',
 168: 'Drama,Horror,Thriller',
 169: 'Drama,Music',
 170: 'Drama,Music,Romance',
 171: 'Drama,Musical,Romance',
 172: 'Drama,Mystery,Romance',
 173: 'Drama,Mystery,Sci-Fi',
 174: 'Drama,Mystery,Thriller',
 175: 'Drama,Mystery,War',
 176: 'Drama,Romance',
 177: 'Drama,Romance,Sci-Fi',
 178: 'Drama,Romance,Thriller',
 179: 'Drama,Romance,War',
 180: 'Drama,Sci-Fi',
 181: 'Drama,Sci-Fi,Thriller',
 182: 'Drama,Sport',
 183: 'Drama,Thriller',
 184: 'Drama,Thriller,War',
 185: 'Drama,War',
 186: 'Drama,Western',
 187: 'Fantasy,Horror',
 188: 'Fantasy,Horror,Thriller',
 189: 'Fantasy,Mystery,Thriller',
 190: 'Horror',
 191: 'Horror,Mystery',
 192: 'Horror,Mystery,Sci-Fi',
 193: 'Horror,Mystery,Thriller',
 194: 'Horror,Sci-Fi,Thriller',
 195: 'Horror,Thriller',
 196: 'Mystery,Romance,Sci-Fi',
 197: 'Mystery,Romance,Thriller',
 198: 'Mystery,Sci-Fi,Thriller',
 199: 'Mystery,Thriller',
 200: 'Mystery,Thriller,Western',
 201: 'Romance,Sci-Fi',
 202: 'Romance,Sci-Fi,Thriller',
 203: 'Sci-Fi',
 204: 'Sci-Fi,Thriller',
 205: 'Thriller',
 206: 'Thriller,War'}

In [66]:
df['Genre_discrete']

0       11
1       85
2      195
3       92
4        7
      ...
995    144
996    190
997    170
998     61
999    121
Name: Genre_discrete, Length: 1000, dtype: int16

In [67]:
df['Genre_discrete_categories'] = df['Genre_discrete'].map(d)

In [68]:
df['Genre_discrete'].nunique() == df.Genre.nunique

False

In [64]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Revenue Category,Genre_discrete,Genre_discrete_categories
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.100000,757074,333.130000,76.000000,medium,11,"Action,Adventure,Sci-Fi"
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.000000,485820,126.460000,65.000000,low,85,"Adventure,Mystery,Sci-Fi"
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.300000,157606,138.120000,62.000000,low,195,"Horror,Thriller"
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.200000,60545,270.320000,59.000000,low,92,"Animation,Comedy,Family"
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.200000,393727,325.020000,40.000000,medium,7,"Action,Adventure,Fantasy"

### 4. While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

In classification problems, categorical data are used as they fit the classification techniques and method.

In regression problems, continuous data is required.

### 5. While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

- While measuring time we think that it is hour, month, year, so it will be attribute data but in actually it is continuous data because it can be break into minutes, seconds like that. But we can convert it into attribute data.


- Another confusing dataset when we are talking about money, when we withdraw money from atm it comes like 1000, 2000, 250, 2475 but if we see our bank balance in our records online then we see the figures like 200.35, so it is continuous data because it has several infinite values so it is continuous data.


- Another confusing dataset is percentage data or we can say that derived data, how we will consider it continuous or attribute. It depends on source data what it is actually according to that % data is decided. For example number of students taking this class divided by total number of graduate students is attribute data because a student can not be 3.5, 4.5