<a href="https://colab.research.google.com/github/ArifAygun/Magnimind-Jan2023-Assignments/blob/main/Office_Hour_Data_Exploration_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2. Handling with Variable Type Assignment & Submit**

## 2.2 Using the movie data, we have studied in this lesson. Complete the following tasks:

- Select a continuous and a categorical variable from the movie dataset and discuss the variable type of this variable. Discuss further in detail the type of selected continuous and categorical variables.
- Categorize a variable of your choice and assign a name to it
- Count the number of rows for each category

In [46]:
from pandas.io.formats import style
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import warnings

from scipy.stats.mstats import winsorize
from sqlalchemy import create_engine

warnings.filterwarnings('ignore')
sns.set(style='whitegrid')
pd.options.display.float_format = '{:2f}'.format
plt.rcParams['figure.dpi'] = 100

In [47]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('movies.csv')
df = pd.read_csv(file_path)
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.100000,757074,333.130000,76.000000
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.000000,485820,126.460000,65.000000
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.300000,157606,138.120000,62.000000
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.200000,60545,270.320000,59.000000
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.200000,393727,325.020000,40.000000

In [49]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 12 entries, Rank to Metascore
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [50]:
#df.describe(include ='0')
df.describe(include='object')

,Title,Genre,Description,Director,Actors
count,1000,1000,1000,1000,1000
unique,999,207,1000,644,996
top,The Host,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,Ridley Scott,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw..."
freq,2,50,1,8,2

### 2.2.a. Select a continuous and a categorical variable from the movie dataset and discuss the variable type of this variable.

In [51]:
variable_type = pd.Series(['continuous numerical - ordinal',
                           'string variable - nominal',
                           'categorical - nominal',
                           'string variable - nominal',
                           'categorical - nominal',
                           'categorical - nominal',
                           'numerical discrete - interval',
                           'discrete numerical - ratio',
                           'dicrete numerical - ordinal',
                           'continonus numerical - ordinal',
                           'continuous numerical - ratio',
                           'discrete numerical - ordinal'], index = df.dtypes.index)

In [52]:
df_dtype = pd.concat([df.dtypes, df.nunique(), round(df.nunique()*100/len(df)), variable_type], axis=1)
df_dtype.columns = ['data type', 'No. of categories', 'categories/sample ratio %', 'variable_type']
df_dtype

,data type,No. of categories,categories/sample ratio %,variable_type
Rank,int64,1000,100.000000,continuous numerical - ordinal
Title,object,999,100.000000,string variable - nominal
Genre,object,207,21.000000,categorical - nominal
Description,object,1000,100.000000,string variable - nominal
Director,object,644,64.000000,categorical - nominal
Actors,object,996,100.000000,categorical - nominal
Year,int64,11,1.000000,numerical discrete - interval
Runtime (Minutes),int64,94,9.000000,discrete numerical - ratio
Rating,float64,55,6.000000,dicrete numerical - ordinal
Votes,int64,997,100.000000,continonus numerical - ordinal
Revenue (Millions),float64,814,81.000000,continuous numerical - ratio
Metascore,float64,84,8.000000,discrete numerical - ordinal

### 2.2.b. Categorize a variable of your choice and assign a name to it

In [53]:
df['Revenue Category'] = pd.cut(df['Revenue (Millions)'], bins=3, right=True, labels=['low', 'medium', 'high'])
#df['Revenue (Millions)'].value_counts(bins=3)
df['Revenue Category']

0      medium
1         low
2         low
3         low
4      medium
        ...
995       NaN
996       low
997       low
998       NaN
999       low
Name: Revenue Category, Length: 1000, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [55]:
# example with range
binned_range = pd.cut(range(1,1000), bins=3, right=True, labels=['low', 'medium', 'high'])
binned_range

['low', 'low', 'low', 'low', 'low', ..., 'high', 'high', 'high', 'high', 'high']
Length: 999
Categories (3, object): ['low' < 'medium' < 'high']

### 2.2.c.Count the number of rows for each category

In [56]:
df['Revenue Category'].value_counts()

low       835
medium     34
high        3
Name: Revenue Category, dtype: int64

Metascore and Rating can be converted to discrete numerical

## 2.3. Is it possible to convert categorical variable into numerical one? If so, how can you make that?

In [61]:
d = dict(enumerate(df.Genre.astype('category').cat.categories))
df['Genre_discrete'] = df.Genre.astype('category').cat.codes

In [65]:
d

{0: 'Action',
 1: 'Action,Adventure',
 2: 'Action,Adventure,Biography',
 3: 'Action,Adventure,Comedy',
 4: 'Action,Adventure,Crime',
 5: 'Action,Adventure,Drama',
 6: 'Action,Adventure,Family',
 7: 'Action,Adventure,Fantasy',
 8: 'Action,Adventure,Horror',
 9: 'Action,Adventure,Mystery',
 10: 'Action,Adventure,Romance',
 11: 'Action,Adventure,Sci-Fi',
 12: 'Action,Adventure,Thriller',
 13: 'Action,Adventure,Western',
 14: 'Action,Biography,Crime',
 15: 'Action,Biography,Drama',
 16: 'Action,Comedy',
 17: 'Action,Comedy,Crime',
 18: 'Action,Comedy,Drama',
 19: 'Action,Comedy,Family',
 20: 'Action,Comedy,Fantasy',
 21: 'Action,Comedy,Horror',
 22: 'Action,Comedy,Mystery',
 23: 'Action,Comedy,Romance',
 24: 'Action,Comedy,Sci-Fi',
 25: 'Action,Comedy,Sport',
 26: 'Action,Crime,Drama',
 27: 'Action,Crime,Fantasy',
 28: 'Action,Crime,Mystery',
 29: 'Action,Crime,Sci-Fi',
 30: 'Action,Crime,Sport',
 31: 'Action,Crime,Thriller',
 32: 'Action,Drama,Family',
 33: 'Action,Drama,Fantasy',
 34: 'Action,Drama,History',
 35: 'Action,Drama,Horror',
 36: 'Action,Drama,Mystery',
 37: 'Action,Drama,Romance',
 38: 'Action,Drama,Sci-Fi',
 39: 'Action,Drama,Sport',
 40: 'Action,Drama,Thriller',
 41: 'Action,Drama,War',
 42: 'Action,Fantasy',
 43: 'Action,Fantasy,Horror',
 44: 'Action,Fantasy,Thriller',
 45: 'Action,Fantasy,War',
 46: 'Action,Horror',
 47: 'Action,Horror,Mystery',
 48: 'Action,Horror,Romance',
 49: 'Action,Horror,Sci-Fi',
 50: 'Action,Horror,Thriller',
 51: 'Action,Mystery,Sci-Fi',
 52: 'Action,Mystery,Thriller',
 53: 'Action,Sci-Fi',
 54: 'Action,Sci-Fi,Thriller',
 55: 'Action,Thriller',
 56: 'Action,Thriller,War',
 57: 'Adventure',
 58: 'Adventure,Biography',
 59: 'Adventure,Biography,Crime',
 60: 'Adventure,Biography,Drama',
 61: 'Adventure,Comedy',
 62: 'Adventure,Comedy,Drama',
 63: 'Adventure,Comedy,Family',
 64: 'Adventure,Comedy,Fantasy',
 65: 'Adventure,Comedy,Horror',
 66: 'Adventure,Comedy,Romance',
 67: 'Adventure,Comedy,Sci-Fi',
 68: 'Adventure,Crime,Mystery',
 69: 'Adventure,Drama',
 70: 'Adventure,Drama,Family',
 71: 'Adventure,Drama,Fantasy',
 72: 'Adventure,Drama,History',
 73: 'Adventure,Drama,Horror',
 74: 'Adventure,Drama,Romance',
 75: 'Adventure,Drama,Sci-Fi',
 76: 'Adventure,Drama,Thriller',
 77: 'Adventure,Drama,War',
 78: 'Adventure,Drama,Western',
 79: 'Adventure,Family',
 80: 'Adventure,Family,Fantasy',
 81: 'Adventure,Fantasy',
 82: 'Adventure,Fantasy,Mystery',
 83: 'Adventure,Horror',
 84: 'Adventure,Horror,Mystery',
 85: 'Adventure,Mystery,Sci-Fi',
 86: 'Adventure,Sci-Fi,Thriller',
 87: 'Animation,Action,Adventure',
 88: 'Animation,Action,Comedy',
 89: 'Animation,Adventure,Comedy',
 90: 'Animation,Adventure,Family',
 91: 'Animation,Comedy,Drama',
 92: 'Animation,Comedy,Family',
 93: 'Animation,Drama,Fantasy',
 94: 'Animation,Drama,Romance',
 95: 'Animation,Family,Fantasy',
 96: 'Animation,Fantasy',
 97: 'Biography,Comedy,Crime',
 98: 'Biography,Comedy,Drama',
 99: 'Biography,Crime,Drama',
 100: 'Biography,Drama',
 101: 'Biography,Drama,Family',
 102: 'Biography,Drama,History',
 103: 'Biography,Drama,Mystery',
 104: 'Biography,Drama,Romance',
 105: 'Biography,Drama,Sport',
 106: 'Biography,Drama,Thriller',
 107: 'Biography,History,Thriller',
 108: 'Comedy',
 109: 'Comedy,Crime',
 110: 'Comedy,Crime,Drama',
 111: 'Comedy,Crime,Thriller',
 112: 'Comedy,Drama',
 113: 'Comedy,Drama,Family',
 114: 'Comedy,Drama,Fantasy',
 115: 'Comedy,Drama,Horror',
 116: 'Comedy,Drama,Music',
 117: 'Comedy,Drama,Musical',
 118: 'Comedy,Drama,Romance',
 119: 'Comedy,Drama,Thriller',
 120: 'Comedy,Family',
 121: 'Comedy,Family,Fantasy',
 122: 'Comedy,Family,Musical',
 123: 'Comedy,Family,Romance',
 124: 'Comedy,Fantasy',
 125: 'Comedy,Fantasy,Horror',
 126: 'Comedy,Fantasy,Romance',
 127: 'Comedy,Horror',
 128: 'Comedy,Horror,Romance',
 129: 'Comedy,Horror,Sci-Fi',
 130: 'Comedy,Horror,Thriller',
 131: 'Comedy,Music',
 132: 'Comedy,Music,Romance',
 133: 'Comedy,Mystery',
 134: 'Comedy,Romance',
 135: 'Comedy,Romance,Sport',
 136: 'Comedy,Romance,Western',
 137: 'Comedy,Sci-Fi',
 138: 'Comedy,Western',
 139: 'Crime,Drama',
 140: 'Crime,Drama,Fantasy',
 141: 'Crime,Drama,History',
 142: 'Crime,Drama,Horror',
 143: 'Crime,Drama,Music',
 144: 'Crime,Drama,Mystery',
 145: 'Crime,Drama,Thriller',
 146: 'Crime,Horror,Thriller',
 147: 'Crime,Mystery,Thriller',
 148: 'Crime,Thriller',
 149: 'Drama',
 150: 'Drama,Family',
 151: 'Drama,Family,Fantasy',
 152: 'Drama,Family,Music',
 153: 'Drama,Fantasy',
 154: 'Drama,Fantasy,Horror',
 155: 'Drama,Fantasy,Music',
 156: 'Drama,Fantasy,Musical',
 157: 'Drama,Fantasy,Mystery',
 158: 'Drama,Fantasy,Romance',
 159: 'Drama,Fantasy,Thriller',
 160: 'Drama,Fantasy,War',
 161: 'Drama,History',
 162: 'Drama,History,Thriller',
 163: 'Drama,History,War',
 164: 'Drama,Horror',
 165: 'Drama,Horror,Musical',
 166: 'Drama,Horror,Mystery',
 167: 'Drama,Horror,Sci-Fi',
 168: 'Drama,Horror,Thriller',
 169: 'Drama,Music',
 170: 'Drama,Music,Romance',
 171: 'Drama,Musical,Romance',
 172: 'Drama,Mystery,Romance',
 173: 'Drama,Mystery,Sci-Fi',
 174: 'Drama,Mystery,Thriller',
 175: 'Drama,Mystery,War',
 176: 'Drama,Romance',
 177: 'Drama,Romance,Sci-Fi',
 178: 'Drama,Romance,Thriller',
 179: 'Drama,Romance,War',
 180: 'Drama,Sci-Fi',
 181: 'Drama,Sci-Fi,Thriller',
 182: 'Drama,Sport',
 183: 'Drama,Thriller',
 184: 'Drama,Thriller,War',
 185: 'Drama,War',
 186: 'Drama,Western',
 187: 'Fantasy,Horror',
 188: 'Fantasy,Horror,Thriller',
 189: 'Fantasy,Mystery,Thriller',
 190: 'Horror',
 191: 'Horror,Mystery',
 192: 'Horror,Mystery,Sci-Fi',
 193: 'Horror,Mystery,Thriller',
 194: 'Horror,Sci-Fi,Thriller',
 195: 'Horror,Thriller',
 196: 'Mystery,Romance,Sci-Fi',
 197: 'Mystery,Romance,Thriller',
 198: 'Mystery,Sci-Fi,Thriller',
 199: 'Mystery,Thriller',
 200: 'Mystery,Thriller,Western',
 201: 'Romance,Sci-Fi',
 202: 'Romance,Sci-Fi,Thriller',
 203: 'Sci-Fi',
 204: 'Sci-Fi,Thriller',
 205: 'Thriller',
 206: 'Thriller,War'}

In [66]:
df['Genre_discrete']

0       11
1       85
2      195
3       92
4        7
      ...
995    144
996    190
997    170
998     61
999    121
Name: Genre_discrete, Length: 1000, dtype: int16

In [67]:
df['Genre_discrete_categories'] = df['Genre_discrete'].map(d)

In [68]:
df['Genre_discrete'].nunique() == df.Genre.nunique

False

In [64]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Revenue Category,Genre_discrete,Genre_discrete_categories
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.100000,757074,333.130000,76.000000,medium,11,"Action,Adventure,Sci-Fi"
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.000000,485820,126.460000,65.000000,low,85,"Adventure,Mystery,Sci-Fi"
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.300000,157606,138.120000,62.000000,low,195,"Horror,Thriller"
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.200000,60545,270.320000,59.000000,low,92,"Animation,Comedy,Family"
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.200000,393727,325.020000,40.000000,medium,7,"Action,Adventure,Fantasy"

## 2.4. While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

In classification problems, categorical data are used as they fit the classification techniques and method.

In regression problems, continuous data is required.

## 2.5. While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

- While measuring time we think that it is hour, month, year, so it will be attribute data but in actually it is continuous data because it can be break into minutes, seconds like that. But we can convert it into attribute data.


- Another confusing dataset when we are talking about money, when we withdraw money from atm it comes like 1000, 2000, 250, 2475 but if we see our bank balance in our records online then we see the figures like 200.35, so it is continuous data because it has several infinite values so it is continuous data.


- Another confusing dataset is percentage data or we can say that derived data, how we will consider it continuous or attribute. It depends on source data what it is actually according to that % data is decided. For example number of students taking this class divided by total number of graduate students is attribute data because a student can not be 3.5, 4.5

# **3. Missing Values Assignment & Submit**



In this assignment, you'll be working with the U.S. Education Dataset from Kaggle. The data gives detailed, state-level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

To complete this assignment, submit a link to a Jupyter Notebook containing your solutions to the following tasks:

1. Determine all the variable types and find the fraction of the missing values for each variable. Answer the following questions as you work through this challenge, and then paste a link to your Notebook.
2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
3. Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.
4. This time, fill in the missing values using interpolation (extrapolation).
5. Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

## 3.1. Determine all the variable types and find the fraction of the missing values for each variable. Answer the following questions as you work through this challenge, and then paste a link to your Notebook.

In [96]:
import pandas as pd
import os

def file_locator(file_name):
  main_dir = os.getcwd()

  for dir, folder, files in os.walk(main_dir):
    for file in files:
      if file == file_name:
        file_path = os.path.join(dir,file)
  return file_path

file_path = file_locator('states_all.csv')
df = pd.read_csv(file_path)
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.000000,304177.000000,1659028.000000,715680.000000,2653798.000000,1481703.000000,...,57948.000000,58025.000000,41167.000000,NaN,NaN,731634.000000,208.000000,252.000000,207.000000,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.000000,106780.000000,720711.000000,222100.000000,972488.000000,498362.000000,...,9748.000000,8789.000000,6714.000000,NaN,NaN,122487.000000,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.000000,297888.000000,1369815.000000,1590376.000000,3401580.000000,1435908.000000,...,55433.000000,49081.000000,37410.000000,NaN,NaN,673477.000000,215.000000,265.000000,209.000000,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.000000,178571.000000,958785.000000,574603.000000,1743022.000000,964323.000000,...,34632.000000,36011.000000,27651.000000,NaN,NaN,441490.000000,210.000000,256.000000,211.000000,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.000000,2072470.000000,16546514.000000,7641041.000000,27138832.000000,14358922.000000,...,418418.000000,363296.000000,270675.000000,NaN,NaN,5254844.000000,208.000000,261.000000,202.000000,NaN

In [97]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Columns: 25 entries, PRIMARY_KEY to AVG_READING_8_SCORE
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [98]:
df_datatype = pd.concat([df.dtypes, df.nunique(),
                         round(df.nunique()*100/len(df), 2),
                         df.isnull().sum(),
                         round(df.isnull().sum()*100/len(df),2)],
                        axis=1)

In [99]:
df_datatype

                                    0     1          2     3         4
PRIMARY_KEY                    object  1715 100.000000     0  0.000000
STATE                          object    53   3.090000     0  0.000000
YEAR                            int64    33   1.920000     0  0.000000
ENROLL                        float64  1224  71.370000   491 28.630000
TOTAL_REVENUE                 float64  1274  74.290000   440 25.660000
FEDERAL_REVENUE               float64  1275  74.340000   440 25.660000
STATE_REVENUE                 float64  1251  72.940000   440 25.660000
LOCAL_REVENUE                 float64  1275  74.340000   440 25.660000
TOTAL_EXPENDITURE             float64  1275  74.340000   440 25.660000
INSTRUCTION_EXPENDITURE       float64  1275  74.340000   440 25.660000
SUPPORT_SERVICES_EXPENDITURE  float64  1275  74.340000   440 25.660000
OTHER_EXPENDITURE             float64  1222  71.250000   491 28.630000
CAPITAL_OUTLAY_EXPENDITURE    float64  1275  74.340000   440 25.660000
GRADES_PK_G                   float64  1483  86.470000   173 10.090000
GRADES_KG_G                   float64  1613  94.050000    83  4.840000
GRADES_4_G                    float64  1612  93.990000    83  4.840000
GRADES_8_G                    float64  1620  94.460000    83  4.840000
GRADES_12_G                   float64  1608  93.760000    83  4.840000
GRADES_1_8_G                  float64  1020  59.480000   695 40.520000
GRADES_9_12_G                 float64  1070  62.390000   644 37.550000
GRADES_ALL_G                  float64  1629  94.990000    83  4.840000
AVG_MATH_4_SCORE              float64    50   2.920000  1150 67.060000
AVG_MATH_8_SCORE              float64    57   3.320000  1113 64.900000
AVG_READING_4_SCORE           float64    43   2.510000  1065 62.100000
AVG_READING_8_SCORE           float64    39   2.270000  1153 67.230000

In [100]:
df_datatype.columns = ['data type', 'No. of categories', 'No. of categories %', 'missing values', 'missing values %']

In [101]:
df_datatype.columns

Index(['data type', 'No. of categories', 'No. of categories %',
       'missing values', 'missing values %'],
      dtype='object')

In [102]:
df_datatype.sort_values(by='missing values %', ascending=False, inplace=True)

In [103]:
df_datatype

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.270000,1153,67.230000
AVG_MATH_4_SCORE,float64,50,2.920000,1150,67.060000
AVG_MATH_8_SCORE,float64,57,3.320000,1113,64.900000
AVG_READING_4_SCORE,float64,43,2.510000,1065,62.100000
GRADES_1_8_G,float64,1020,59.480000,695,40.520000
GRADES_9_12_G,float64,1070,62.390000,644,37.550000
ENROLL,float64,1224,71.370000,491,28.630000
OTHER_EXPENDITURE,float64,1222,71.250000,491,28.630000
SUPPORT_SERVICES_EXPENDITURE,float64,1275,74.340000,440,25.660000
CAPITAL_OUTLAY_EXPENDITURE,float64,1275,74.340000,440,25.660000
INSTRUCTION_EXPENDITURE,float64,1275,74.340000,440,25.660000
TOTAL_EXPENDITURE,float64,1275,74.340000,440,25.660000
LOCAL_REVENUE,float64,1275,74.340000,440,25.660000
STATE_REVENUE,float64,1251,72.940000,440,25.660000
FEDERAL_REVENUE,float64,1275,74.340000,440,25.660000
TOTAL_REVENUE,float64,1274,74.290000,440,25.660000
GRADES_PK_G,float64,1483,86.470000,173,10.090000
GRADES_KG_G,float64,1613,94.050000,83,4.840000
GRADES_4_G,float64,1612,93.990000,83,4.840000
GRADES_8_G,float64,1620,94.460000,83,4.840000
GRADES_12_G,float64,1608,93.760000,83,4.840000
GRADES_ALL_G,float64,1629,94.990000,83,4.840000
STATE,object,53,3.090000,0,0.000000
YEAR,int64,33,1.920000,0,0.000000
PRIMARY_KEY,object,1715,100.000000,0,0.000000

In [104]:
df_datatype = df_datatype.loc[df_datatype['missing values']!=0]
df_datatype

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.270000,1153,67.230000
AVG_MATH_4_SCORE,float64,50,2.920000,1150,67.060000
AVG_MATH_8_SCORE,float64,57,3.320000,1113,64.900000
AVG_READING_4_SCORE,float64,43,2.510000,1065,62.100000
GRADES_1_8_G,float64,1020,59.480000,695,40.520000
GRADES_9_12_G,float64,1070,62.390000,644,37.550000
ENROLL,float64,1224,71.370000,491,28.630000
OTHER_EXPENDITURE,float64,1222,71.250000,491,28.630000
SUPPORT_SERVICES_EXPENDITURE,float64,1275,74.340000,440,25.660000
CAPITAL_OUTLAY_EXPENDITURE,float64,1275,74.340000,440,25.660000
INSTRUCTION_EXPENDITURE,float64,1275,74.340000,440,25.660000
TOTAL_EXPENDITURE,float64,1275,74.340000,440,25.660000
LOCAL_REVENUE,float64,1275,74.340000,440,25.660000
STATE_REVENUE,float64,1251,72.940000,440,25.660000
FEDERAL_REVENUE,float64,1275,74.340000,440,25.660000
TOTAL_REVENUE,float64,1274,74.290000,440,25.660000
GRADES_PK_G,float64,1483,86.470000,173,10.090000
GRADES_KG_G,float64,1613,94.050000,83,4.840000
GRADES_4_G,float64,1612,93.990000,83,4.840000
GRADES_8_G,float64,1620,94.460000,83,4.840000
GRADES_12_G,float64,1608,93.760000,83,4.840000
GRADES_ALL_G,float64,1629,94.990000,83,4.840000

In [105]:
df_datatype[df_datatype.index=='AVG_READING_8_SCORE']['data type']

AVG_READING_8_SCORE    float64
Name: data type, dtype: object

### 3.2 Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

In [106]:
# drop those variable with more than 50% missing value
df_datatype.iloc[np.where(df_datatype['missing values %']>50)]

,data type,No. of categories,No. of categories %,missing values,missing values %
AVG_READING_8_SCORE,float64,39,2.270000,1153,67.230000
AVG_MATH_4_SCORE,float64,50,2.920000,1150,67.060000
AVG_MATH_8_SCORE,float64,57,3.320000,1113,64.900000
AVG_READING_4_SCORE,float64,43,2.510000,1065,62.100000

In [107]:
columns_to_drop = df_datatype.iloc[np.where(df_datatype['missing values %'] > 50)].index

print(f""" columns, {columns_to_drop} can be dropped since more than 50% of data is missing, for the rest of variable, the missing value can be replaced by some values""")

 columns, Index(['AVG_READING_8_SCORE', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE',
       'AVG_READING_4_SCORE'],
      dtype='object') can be dropped since more than 50% of data is missing, for the rest of variable, the missing value can be replaced by some values

In [108]:
df.drop(columns_to_drop.to_list(), axis=1, inplace=True)
df

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.000000,304177.000000,1659028.000000,715680.000000,2653798.000000,1481703.000000,...,NaN,174053.000000,8224.000000,55460.000000,57948.000000,58025.000000,41167.000000,NaN,NaN,731634.000000
1,1992_ALASKA,ALASKA,1992,NaN,1049591.000000,106780.000000,720711.000000,222100.000000,972488.000000,498362.000000,...,NaN,37451.000000,2371.000000,10152.000000,9748.000000,8789.000000,6714.000000,NaN,NaN,122487.000000
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.000000,297888.000000,1369815.000000,1590376.000000,3401580.000000,1435908.000000,...,NaN,609114.000000,2544.000000,53497.000000,55433.000000,49081.000000,37410.000000,NaN,NaN,673477.000000
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.000000,178571.000000,958785.000000,574603.000000,1743022.000000,964323.000000,...,NaN,145212.000000,808.000000,33511.000000,34632.000000,36011.000000,27651.000000,NaN,NaN,441490.000000
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.000000,2072470.000000,16546514.000000,7641041.000000,27138832.000000,14358922.000000,...,NaN,2044688.000000,59067.000000,431763.000000,418418.000000,363296.000000,270675.000000,NaN,NaN,5254844.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1711,2019_WASHINGTON,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1713,2019_WISCONSIN,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1714,2019_WYOMING,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df_datatype.drop(index=columns_to_drop, axis=0, inplace=True)

In [110]:
#keep the columns with at least 50% non-null values
# thresh should be int. it is optional but it cannot be combined with how. It require that many non-NA values.
df.dropna(axis='columns', thresh=round(len(df)/2), inplace=True)

In [111]:
df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G
count,1715.000000,1224.000000,1275.000000,1275.000000,1275.000000,1275.000000,1275.000000,1275.000000,1275.000000,1224.000000,1275.000000,1542.000000,1632.000000,1632.000000,1632.000000,1632.000000,1020.000000,1071.000000,1632.000000
mean,2002.075219,917541.566176,9102044.929412,767779.864314,4223742.902745,4110522.156078,9206242.121569,4768010.484706,2682586.519216,429950.933824,903467.454902,17840.958495,68810.962010,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,913969.494485
std,9.568621,1066514.198574,11759620.227524,1146991.507325,5549734.818394,5489561.973467,11992791.012446,6300569.339670,3357214.499350,534789.311211,1329473.468334,30016.603510,80671.033008,79957.990356,77965.847263,67438.530709,675783.663429,330709.787555,1055892.946669
min,1986.000000,43866.000000,465650.000000,31020.000000,0.000000,22093.000000,481665.000000,265549.000000,139963.000000,11541.000000,12708.000000,96.000000,5122.000000,4577.000000,3371.000000,2572.000000,37698.000000,13530.000000,68449.000000
25%,1994.000000,264514.500000,2189503.500000,189957.500000,1165776.000000,715121.000000,2170404.000000,1171336.500000,638076.000000,103449.250000,181507.000000,2199.750000,19029.750000,18971.500000,19594.250000,16076.500000,164925.000000,80608.000000,248083.250000
50%,2002.000000,649933.500000,5085826.000000,403548.000000,2537754.000000,2058996.000000,5242672.000000,2658253.000000,1525471.000000,271704.000000,510428.000000,8258.000000,48122.000000,49087.000000,47880.000000,39408.000000,405111.500000,186919.000000,645805.000000
75%,2010.000000,1010532.000000,10845163.000000,827932.000000,5055547.500000,4755293.000000,10744201.500000,5561959.000000,3222924.500000,517222.250000,966148.000000,22691.750000,78864.250000,78504.250000,78976.000000,69397.250000,643975.250000,322328.000000,1043420.500000
max,2019.000000,6307022.000000,89217262.000000,9990221.000000,50904567.000000,36105265.000000,85320133.000000,43964520.000000,26058021.000000,3995951.000000,10223657.000000,256222.000000,535379.000000,493415.000000,500143.000000,498403.000000,3929869.000000,2013687.000000,6441557.000000

In [113]:
df_impute_median = df.copy(deep=True)
#When deep=True (default), a new object will be created with a copy of the calling object's data and indices. 
# Modifications to the data or indices of the copy will not be reflected in the original object.
for col in df.columns:
  if col in df_datatype.index:
    df_impute_median[col] = df_impute_median[col].fillna(df_impute_median[col].median())

In [114]:
df_impute_median.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
dtype: int64

In [116]:
df_impute_median = df.copy(deep=True)
#When deep=True (default), a new object will be created with a copy of the calling object's data and indices. 
# Modifications to the data or indices of the copy will not be reflected in the original object.

df_impute_median.fillna(df_impute_median.median(numeric_only=True), inplace=True)

In [118]:
df_impute_median.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G
count,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000,1715.000000
mean,2002.075219,840926.079009,8071644.737609,674332.622157,3791185.983090,3584183.083965,8189349.495627,4226731.596501,2385717.231487,384645.251895,802629.344023,16874.281050,67809.688630,68194.730029,67127.643732,57500.714286,507910.381633,246339.257143,900991.271137
std,9.568621,908985.364120,10289171.151097,1001590.781494,4841024.301221,4816898.445530,10483486.037844,5509629.199016,2938209.504722,457373.768558,1158985.783310,28607.512850,78818.783078,78117.005891,76178.524321,65911.908766,527930.156960,265330.275258,1031617.415313
min,1986.000000,43866.000000,465650.000000,31020.000000,0.000000,22093.000000,481665.000000,265549.000000,139963.000000,11541.000000,12708.000000,96.000000,5122.000000,4577.000000,3371.000000,2572.000000,37698.000000,13530.000000,68449.000000
25%,1994.000000,464688.000000,2992297.000000,260277.000000,1618602.000000,1162579.500000,3004448.500000,1570157.000000,899691.000000,162478.000000,260813.000000,2536.500000,20944.000000,20486.500000,20518.500000,17949.000000,315810.500000,145790.000000,280001.000000
50%,2002.000000,649933.500000,5085826.000000,403548.000000,2537754.000000,2058996.000000,5242672.000000,2658253.000000,1525471.000000,271704.000000,510428.000000,8258.000000,48122.000000,49087.000000,47880.000000,39408.000000,405111.500000,186919.000000,645805.000000
75%,2010.000000,869448.500000,8165744.000000,673280.000000,3837822.000000,3484107.500000,8220253.000000,4133617.500000,2442635.000000,407999.500000,812272.000000,19689.000000,75726.000000,77052.000000,76719.500000,68023.000000,481590.500000,252807.500000,1002840.500000
max,2019.000000,6307022.000000,89217262.000000,9990221.000000,50904567.000000,36105265.000000,85320133.000000,43964520.000000,26058021.000000,3995951.000000,10223657.000000,256222.000000,535379.000000,493415.000000,500143.000000,498403.000000,3929869.000000,2013687.000000,6441557.000000

In [119]:
df_impute_median.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1715 non-null   float64
 4   TOTAL_REVENUE                 1715 non-null   float64
 5   FEDERAL_REVENUE               1715 non-null   float64
 6   STATE_REVENUE                 1715 non-null   float64
 7   LOCAL_REVENUE                 1715 non-null   float64
 8   TOTAL_EXPENDITURE             1715 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 11  OTHER_EXPENDITURE             1715 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 13  GRADES_PK_G                   1715 non-null   float64
 14  GRADES_KG_G                   1715 non-null   float64
 15  GRADES_4_G                    1715 non-null   float64
 16  GRADES_8_G                    1715 non-null   float64
 17  GRADES_12_G                   1715 non-null   float64
 18  GRADES_1_8_G                  1715 non-null   float64
 19  GRADES_9_12_G                 1715 non-null   float64
 20  GRADES_ALL_G                  1715 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 281.5+ KB

In [120]:
df_impute_median['YEAR'].nunique()
df_impute_median['YEAR'].value_counts()

1992    53
2003    53
2017    53
1990    53
2015    53
2013    53
2011    53
2009    53
2007    53
2005    53
2019    53
2002    53
1996    53
1994    53
2000    53
1998    53
1991    51
1995    51
1989    51
1988    51
1987    51
1986    51
2016    51
2014    51
2004    51
1997    51
2012    51
2010    51
1999    51
1993    51
2006    51
2001    51
2008    51
Name: YEAR, dtype: int64

In [121]:
df.columns

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G',
       'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G',
       'GRADES_9_12_G', 'GRADES_ALL_G'],
      dtype='object')

## 3.3. Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [122]:
df_time_series = df.copy(deep=True)

In [125]:
#df_time_series.groupby('YEAR'),['ENROLL'].unique()

df_time_series.groupby('YEAR')['ENROLL'].unique()

YEAR
1986                                                [nan]
1987                                                [nan]
1988                                                [nan]
1989                                                [nan]
1990                                                [nan]
1991                                                [nan]
1992                                                [nan]
1993    [727716.0, 121156.0, 676297.0, 311432.0, 51297...
1994    [730004.0, 123868.0, 708482.0, 312695.0, 41204...
1995    [727480.0, 125421.0, 735018.0, 447757.0, 52994...
1996    [735912.0, 126189.0, 764681.0, 452907.0, 54604...
1997    [737386.0, 128143.0, 783552.0, 457349.0, 55958...
1998    [739321.0, 130633.0, 794331.0, 456355.0, 57272...
1999    [737639.0, 133508.0, 814157.0, 451981.0, 58392...
2000    [730184.0, 132822.0, 814807.0, 450751.0, 59419...
2001    [728532.0, 131985.0, 834387.0, 449693.0, 60450...
2002    [726367.0, 133010.0, 859588.0, 449161.0, 61369...
2003    [727900.0, 133303.0, 875111.0, 450158.0, 62265...
2004    [730418.0, 133153.0, 895927.0, 453491.0, 62845...
2005    [729342.0, 132568.0, 919875.0, 461667.0, 63070...
2006    [743265.0, 132893.0, 947266.0, 472609.0, 62959...
2007    [743273.0, 132197.0, 969875.0, 474532.0, 62886...
2008    [742919.0, 130624.0, 987332.0, 476110.0, 62584...
2009    [745668.0, 130236.0, 981303.0, 474423.0, 62341...
2010    [748889.0, 131265.0, 963517.0, 474897.0, 62139...
2011    [746933.0, 131704.0, 946571.0, 475551.0, 62026...
2012    [744621.0, 130771.0, 942738.0, 475671.0, 62030...
2013    [744548.0, 131091.0, 941726.0, 477716.0, 62087...
2014    [740081.0, 130539.0, 943937.0, 479881.0, 62246...
2015    [734974.0, 130755.0, 944978.0, 479682.0, 62265...
2016    [734652.0, 132477.0, 938274.0, 479177.0, 62170...
2017                                                [nan]
2019                                                [nan]
Name: ENROLL, dtype: object

The pivot_table() function accepts a Pandas dataframe as an imput whereas the crosstab() function accepts both Pandas dataframes, and NumPy arrays. The crosstab() function can be used to view to normalize data. The pivot_table() function does not contain any default functionality for data normalization.

In [126]:
pd.set_option('Display.max_column', None, 'Display.max_row', None)

In [135]:
df_grouped_by_year = pd.pivot_table(data = df_time_series, index='YEAR', values=df_datatype.index, aggfunc=[np.median, len], dropna=True)
df_grouped_by_year

                         median                                             \
     CAPITAL_OUTLAY_EXPENDITURE        ENROLL FEDERAL_REVENUE  GRADES_12_G
YEAR
1986                        NaN           NaN             NaN 36222.000000
1987                        NaN           NaN             NaN 38596.000000
1988                        NaN           NaN             NaN 37538.000000
1989                        NaN           NaN             NaN 35618.000000
1990                        NaN           NaN             NaN 34645.000000
1991                        NaN           NaN             NaN 34638.000000
1992              194081.000000           NaN   211627.000000 34533.000000
1993              196098.000000 509814.000000   196584.000000 34744.000000
1994              223352.000000 518425.000000   224106.000000 35464.000000
1995              243365.000000 638880.000000   248319.000000 35480.000000
1996              318829.000000 635678.000000   270455.000000 36113.000000
1997              369529.000000 631592.000000   278209.000000 37568.000000
1998              340415.000000 645232.000000   313550.000000 38769.000000
1999              448757.000000 652731.000000   323924.000000 39111.000000
2000              428541.000000 646467.000000   354829.000000 39409.000000
2001              419442.000000 643730.000000   385896.000000 38379.000000
2002              542302.000000 654363.000000   438583.000000 38902.000000
2003              469251.000000 660782.000000   482904.000000 38834.000000
2004              533020.000000 663886.000000   516520.000000 39200.000000
2005              496778.000000 674502.000000   552628.000000 39157.000000
2006              592789.000000 648313.000000   580810.000000 40267.000000
2007              647628.000000 646360.000000   574090.000000 40927.000000
2008              760566.000000 662971.000000   629423.000000 43189.000000
2009              784529.000000 662774.000000   675576.000000 43097.000000
2010              747498.000000 663802.000000   945973.000000 43723.000000
2011              661195.000000 665109.000000   969288.000000 43928.000000
2012              666528.000000 665478.000000   773014.000000 44032.000000
2013              616590.000000 671445.000000   707522.000000 43732.000000
2014              620745.000000 670069.000000   681230.000000 43862.000000
2015              606254.000000 671715.000000   688990.000000 44659.000000
2016              686104.000000 672777.000000   690724.000000 45277.000000
2017                        NaN           NaN             NaN 46516.000000
2019                        NaN           NaN             NaN          NaN

                                                                          \
      GRADES_1_8_G   GRADES_4_G   GRADES_8_G GRADES_9_12_G  GRADES_ALL_G
YEAR
1986           NaN 41114.000000 40066.000000           NaN 558415.000000
1987           NaN 43254.000000 40269.000000           NaN 572421.000000
1988           NaN 43540.000000 39317.000000           NaN 574890.000000
1989           NaN 45931.000000 40762.000000           NaN 578580.000000
1990           NaN 47341.000000 42319.000000           NaN 579087.000000
1991           NaN 49387.000000 43176.000000           NaN 593030.000000
1992           NaN 49666.000000 45025.000000           NaN 612635.000000
1993           NaN 48242.000000 47665.000000           NaN 625062.000000
1994           NaN 48233.000000 49332.000000           NaN 640521.000000
1995           NaN 47407.000000 50091.000000           NaN 645586.000000
1996           NaN 47018.000000 49641.000000           NaN 652816.000000
1997 397019.000000 47241.000000 50385.000000 186592.000000 659273.000000
1998 393530.000000 48707.000000 49580.000000 186742.000000 655687.000000
1999 391065.000000 49323.000000 48427.000000 183055.000000 648180.000000
2000 401331.000000 50899.000000 48938.000000 184185.000000 665850.000000
2001 391238.000000 49288.000000 47019.000000 179275.000000 654363.000000
2002 394286.000000 48636.000000 48934.000000 182479.000000 660782.000000
2003 394228.000000 47890.000000 50186.000000 183599.000000 663369.000000
2004 394933.000000 47872.000000 51172.000000 187435.000000 674796.000000
2005 395406.000000 47639.000000 50701.000000 176683.000000 654526.000000
2006 396829.000000 47975.000000 50323.000000 183735.000000 675851.000000
2007 401215.000000 49250.000000 49723.000000 181719.000000 666225.000000
2008 402718.000000 49875.000000 49668.000000 180660.000000 670030.000000
2009 405017.000000 51027.000000 49298.000000 181032.000000 680089.000000
2010 404656.000000 51189.000000 48525.000000 184292.000000 673128.000000
2011 407678.000000 49894.000000 50043.000000 184588.000000 681987.000000
2012 410084.000000 50583.000000 50259.000000 186111.000000 685167.000000
2013 405262.000000 49770.000000 50203.000000 188181.000000 681848.000000
2014 412196.000000 50300.000000 51246.000000 194791.000000 688640.000000
2015 410676.000000 51339.000000 49774.000000 198577.000000 692878.000000
2016 409754.000000 52802.000000 50098.000000 198579.000000 693903.000000
2017           NaN 52970.000000 50627.000000 198841.000000 695092.000000
2019           NaN          NaN          NaN           NaN           NaN

                                                                       \
      GRADES_KG_G  GRADES_PK_G INSTRUCTION_EXPENDITURE  LOCAL_REVENUE
YEAR
1986 43759.000000  1474.500000                     NaN            NaN
1987 47065.000000  1620.000000                     NaN            NaN
1988 46599.000000  1747.000000                     NaN            NaN
1989 45412.000000  1929.000000                     NaN            NaN
1990 45904.000000  1991.000000                     NaN            NaN
1991 45509.000000  2614.000000                     NaN            NaN
1992 45010.000000  4504.000000          1481703.000000 1220524.000000
1993 44864.000000  5151.500000          1564558.000000 1266342.000000
1994 46355.000000  5013.500000          1646310.000000 1423503.000000
1995 45038.000000  5428.500000          1789292.000000 1548260.000000
1996 47374.000000  5043.000000          1879638.000000 1433214.000000
1997 48324.000000  5264.500000          1992346.000000 1540184.000000
1998 46900.000000  5689.500000          2091741.000000 1636157.000000
1999 46274.000000  5815.500000          2236724.000000 1744025.000000
2000 47277.000000  6739.500000          2426139.000000 1726234.000000
2001 45781.000000  7492.500000          2538936.000000 1884913.000000
2002 46666.000000  7865.000000          2659448.000000 1965680.000000
2003 48182.000000  8598.000000          2810907.000000 1956277.000000
2004 49027.000000  8132.000000          2875595.000000 2089445.000000
2005 50266.000000  9979.000000          3053380.000000 2222269.000000
2006 50639.000000 10953.000000          3167501.000000 2342964.000000
2007 49986.000000 12795.000000          3430268.000000 2524723.000000
2008 50643.000000 13686.000000          3745507.000000 2639815.000000
2009 51276.000000 13933.000000          3836398.000000 2755824.000000
2010 52114.000000 14660.000000          3797945.000000 2798622.000000
2011 53053.000000 14568.000000          3689782.000000 2964028.000000
2012 55115.000000 15781.000000          3697663.000000 3069526.000000
2013 54923.000000 15472.000000          3747993.000000 2703800.000000
2014 55134.000000 16206.000000          3824295.000000 2753227.000000
2015 53462.000000 16083.000000          3817479.000000 2856603.000000
2016 52194.000000 18659.000000          3872250.000000 2974057.000000
2017 51920.000000 18734.000000                     NaN            NaN
2019          NaN          NaN                     NaN            NaN

                                                                    \
     OTHER_EXPENDITURE  STATE_REVENUE SUPPORT_SERVICES_EXPENDITURE
YEAR
1986               NaN            NaN                          NaN
1987               NaN            NaN                          NaN
1988               NaN            NaN                          NaN
1989               NaN            NaN                          NaN
1990               NaN            NaN                          NaN
1991               NaN            NaN                          NaN
1992               NaN 1342539.000000                800570.000000
1993     143312.000000 1415407.000000                818922.000000
1994     150749.000000 1478372.000000                961618.000000
1995     204052.000000 1622686.000000               1020793.000000
1996     212389.000000 1822648.000000               1104418.000000
1997     226505.000000 1907516.000000               1133417.000000
1998     240608.000000 2053438.000000               1183620.000000
1999     245363.000000 2259753.000000               1306221.000000
2000     260900.000000 2361704.000000               1384760.000000
2001     269157.000000 2425436.000000               1457593.000000
2002     278099.000000 2536111.000000               1536497.000000
2003     284796.000000 2638985.000000               1546156.000000
2004     329243.000000 2740918.000000               1580654.000000
2005     336579.000000 2886076.000000               1744013.000000
2006     338521.000000 3087795.000000               1962367.000000
2007     371495.000000 3299175.000000               2140586.000000
2008     389371.000000 3487063.000000               2344416.000000
2009     408292.000000 3606594.000000               2331552.000000
2010     400773.000000 3348043.000000               2308399.000000
2011     367172.000000 3269321.000000               2295909.000000
2012     353940.000000 3588546.000000               2320305.000000
2013     365228.000000 3693829.000000               2323851.000000
2014     373620.000000 3902923.000000               2390530.000000
2015     397263.000000 4075118.000000               2417226.000000
2016     399899.000000 4097696.000000               2439634.000000
2017               NaN            NaN                          NaN
2019               NaN            NaN                          NaN

                                                             len         \
     TOTAL_EXPENDITURE  TOTAL_REVENUE CAPITAL_OUTLAY_EXPENDITURE ENROLL
YEAR
1986               NaN            NaN                         51     51
1987               NaN            NaN                         51     51
1988               NaN            NaN                         51     51
1989               NaN            NaN                         51     51
1990               NaN            NaN                         53     53
1991               NaN            NaN                         51     51
1992    2898210.000000 2773959.000000                         53     53
1993    2994038.000000 3031112.000000                         51     51
1994    3113755.000000 3061865.000000                         53     53
1995    3353363.000000 3389646.000000                         51     51
1996    3572283.000000 3594408.000000                         53     53
1997    3921465.000000 3874045.000000                         51     51
1998    4241163.000000 4109130.000000                         53     53
1999    4610436.000000 4365352.000000                         51     51
2000    4807097.000000 4690418.000000                         53     53
2001    4939894.000000 4832946.000000                         51     51
2002    5147821.000000 5128559.000000                         53     53
2003    5298932.000000 5196054.000000                         53     53
2004    5450269.000000 5356113.000000                         51     51
2005    5904664.000000 5889966.000000                         53     53
2006    6112978.000000 6364028.000000                         51     51
2007    6657341.000000 7048732.000000                         53     53
2008    7599993.000000 7726213.000000                         51     51
2009    7815467.000000 7186390.000000                         53     53
2010    7647571.000000 7281058.000000                         51     51
2011    7411768.000000 7376725.000000                         53     53
2012    7444529.000000 7192430.000000                         51     51
2013    7487741.000000 7216175.000000                         53     53
2014    7587737.000000 7357267.000000                         51     51
2015    7554887.000000 7548871.000000                         53     53
2016    7786281.000000 7745928.000000                         51     51
2017               NaN            NaN                         53     53
2019               NaN            NaN                         53     53

                                                                     \
     FEDERAL_REVENUE GRADES_12_G GRADES_1_8_G GRADES_4_G GRADES_8_G
YEAR
1986              51          51           51         51         51
1987              51          51           51         51         51
1988              51          51           51         51         51
1989              51          51           51         51         51
1990              53          53           53         53         53
1991              51          51           51         51         51
1992              53          53           53         53         53
1993              51          51           51         51         51
1994              53          53           53         53         53
1995              51          51           51         51         51
1996              53          53           53         53         53
1997              51          51           51         51         51
1998              53          53           53         53         53
1999              51          51           51         51         51
2000              53          53           53         53         53
2001              51          51           51         51         51
2002              53          53           53         53         53
2003              53          53           53         53         53
2004              51          51           51         51         51
2005              53          53           53         53         53
2006              51          51           51         51         51
2007              53          53           53         53         53
2008              51          51           51         51         51
2009              53          53           53         53         53
2010              51          51           51         51         51
2011              53          53           53         53         53
2012              51          51           51         51         51
2013              53          53           53         53         53
2014              51          51           51         51         51
2015              53          53           53         53         53
2016              51          51           51         51         51
2017              53          53           53         53         53
2019              53          53           53         53         53

                                                         \
     GRADES_9_12_G GRADES_ALL_G GRADES_KG_G GRADES_PK_G
YEAR
1986            51           51          51          51
1987            51           51          51          51
1988            51           51          51          51
1989            51           51          51          51
1990            53           53          53          53
1991            51           51          51          51
1992            53           53          53          53
1993            51           51          51          51
1994            53           53          53          53
1995            51           51          51          51
1996            53           53          53          53
1997            51           51          51          51
1998            53           53          53          53
1999            51           51          51          51
2000            53           53          53          53
2001            51           51          51          51
2002            53           53          53          53
2003            53           53          53          53
2004            51           51          51          51
2005            53           53          53          53
2006            51           51          51          51
2007            53           53          53          53
2008            51           51          51          51
2009            53           53          53          53
2010            51           51          51          51
2011            53           53          53          53
2012            51           51          51          51
2013            53           53          53          53
2014            51           51          51          51
2015            53           53          53          53
2016            51           51          51          51
2017            53           53          53          53
2019            53           53          53          53

                                                                            \
     INSTRUCTION_EXPENDITURE LOCAL_REVENUE OTHER_EXPENDITURE STATE_REVENUE
YEAR
1986                      51            51                51            51
1987                      51            51                51            51
1988                      51            51                51            51
1989                      51            51                51            51
1990                      53            53                53            53
1991                      51            51                51            51
1992                      53            53                53            53
1993                      51            51                51            51
1994                      53            53                53            53
1995                      51            51                51            51
1996                      53            53                53            53
1997                      51            51                51            51
1998                      53            53                53            53
1999                      51            51                51            51
2000                      53            53                53            53
2001                      51            51                51            51
2002                      53            53                53            53
2003                      53            53                53            53
2004                      51            51                51            51
2005                      53            53                53            53
2006                      51            51                51            51
2007                      53            53                53            53
2008                      51            51                51            51
2009                      53            53                53            53
2010                      51            51                51            51
2011                      53            53                53            53
2012                      51            51                51            51
2013                      53            53                53            53
2014                      51            51                51            51
2015                      53            53                53            53
2016                      51            51                51            51
2017                      53            53                53            53
2019                      53            53                53            53


     SUPPORT_SERVICES_EXPENDITURE TOTAL_EXPENDITURE TOTAL_REVENUE
YEAR
1986                           51                51            51
1987                           51                51            51
1988                           51                51            51
1989                           51                51            51
1990                           53                53            53
1991                           51                51            51

In [128]:
#df_grouped_by_year.loc[2009, 'CAPITAL_OUTLAY_EXPENDITURE']

In [137]:
for col in df.columns:
  if col in df_datatype.index: # if df[col].isnull().sum!=0

  #values = {i:df_grouped_by_year.loc[i,col] for i df_grouped_by_year.index}
    for y in df_grouped_by_year.index:
      df_time_series.loc[df_time_series.YEAR==y, col] = df_time_series.loc[df_time_series.YEAR==y, col].fillna(df_grouped_by_year.loc[y, ('median', col)])

  # df_time_series[col] = df_time_series[col].fillna(value=values, Axis=0)

In [138]:
df_time_series.loc[df_time_series['YEAR'] == 1992]

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.000000,304177.000000,1659028.000000,715680.000000,2653798.000000,1481703.000000,735036.000000,NaN,174053.000000,8224.000000,55460.000000,57948.000000,58025.000000,41167.000000,NaN,NaN,731634.000000
1,1992_ALASKA,ALASKA,1992,NaN,1049591.000000,106780.000000,720711.000000,222100.000000,972488.000000,498362.000000,350902.000000,NaN,37451.000000,2371.000000,10152.000000,9748.000000,8789.000000,6714.000000,NaN,NaN,122487.000000
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.000000,297888.000000,1369815.000000,1590376.000000,3401580.000000,1435908.000000,1007732.000000,NaN,609114.000000,2544.000000,53497.000000,55433.000000,49081.000000,37410.000000,NaN,NaN,673477.000000
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.000000,178571.000000,958785.000000,574603.000000,1743022.000000,964323.000000,483488.000000,NaN,145212.000000,808.000000,33511.000000,34632.000000,36011.000000,27651.000000,NaN,NaN,441490.000000
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.000000,2072470.000000,16546514.000000,7641041.000000,27138832.000000,14358922.000000,8520926.000000,NaN,2044688.000000,59067.000000,431763.000000,418418.000000,363296.000000,270675.000000,NaN,NaN,5254844.000000
5,1992_COLORADO,COLORADO,1992,NaN,3185173.000000,163253.000000,1307986.000000,1713934.000000,3264826.000000,1642466.000000,1035970.000000,NaN,364760.000000,7410.000000,47588.000000,50648.000000,45025.000000,34533.000000,NaN,NaN,612635.000000
6,1992_CONNECTICUT,CONNECTICUT,1992,NaN,3834302.000000,143542.000000,1342539.000000,2348221.000000,3721338.000000,2148041.000000,1142600.000000,NaN,48542.000000,5731.000000,41319.000000,38058.000000,33691.000000,28366.000000,NaN,NaN,488476.000000
7,1992_DELAWARE,DELAWARE,1992,NaN,645233.000000,45945.000000,420942.000000,178346.000000,638784.000000,372722.000000,194915.000000,NaN,30595.000000,463.000000,8025.000000,8272.000000,8012.000000,6129.000000,NaN,NaN,104321.000000
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,NaN,709480.000000,64749.000000,0.000000,644731.000000,742893.000000,329160.000000,316679.000000,NaN,47272.000000,4818.000000,6667.000000,5832.000000,5000.000000,3433.000000,NaN,NaN,80937.000000
9,1992_FLORIDA,FLORIDA,1992,NaN,11506299.000000,788420.000000,5683949.000000,5033930.000000,11305642.000000,5166374.000000,3410440.000000,NaN,1667826.000000,31464.000000,161701.000000,164416.000000,142372.000000,100835.000000,NaN,NaN,1981407.000000
10,1992_GEORGIA,GEORGIA,1992,NaN,5536901.000000,398701.000000,2798674.000000,2339526.000000,5535942.000000,3043984.000000,1559059.000000,NaN,526644.000000,3303.000000,100745.000000,99648.000000,92374.000000,63646.000000,NaN,NaN,1207186.000000
11,1992_HAWAII,HAWAII,1992,NaN,996809.000000,71273.000000,903443.000000,22093.000000,1040121.000000,536115.000000,291376.000000,NaN,126212.000000,525.000000,14440.000000,13754.000000,11750.000000,9051.000000,NaN,NaN,177448.000000
12,1992_IDAHO,IDAHO,1992,NaN,859329.000000,69138.000000,531912.000000,258279.000000,886161.000000,473505.000000,246320.000000,NaN,111353.000000,1231.000000,16018.000000,18607.000000,18880.000000,14593.000000,NaN,NaN,231668.000000
13,1992_ILLINOIS,ILLINOIS,1992,NaN,9748650.000000,597077.000000,3073178.000000,6078395.000000,9850560.000000,5010400.000000,3148849.000000,NaN,727858.000000,39682.000000,139237.000000,133120.000000,134317.000000,106475.000000,NaN,NaN,1873567.000000
14,1992_INDIANA,INDIANA,1992,NaN,5060274.000000,257044.000000,2578149.000000,2225081.000000,5182754.000000,2598925.000000,1478639.000000,NaN,536404.000000,3225.000000,66065.000000,73760.000000,75477.000000,62234.000000,NaN,NaN,960630.000000
15,1992_IOWA,IOWA,1992,NaN,2663934.000000,125665.000000,1176205.000000,1362064.000000,2795774.000000,1446478.000000,800570.000000,NaN,222086.000000,4592.000000,36428.000000,37692.000000,36892.000000,33057.000000,NaN,NaN,494839.000000
16,1992_KANSAS,KANSAS,1992,NaN,2245348.000000,121625.000000,903199.000000,1220524.000000,2234915.000000,1165749.000000,708572.000000,NaN,157705.000000,2391.000000,34826.000000,36013.000000,33288.000000,26706.000000,NaN,NaN,451536.000000
17,1992_KENTUCKY,KENTUCKY,1992,NaN,2642902.000000,289902.000000,1643109.000000,709891.000000,2518082.000000,1343438.000000,817871.000000,NaN,136694.000000,14564.000000,46140.000000,49666.000000,49993.000000,38029.000000,NaN,NaN,655041.000000
18,1992_LOUISIANA,LOUISIANA,1992,NaN,3341253.000000,367822.000000,1848734.000000,1124697.000000,3362853.000000,1888349.000000,986486.000000,NaN,135305.000000,11439.000000,61244.000000,61125.000000,55942.000000,38368.000000,NaN,NaN,797985.000000
19,1992_MAINE,MAINE,1992,NaN,1206819.000000,73160.000000,511654.000000,622005.000000,1228869.000000,685350.000000,317880.000000,NaN,97128.000000,1273.000000,17367.000000,17154.000000,15969.000000,13882.000000,NaN,NaN,216453.000000
20,1992_MARYLAND,MARYLAND,1992,NaN,4658498.000000,228336.000000,1778834.000000,2651328.000000,4698374.000000,2628891.000000,1461083.000000,NaN,340298.000000,16081.000000,59641.000000,60287.000000,52815.000000,40426.000000,NaN,NaN,751850.000000
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,NaN,5517659.000000,273946.000000,1439051.000000,3804662.000000,5245560.000000,2751871.000000,1523068.000000,NaN,167247.000000,10722.000000,75159.000000,66822.000000,60702.000000,52425.000000,NaN,NaN,859948.000000
22,1992_MICHIGAN,MICHIGAN,1992,NaN,9963137.000000,537917.000000,2539380.000000,6885840.000000,10170688.000000,4681327.000000,3321276.000000,NaN,825552.000000,10541.000000,135457.000000,118963.000000,114282.000000,90655.000000,NaN,NaN,1603610.000000
23,1992_MINNESOTA,MINNESOTA,1992,NaN,4684684.000000,194092.000000,2380754.000000,2109838.000000,4981125.000000,2534882.000000,1343203.000000,NaN,463724.000000,6394.000000,61966.000000,62606.000000,59810.000000,53813.000000,NaN,NaN,793724.000000
24,1992_MISSISSIPPI,MISSISSIPPI,1992,NaN,1684706.000000,277706.000000,901199.000000,505801.000000,1691990.000000,956104.000000,445364.000000,NaN,131795.000000,818.000000,36423.000000,39839.000000,38132.000000,26328.000000,NaN,NaN,506668.000000
25,1992_MISSOURI,MISSOURI,1992,NaN,4043682.000000,255194.000000,1903124.000000,1885364.000000,4197600.000000,2168135.000000,1221397.000000,NaN,474552.000000,18948.000000,65108.000000,67098.000000,64546.000000,50534.000000,NaN,NaN,859357.000000
26,1992_MONTANA,MONTANA,1992,NaN,828983.000000,69947.000000,337455.000000,421581.000000,781009.000000,412219.000000,241644.000000,NaN,64263.000000,554.000000,11894.000000,12839.000000,12124.000000,10019.000000,NaN,NaN,160011.000000
27,1992_NEBRASKA,NEBRASKA,1992,NaN,1542413.000000,85423.000000,492256.000000,964734.000000,1534046.000000,909159.000000,394690.000000,NaN,132183.000000,3134.000000,21873.000000,22133.000000,21379.000000,18999.000000,NaN,NaN,282414.000000
28,1992_NEVADA,NEVADA,1992,NaN,1097076.000000,45018.000000,724032.000000,328026.000000,1251651.000000,572623.000000,334685.000000,NaN,249189.000000,1038.000000,17839.000000,18487.000000,16250.000000,12242.000000,NaN,NaN,222974.000000
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,NaN,1063391.000000,31020.000000,86296.000000,946075.000000,1066647.000000,581123.000000,310285.000000,NaN,63554.000000,1005.000000,7994.000000,15611.000000,13537.000000,10752.000000,NaN,NaN,181247.000000
30,1992_NEW_JERSEY,NEW_JERSEY,1992,NaN,10814689.000000,416063.000000,4504718.000000,5893908.000000,10452340.000000,6042936.000000,2911782.000000,NaN,474259.000000,9123.000000,87427.000000,82909.000000,77779.000000,67353.000000,NaN,NaN,1130560.000000
31,1992_NEW_MEXICO,NEW_MEXICO,1992,NaN,1330091.000000,161520.000000,990653.000000,177918.000000,1339829.000000,683253.000000,432392.000000,NaN,139206.000000,2072.000000,23723.000000,24447.000000,21690.000000,16027.000000,NaN,NaN,315668.000000
32,1992_NEW_YORK,NEW_YORK,1992,NaN,21630179.000000,1172030.000000,8697663.000000,11760486.000000,22815611.000000,13288972.000000,6132532.000000,NaN,1640971.000000,31290.000000,201674.000000,197698.000000,184815.000000,142822.000000,NaN,NaN,2689686.000000
33,1992_NORTH_CAROLINA,NORTH_CAROLINA,1992,NaN,5236099.000000,389145.000000,3283378.000000,1563576.000000,5418687.000000,2847638.000000,1422278.000000,NaN,774194.000000,6119.000000,89809.000000,85244.000000,84291.000000,63427.000000,NaN,NaN,1114083.000000
34,1992_NORTH_DAKOTA,NORTH_DAKOTA,1992,NaN,559481.000000,51476.000000,242693.000000,265312.000000,553732.000000,315009.000000,152340.000000,NaN,34904.000000,640.000000,8847.000000,9570.000000,9102.000000,8014.000000,NaN,NaN,118734.000000
35,1992_OHIO,OHIO,1992,NaN,9285961.000000,472604.000000,3631703.000000,5181654.000000,9483822.000000,5172782.000000,2961942.000000,NaN,742377.000000,9900.000000,138911.000000,137839.000000,137075.000000,116085.000000,NaN,NaN,1795199.000000
36,1992_OKLAHOMA,OKLAHOMA,1992,NaN,2396705.000000,211627.000000,1470516.000000,714562.000000,2515272.000000,1283577.000000,779828.000000,NaN,194081.000000,4859.000000,45010.000000,48793.000000,44163.000000,33346.000000,NaN,NaN,597096.000000
37,1992_OREGON,OREGON,1992,NaN,2773959.000000,163544.000000,788309.000000,1822106.000000,2898210.000000,1556770.000000,967075.000000,NaN,230464.000000,771.000000,37519.000000,41443.000000,39610.000000,31920.000000,NaN,NaN,510122.000000
38,1992_PENNSYLVANIA,PENNSYLVANIA,1992,NaN,11257252.000000,658139.000000,4227323.000000,6371790.000000,11539253.000000,6075381.000000,3329224.000000,NaN,964457.000000,4416.000000,129233.000000,131248.000000,126293.000000,108244.000000,NaN,NaN,1717613.000000
39,1992_RHODE_ISLAND,RHODE_ISLAND,1992,NaN,883073.000000,43545.000000,329810.000000,509718.000000,863404.000000,556787.000000,265279.000000,NaN,14685.000000,498.000000,10883.000000,11129.000000,10204.000000,8244.000000,NaN,NaN,143798.000000
40,1992_SOUTH_CAROLINA,SOUTH_CAROLINA,1992,NaN,2842626.000000,249903.000000,1350148.000000,1242575.000000,2922293.000000,1544232.000000,768292.000000,NaN,261644.000000,7045.000000,44501.000000,51081.000000,49562.000000,34615.000000,NaN,NaN,640464.000000
41,1992_SOUTH_DAKOTA,SOUTH_DAKOTA,1992,NaN,551668.000000,60671.000000,147834.000000,343163.000000,593126.000000,320561.000000,169697.000000,NaN,65568.000000,705.000000,10266.000000,10645.000000,10498.000000,8259.000000,NaN,NaN,134573.000000
42,1992_TENNESSEE,TENNESSEE,1992,NaN,3080490.000000,308571.000000,1305381.000000,1466538.000000,3132516.000000,1830264.000000,799825.000000,NaN,232437.000000,9613.000000,64463.000000,65195.000000,63358.000000,49639.000000,NaN,NaN,855231.000000
43,1992_TEXAS,TEXAS,1992,NaN,16264180.000000,1160185.000000,6706959.000000,8397036.000000,16119084.000000,7961379.000000,4613884.000000,NaN,1833239.000000,113197.000000,262483.000000,282693.000000,261053.000000,180206.000000,NaN,NaN,3541769.000000
44,1992_UTAH,UTAH,1992,NaN,1555799.000000,105349.000000,872510.000000,577940.000000,1547980.000000,841552.000000,396073.000000,NaN,155425.000000,2611.000000,32652.000000,35956.000000,36813.000000,28775.000000,NaN,NaN,463870.000000
45,1992_VERMONT,VERMONT,1992,NaN,812377.000000,31757.000000,204163.000000,576457.000000,800377.000000,386699.000000,205777.000000,NaN,25781.000000,1780.000000,7978.000000,8329.000000,7227.000000,5573.000000,NaN,NaN,98558.000000
46,1992_VIRGINIA,VIRGINIA,1992,NaN,5631293.000000,313971.000000,2180133.000000,3137189.000000,5744469.000000,2982862.000000,1758078.000000,NaN,523409.000000,1976.000000,82456.000000,79821.000000,76775.000000,60854.000000,NaN,NaN,1031925.000000
47,1992_WASHINGTON,WASHINGTON,1992,NaN,4870832.000000,263053.000000,3467779.000000,1140000.000000,5360834.000000,2587181.000000,1518521.000000,NaN,855759.000000,5075.000000,68562.000000,74098.000000,67285.000000,53986.000000,NaN,NaN,896475.000000
48,1992_WEST_VIRGINIA,WEST_VIRGINIA,1992,NaN,1585099.000000,130117.000000,1021803.000000,433179.000000,1587968.000000,835186.000000,465429.000000,NaN,156015.000000,2308.000000,22081.000000,23556.000000,24791.000000,21844.000000,NaN,NaN,318296.000000
49,1992_WISCONSIN,WISCONSIN,1992,NaN,4993909.000000,217723.000000,2205439.000000,2570747.000000,5181471.000000,2914442.000000,1490415.000000,NaN,416449.000000,16227.000000,61568.000000,63365.000000,60783.000000,55543.000000,NaN,NaN,829415.000000
50,1992_WYOMING,WYOMING,1992,NaN,629748.000000,31714.000000,314216.000000,283818.000000,624941.000000,339953.000000,185930.000000,NaN,60815.000000,4504.000000,7184.000000,8049.000000,8078.000000,6613.000000,NaN,NaN,100313.000000
1634,1992_DODEA,DODEA,1992,NaN,2773959.000000,211627.000000,1342539.000000,1220524.000000,2898210.000000,1481703.000000,800570.000000,NaN,194081.000000,4504.000000,45010.000000,49666.000000,45025.000000,34533.000000,NaN,NaN,612635.000000
1635,1992_NATIONAL,NATIONAL,1992,NaN,2773959.000000,211627.000000,1342539.000000,1220524.000000,2898210.000000,1481703.000000,800570.000000,NaN,194081.000000,4504.000000,45010.000000,49666.000000,45025.000000,34533.000000,NaN,NaN,612635.000000